---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Meeting from "../../components/Meeting.astro";
import HomeGalery from "../../components/HomeGalery.astro";
import WhyDibber from "../../components/WhyDibber.astro";
import Newsletter from "../../components/Newsletter.astro";
import Breadcrump from "../../components/Breadcrump.astro";
---

<Layout title="Filozofia Dibber">
  <Header />
  <Breadcrump
    breadcrumps={[{ name: "Filozofia Dibber", link: "/o-nas/filozofia" }]}
  />
  <section class="pb-[129px]">
    <div class="wrapper">
      <h2
        class="text-2xl lg:text-[54px] lg:leading-[64px] font-bold text-left mb-[54px]"
      >
        Filozofia Dibber
      </h2>
      <div class="dibber-container">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div
            class="rounded-r_20 pt-[26px] pr-[28px] pb-[54px] pl-[34px] bg-secondary-200"
          >
            <span class="text-xl md:text-5xl mb-8 font-bold block">01.</span>
            <p class="text-base md:text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis.
            </p>
          </div>
          <div
            class="rounded-r_20 pt-[26px] pr-[28px] pb-[54px] pl-[34px] bg-secondary-300"
          >
            <span class="text-xl md:text-5xl mb-8 font-bold block">02.</span>
            <p class="text-base md:text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis.
            </p>
          </div>
          <div
            class="rounded-r_20 pt-[26px] pr-[28px] pb-[54px] pl-[34px] bg-secondary-300"
          >
            <span class="text-xl md:text-5xl mb-8 font-bold block">03.</span>
            <p class="text-base md:text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative pb-[113px]">
    <div class="wrapper">
      <div class="flex flex-col md:flex-row">
        <div class="relative flex-2">
          <img
            src="/assets/filozofia.png"
            class="svg-heart-mask"
            width="480"
            height="430"
          />
        </div>
        <div class="md:max-w-[50%] md:-order-1">
          <span
            class="text-2xl lg:text-[54px] lg:leading-[64px] font-bold block mb-10"
            >Dibber International Preschool Lorem ipsum dolor sit amet.</span
          >
          <p class="text-xl lg:text-2xl">
            Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
    <div class="ml-auto hidden lg:block absolute right-0 top-0 -z-10">
      <svg
        width="217"
        height="423"
        viewBox="0 0 217 423"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M351.91 0.873291H70.8329C32.1548 0.873291 0.799988 32.2489 0.799988 70.9526V352.216C0.799988 390.92 32.1548 422.296 70.8329 422.296H351.91C390.588 422.296 421.943 390.92 421.943 352.216V70.9526C421.943 32.2489 390.588 0.873291 351.91 0.873291Z"
          fill="#A79B42"></path>
      </svg>
    </div>
  </section>
  <Meeting />
  <HomeGalery />
  <WhyDibber />
  <Newsletter />
  <Footer />
</Layout>

<script is:inline src="/script.js"></script>
