---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Meeting from "../../components/Meeting.astro";
import HomeGalery from "../../components/HomeGalery.astro";
import WhyDibber from "../../components/WhyDibber.astro";
import Newsletter from "../../components/Newsletter.astro";
import Breadcrump from "../../components/Breadcrump.astro";
---

<Layout title="Filozofia Dibber">
  <Header />
  <Breadcrump
    breadcrumps={[{ name: "Filozofia Dibber", link: "/o-nas/filozofia" }]}
  />
  <section class="pb-[129px]">
    <div class="wrapper">
      <h2
        class="text-2xl lg:text-[54px] lg:leading-[64px] font-bold text-left mb-[54px]"
      >
        Filozofia Dibber
      </h2>
      <div class="dibber-container">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div
            class="rounded-r_20 pt-[26px] pr-[28px] pb-[54px] pl-[34px] bg-secondary-200"
          >
            <span class="text-xl md:text-5xl mb-8 font-bold block">01.</span>
            <p class="text-base md:text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis.
            </p>
          </div>
          <div
            class="rounded-r_20 pt-[26px] pr-[28px] pb-[54px] pl-[34px] bg-secondary-300"
          >
            <span class="text-xl md:text-5xl mb-8 font-bold block">02.</span>
            <p class="text-base md:text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis.
            </p>
          </div>
          <div
            class="rounded-r_20 pt-[26px] pr-[28px] pb-[54px] pl-[34px] bg-secondary-300"
          >
            <span class="text-xl md:text-5xl mb-8 font-bold block">03.</span>
            <p class="text-base md:text-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="relative pb-[113px] pt-4 overflow-hidden animation-hero inView"
  >
    <div class="wrapper relative">
      <div class="flex flex-col md:flex-row">
        <div class="relative flex-2 w-[296px] lg:w-auto image">
          <img
            src="/assets/filozofia.png"
            class="svg-heart-mask"
            width="480"
            height="430"
          />
          <div
            class="absolute top-[-14px] left-[calc(100%_+_22px)] z-[-1] slide-right"
          >
            <svg
              width="422"
              height="414"
              viewBox="0 0 422 414"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="h-[264px] w-auto lg:h-auto"
            >
              <path
                d="M351.11 0H70.033C31.3548 0 0 30.7604 0 68.7053V344.453C0 382.398 31.3548 413.159 70.033 413.159H351.11C389.788 413.159 421.143 382.398 421.143 344.453V68.7053C421.143 30.7604 389.788 0 351.11 0Z"
                fill="#A79B42"></path>
            </svg>
          </div>
        </div>
        <div class="md:max-w-[50%] md:-order-1 mt-8 md:mt-0">
          <span
            class="text-2xl lg:text-[54px] lg:leading-[64px] font-bold block mb-10 title"
            >Dibber International Preschool Lorem ipsum dolor sit amet.</span
          >
          <p class="text-xl lg:text-2xl subtitle">
            Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
  </section>
  <Meeting />
  <HomeGalery />
  <WhyDibber />
  <Newsletter />
  <Footer />
</Layout>

<script is:inline src="/script.js"></script>
