---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Newsletter from "../../components/Newsletter.astro";
import Breadcrump from "../../components/Breadcrump.astro";
---

<Layout title="Dibber na świecie">
  <Header />
  <Breadcrump
    breadcrumps={[
      {
        name: "Dibber na świecie",
        link: "/o-nas/na-swiecie",
      },
    ]}
  />
  <section
    class="relative pb-[113px] pt-4 overflow-hidden animation-hero inView"
  >
    <div class="wrapper">
      <div class="flex flex-col md:flex-row">
        <div class="relative flex-2 w-[296px] lg:w-auto image">
          <img
            src="/assets/filozofia.png"
            class="svg-heart-mask"
            width="480"
            height="430"
          />
          <div
            class="absolute top-[-14px] left-[calc(100%_+_22px)] z-[-1] slide-right"
          >
            <svg
              width="422"
              height="414"
              viewBox="0 0 422 414"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M351.11 0H70.0329C31.3548 0 0 30.7604 0 68.7052V344.454C0 382.399 31.3548 413.159 70.0329 413.159H351.11C389.788 413.159 421.143 382.399 421.143 344.454V68.7052C421.143 30.7604 389.788 0 351.11 0Z"
                fill="#C2F291"></path>
            </svg>
          </div>
        </div>
        <div class="md:max-w-[50%] md:-order-1">
          <h1
            class="text-2xl lg:text-[54px] lg:leading-[64px] font-bold block mb-10 title"
          >
            Dibber International Preschool Lorem ipsum dolor sit amet.
          </h1>
          <p class="text-xl lg:text-2xl subtitle">
            Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white rounded-t-r_20 pt-[84px] pb-[106px]">
    <div class="wrapper">
      <div class="flex flex-wrap md:flex-nowrap items-center">
        <div class="w-full md:w-1/2 text-left mb-8 md:mb-0">
          <h2 class="text-left mb-8">Our Locations</h2>
          <p class="text-lg lg:text-2xl mb-8">
            Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
          <a href="" class="btn primary max-w-max !ml-0">Zarezerwuj</a>
        </div>
        <div class="w-full md:w-1/2">
          <iframe
            width="100%"
            height="512px"
            class="w-full"
            src="https://www-dibber-com.filesusr.com/html/fc9d19_a3bb61dd113b610ab802fde4a4ea84e3.html"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-[99px] pb-[85px]">
    <div class="wrapper">
      <div class="flex flex-wrap justify-center gap-4">
        <div
          class="rounded-r_20 bg-primary-200 w-[206px] h-[206px] text-center py-6 px-9 grid justify-items-center"
        >
          <p>Przedszkola</p>
          <svg
            width="95"
            height="95"
            viewBox="0 0 95 95"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.5183 44.2593H79.6275C81.5138 44.2593 83.0447 45.7902 83.0447 47.6765V51.1529H9.10107V47.6765C9.10107 45.7902 10.632 44.2593 12.5183 44.2593Z"
              fill="#005100"></path>
            <path
              d="M83.0491 51.2029H9.10547V78.5359H83.0491V51.2029Z"
              fill="#E6E0BB"></path>
            <path
              d="M21.2983 36.5728H70.8477V70.5944C70.8477 74.9411 67.3257 78.4722 62.9836 78.4722H29.1625C24.8203 78.4722 21.2983 74.9456 21.2983 70.5944V36.5728Z"
              fill="#E6E0BB"></path>
            <path
              d="M42.4621 58.4019H49.6792C51.5655 58.4019 53.0964 59.9328 53.0964 61.8191V78.4722H39.0449V61.8191C39.0449 59.9328 40.5758 58.4019 42.4621 58.4019Z"
              fill="#005100"></path>
            <path
              d="M51.1149 70.8586H47.3696C46.9277 70.8586 46.5723 70.5032 46.5723 70.0613C46.5723 69.6193 46.9277 69.2639 47.3696 69.2639H51.1149C51.5568 69.2639 51.9122 69.6193 51.9122 70.0613C51.9122 70.5032 51.5568 70.8586 51.1149 70.8586Z"
              fill="#EFF4F0"></path>
            <path
              d="M45.6197 53.6589C48.6041 53.6589 51.028 51.2349 51.028 48.2506C51.028 45.2662 48.6041 42.8423 45.6197 42.8423C42.6354 42.8423 40.2114 45.2662 40.2114 48.2506C40.2114 51.2349 42.6354 53.6589 45.6197 53.6589Z"
              fill="#EFF4F0"></path>
            <path
              d="M45.6196 54.7978C42.0111 54.7978 39.0723 51.859 39.0723 48.2505C39.0723 44.6419 42.0111 41.7031 45.6196 41.7031C49.2282 41.7031 52.167 44.6419 52.167 48.2505C52.167 51.859 49.2282 54.7978 45.6196 54.7978ZM45.6196 43.9813C43.264 43.9813 41.3504 45.8949 41.3504 48.2505C41.3504 50.6061 43.264 52.5197 45.6196 52.5197C47.9752 52.5197 49.8888 50.6061 49.8888 48.2505C49.8888 45.8949 47.9752 43.9813 45.6196 43.9813Z"
              fill="#005100"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M90.9999 78.5358C90.9999 73.4374 86.8628 69.3003 81.7644 69.3003C76.6659 69.3003 72.5288 73.4374 72.5288 78.5358"
              fill="#009B00"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M74.5426 78.536C74.5426 75.7202 72.2599 73.4375 69.4442 73.4375C66.6284 73.4375 64.3457 75.7202 64.3457 78.536"
              fill="#009B00"></path>
            <path
              d="M40.7793 18.1269L21 37H71L51.2207 18.1269C48.2506 15.291 43.7494 15.291 40.7793 18.1269Z"
              fill="#005100"></path>
          </svg>
          <span class="block font-bold text-[32px]">520+</span>
        </div>
        <div
          class="rounded-r_20 bg-primary-200 w-[206px] h-[206px] text-center py-6 px-9 grid justify-items-center"
        >
          <p>Pracownicy</p>
          <svg
            width="97"
            height="96"
            viewBox="0 0 97 96"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M76.8617 90.4256C76.8617 74.3969 63.5719 61.4043 47.1809 61.4043C30.7898 61.4043 17.5 74.3969 17.5 90.4256"
              fill="#2F991E"></path>
            <path
              d="M54.792 38.3818C51.7022 37.2104 49.2841 35.0342 47.7742 32.3635C46.3986 34.7923 44.2707 36.8289 41.5302 38.0648C36.7531 40.2196 31.3958 39.3813 27.5376 36.356V47.4362C27.5376 58.4948 36.5006 67.4578 47.5592 67.4578C58.6179 67.4578 67.5809 58.4948 67.5809 47.4362V36.6731C63.9968 39.2631 59.2251 40.0637 54.7866 38.3818H54.792Z"
              fill="#CADCCC"></path>
            <path
              d="M67.4685 29.7628C67.4256 29.3598 67.3664 28.9676 67.302 28.5699C65.6792 19.1341 57.4631 11.9551 47.5705 11.9551C37.6779 11.9551 28.9997 19.5425 27.7154 29.3706C27.6993 29.4995 27.6832 29.6339 27.667 29.7628L27.5435 31.9875V36.3561C31.3963 39.3814 36.759 40.2143 41.536 38.0649C44.2765 36.829 46.4044 34.7978 47.78 32.3636C49.29 35.0342 51.7027 37.2105 54.7978 38.3819C59.2417 40.0638 64.0134 39.2632 67.5921 36.6732V31.9875L67.4685 29.7628Z"
              fill="#005100"></path>
            <path
              d="M47.786 61.4042C45.5669 61.4042 43.7522 60.1806 42.8241 59.1449C42.4715 58.7522 42.4767 58.1205 42.8396 57.7335C43.1974 57.3465 43.7677 57.3522 44.1203 57.7449C44.2707 57.9099 47.563 61.427 51.6228 57.6823C52.0065 57.3294 52.5768 57.3863 52.9035 57.8018C53.2249 58.2229 53.1783 58.8489 52.7946 59.2075C51.0421 60.8237 49.3207 61.4042 47.7912 61.4042H47.786Z"
              fill="#005100"></path>
            <path
              d="M63.6704 25.7872C69.4987 25.7872 74.2236 21.3577 74.2236 15.8936C74.2236 10.4295 69.4987 6 63.6704 6C57.842 6 53.1172 10.4295 53.1172 15.8936C53.1172 21.3577 57.842 25.7872 63.6704 25.7872Z"
              fill="#005100"></path>
            <path
              d="M39.2658 48.2126C40.3617 48.2126 41.2446 47.0297 41.2446 45.5743C41.2446 44.1189 40.3617 42.936 39.2658 42.936C38.1699 42.936 37.2871 44.1131 37.2871 45.5743C37.2871 47.0355 38.1743 48.2126 39.2658 48.2126Z"
              fill="#005100"></path>
            <path
              d="M56.4152 48.2126C57.5068 48.2126 58.394 47.0297 58.394 45.5743C58.394 44.1189 57.5068 42.936 56.4152 42.936C55.3237 42.936 54.4365 44.1131 54.4365 45.5743C54.4365 47.0355 55.3193 48.2126 56.4152 48.2126Z"
              fill="#005100"></path>
            <path
              d="M78.5807 76.2518L79.1664 77.0417C80.0421 78.229 79.0804 79.8775 77.6029 79.7185L76.6196 79.6125C75.8782 79.533 75.169 79.9358 74.8735 80.609L74.4705 81.5048C73.8688 82.8459 71.9399 82.8459 71.3382 81.5048L70.9352 80.609C70.6343 79.9358 69.9305 79.533 69.189 79.6125L68.2058 79.7185C66.7283 79.8775 65.7666 78.229 66.6423 77.0417L67.228 76.2518C67.6685 75.6582 67.6685 74.8525 67.228 74.2588L66.6423 73.469C65.7666 72.2816 66.7283 70.6331 68.2058 70.7921L69.189 70.8981C69.9305 70.9777 70.6397 70.5748 70.9352 69.9016L71.3382 69.0058C71.9399 67.6647 73.8688 67.6647 74.4705 69.0058L74.8735 69.9016C75.1744 70.5748 75.8782 70.9777 76.6196 70.8981L77.6029 70.7921C79.0804 70.6331 80.0421 72.2816 79.1664 73.469L78.5807 74.2588C78.1401 74.8525 78.1401 75.6635 78.5807 76.2518Z"
              fill="#E5E0C3"></path>
            <path
              d="M50.8663 53.4893H46.129C45.8326 53.4893 45.5521 53.3422 45.3774 53.0916C45.2028 52.8411 45.1551 52.5251 45.2504 52.231L46.7695 47.5462C46.9283 47.045 47.4576 46.7781 47.9393 46.9415C48.4262 47.1104 48.6856 47.6497 48.5268 48.1454L47.4152 51.5718H50.8716C51.385 51.5718 51.7979 51.9967 51.7979 52.5251C51.7979 53.0535 51.385 53.4784 50.8716 53.4784L50.8663 53.4893Z"
              fill="#005100"></path>
          </svg>

          <span class="block font-bold text-[32px]">9000+</span>
        </div>
        <div
          class="rounded-r_20 bg-primary-200 w-[206px] h-[206px] text-center py-6 px-9 grid justify-items-center"
        >
          <p>Dzieci</p>
          <svg
            width="95"
            height="95"
            viewBox="0 0 95 95"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M51.992 25.7539C49.0606 29.3639 43.9668 30.7075 39.5244 28.717C35.9325 27.1065 33.6887 23.7318 33.3494 20.072C32.9015 23.8358 30.4315 27.2242 26.6451 28.6673C22.3294 30.3139 17.602 28.9251 14.8063 25.5594C10.0653 30.2958 7.12939 36.8463 7.12939 44.0754C7.12939 58.5334 18.8506 70.2501 33.3042 70.2501C47.7577 70.2501 59.4789 58.5289 59.4789 44.0754C59.4789 36.9413 56.6199 30.4723 51.992 25.7539Z"
              fill="#CBDDCD"></path>
            <path
              d="M33.381 17.9006H33.3041C26.0796 17.9006 19.5382 20.8275 14.8018 25.5594C17.5975 28.9252 22.3249 30.314 26.6406 28.6673C30.427 27.2242 32.897 23.8313 33.3449 20.0721C33.6841 23.7318 35.9279 27.1066 39.5199 28.7171C43.9668 30.7075 49.056 29.364 51.9875 25.754C47.251 20.9271 40.6644 17.9233 33.3765 17.9006H33.381Z"
              fill="#005100"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28.7715 56.2581C28.7715 58.9 30.9158 61.0397 33.5577 61.0397C36.1996 61.0397 38.3484 58.9045 38.3484 56.2581H28.7715Z"
              fill="#005100"></path>
            <path
              d="M22.9671 43.4556C24.3514 43.4556 25.4733 42.3337 25.4733 40.9494C25.4733 39.5651 24.3514 38.4478 22.9671 38.4478C21.5828 38.4478 20.4609 39.5651 20.4609 40.9494C20.4609 42.3337 21.5828 43.4556 22.9671 43.4556Z"
              fill="#005100"></path>
            <path
              d="M43.1253 43.4556C44.5096 43.4556 45.6315 42.3337 45.6315 40.9494C45.6315 39.5651 44.5096 38.4478 43.1253 38.4478C41.741 38.4478 40.6191 39.5651 40.6191 40.9494C40.6191 42.3337 41.741 43.4556 43.1253 43.4556Z"
              fill="#005100"></path>
            <path
              d="M36.3578 50.0016H30.2507C29.9928 50.0016 29.7531 49.8749 29.6038 49.6668C29.4545 49.4587 29.4183 49.1873 29.5043 48.9476L31.4585 43.3968C31.6033 42.9852 32.0557 42.768 32.4674 42.9128C32.879 43.0576 33.0962 43.5099 32.9514 43.9216L31.3681 48.4137H36.3533C36.7921 48.4137 37.145 48.7666 37.145 49.2054C37.145 49.6442 36.7921 49.9971 36.3533 49.9971L36.3578 50.0016Z"
              fill="#005100"></path>
            <path
              d="M63.3064 81.5554C73.6343 81.5554 82.0124 73.1909 82.0124 62.8721C82.0124 52.5532 73.6388 44.1887 63.3064 44.1887C52.974 44.1887 44.605 52.5532 44.605 62.8721C44.605 73.1909 52.9786 81.5554 63.3064 81.5554Z"
              fill="#E5E0C3"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M61.2345 71.7749C61.2345 74.0006 63.0395 75.8056 65.2652 75.8056C67.4909 75.8056 69.2959 74.0006 69.2959 71.7749H61.23H61.2345Z"
              fill="#005100"></path>
            <path
              d="M57.0315 64.2109C58.176 64.2109 59.1079 63.2836 59.1079 62.139C59.1079 60.9945 58.1806 60.0671 57.0315 60.0671C55.8825 60.0671 54.9551 60.9945 54.9551 62.139C54.9551 63.2836 55.8825 64.2109 57.0315 64.2109Z"
              fill="#005100"></path>
            <path
              d="M73.7337 64.2109C74.8782 64.2109 75.8101 63.2836 75.8101 62.139C75.8101 60.9945 74.8827 60.0671 73.7337 60.0671C72.5846 60.0671 71.6572 60.9945 71.6572 62.139C71.6572 63.2836 72.5846 64.2109 73.7337 64.2109Z"
              fill="#005100"></path>
            <path
              d="M61.1982 44.3108C61.334 45.0844 61.6054 52.8382 68.7213 55.2765C73.6523 56.9684 78.9497 55.1092 81.7544 50.997C76.2716 46.2787 68.9475 43.4422 61.1982 44.3108Z"
              fill="#005100"></path>
            <path
              d="M64.7224 68.2826C64.0845 68.2826 63.4422 68.0971 62.8767 67.708C62.5148 67.4592 62.4243 66.9661 62.6731 66.6088C62.9219 66.2469 63.415 66.1564 63.7724 66.4052C64.5369 66.9299 65.591 66.7354 66.1157 65.9709C66.3691 65.6 66.4641 65.1521 66.3826 64.7088C66.3012 64.2654 66.0524 63.8809 65.6814 63.6276C65.3195 63.3788 65.2291 62.8857 65.4779 62.5283C65.7267 62.1664 66.2198 62.0759 66.5772 62.3247C67.2964 62.8178 67.7805 63.5642 67.9388 64.4238C68.0971 65.2833 67.9117 66.1519 67.4186 66.8711C66.7852 67.794 65.7629 68.2871 64.7224 68.2871V68.2826Z"
              fill="#005100"></path>
            <path
              d="M43.5236 65.0526C45.0177 65.0526 46.2288 63.8414 46.2288 62.3473C46.2288 60.8533 45.0177 59.6421 43.5236 59.6421C42.0295 59.6421 40.8184 60.8533 40.8184 62.3473C40.8184 63.8414 42.0295 65.0526 43.5236 65.0526Z"
              fill="#E5E0C3"></path>
            <path
              d="M83.2428 65.5093C84.7369 65.5093 85.9481 64.2982 85.9481 62.8041C85.9481 61.3101 84.7369 60.0989 83.2428 60.0989C81.7488 60.0989 80.5376 61.3101 80.5376 62.8041C80.5376 64.2982 81.7488 65.5093 83.2428 65.5093Z"
              fill="#E5E0C3"></path>
          </svg>

          <span class="block font-bold text-[32px]">4000+</span>
        </div>
        <div
          class="rounded-r_20 bg-primary-200 w-[206px] h-[206px] text-center py-6 px-9 grid justify-items-center"
        >
          <p>Kraje</p>
          <svg
            width="95"
            height="95"
            viewBox="0 0 95 95"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_150_6159)">
              <path
                d="M55.3455 61.9082C53.9865 64.6735 52.3529 66.7049 50.6104 67.865C61.7474 66.3356 70.4742 57.2489 71.4496 45.9414H58.9868C58.7311 51.9882 57.4621 57.5945 55.3407 61.9082H55.3455Z"
                fill="#F1F4F0"></path>
              <path
                d="M39.2085 61.9082C37.0872 57.5945 35.8181 51.9929 35.5624 45.9414H23.0996C24.075 57.2347 32.7782 66.3119 43.901 67.8603C42.4331 66.8848 40.7758 65.1044 39.2037 61.9082H39.2085Z"
                fill="#F1F4F0"></path>
              <path
                d="M55.3457 25.4289C57.718 30.2539 59.0249 36.6984 59.0391 43.5738H71.5445C71.4214 31.5987 62.6331 21.7023 51.1504 19.8604C52.6893 21.0583 54.1288 22.9524 55.3457 25.4289Z"
                fill="#F1F4F0"></path>
              <path
                d="M39.2083 25.4289C40.4252 22.9524 41.8694 21.0631 43.4083 19.8604C31.9257 21.7023 23.1373 31.5987 23.0142 43.5738H35.5196C35.5338 36.6984 36.8407 30.2587 39.213 25.4289H39.2083Z"
                fill="#F1F4F0"></path>
              <path
                d="M47.2768 20.7363C45.3212 20.7363 43.0957 22.8813 41.3342 26.4753C39.1513 30.9216 37.8965 37.1482 37.8823 43.5738H56.6713C56.6571 37.1435 55.4023 30.9168 53.2194 26.4753C51.4532 22.8813 49.2324 20.7363 47.2768 20.7363Z"
                fill="#F1F4F0"></path>
              <path
                d="M41.3295 60.8618C43.0957 64.4557 45.3165 66.6007 47.2721 66.6007C49.2277 66.6007 51.4532 64.4557 53.2147 60.8618C55.1513 56.9221 56.354 51.5809 56.6145 45.9414H37.9297C38.1854 51.5809 39.3928 56.9221 41.3295 60.8618Z"
                fill="#F1F4F0"></path>
              <path
                d="M71.5444 43.5738H59.039C59.0248 36.6985 57.7179 30.2587 55.3456 25.4289C54.1287 22.9524 52.6892 21.0631 51.1503 19.8604C49.8907 19.6568 48.5981 19.5479 47.277 19.5479C45.9559 19.5479 44.6679 19.6568 43.4036 19.8604C41.8647 21.0584 40.4205 22.9524 39.2036 25.4289C36.8313 30.2587 35.5244 36.6985 35.5102 43.5738H23.0047C23.0047 43.6591 23 43.7396 23 43.8248C23 44.5398 23.0379 45.2453 23.0994 45.9414H35.5623C35.818 51.9881 37.087 57.5898 39.2083 61.9082C40.7804 65.1044 42.4329 66.8848 43.9056 67.8603C45.0088 68.0118 46.1358 68.097 47.2817 68.097C48.4276 68.097 49.5261 68.0118 50.6152 67.865C52.353 66.7049 53.9914 64.6735 55.3503 61.9082C57.4717 57.5945 58.7407 51.9929 58.9964 45.9414H71.4592C71.5208 45.2453 71.5586 44.5398 71.5586 43.8248C71.5586 43.7396 71.5539 43.6591 71.5539 43.5738H71.5444ZM41.3344 60.8618C39.3977 56.9221 38.195 51.5809 37.9346 45.9414H56.6193C56.3636 51.5809 55.1562 56.9221 53.2195 60.8618C51.4533 64.4557 49.2326 66.6007 47.277 66.6007C45.3214 66.6007 43.0958 64.4557 41.3344 60.8618ZM53.2243 26.4753C55.4072 30.9169 56.662 37.1483 56.6762 43.5738H37.8872C37.9014 37.1483 39.1562 30.9169 41.3391 26.4753C43.1053 22.8814 45.3261 20.7364 47.2817 20.7364C49.2373 20.7364 51.4628 22.8814 53.2243 26.4753Z"
                fill="#C2F291"></path>
              <path
                d="M51.4108 12.8287C50.1134 12.6535 48.9202 13.5532 48.7402 14.8506C48.5603 16.148 49.4647 17.3413 50.7621 17.5212C64.0015 19.3489 73.628 30.6753 73.718 43.6685C74.1441 43.8484 74.4424 44.2699 74.4424 44.7576C74.4424 45.2785 74.1063 45.7141 73.6422 45.8703C73.5996 46.4101 73.5475 46.9547 73.4717 47.4992C72.501 54.5356 68.8503 60.7765 63.1871 65.0618C57.5239 69.3471 50.5301 71.1796 43.4937 70.2089C42.1915 70.0337 41.003 70.9333 40.8231 72.2308C40.6432 73.5282 41.5476 74.7214 42.845 74.9014C44.2987 75.1002 45.7476 75.1997 47.1918 75.1997C53.9773 75.1997 60.5449 73.0026 66.0471 68.8357C72.7189 63.7833 77.0184 56.4344 78.1642 48.1432C80.5223 31.0305 68.5235 15.1868 51.4108 12.8287Z"
                fill="#009C00"></path>
              <path
                d="M74.4423 44.7575C74.4423 44.2651 74.144 43.8484 73.7179 43.6685C73.7226 44.3977 73.6989 45.1363 73.6421 45.875C74.1061 45.714 74.4423 45.2784 74.4423 44.7623V44.7575Z"
                fill="#009C00"></path>
              <path
                d="M55.6959 83.7417C55.6959 78.8646 51.7421 74.906 46.8601 74.906C41.9782 74.906 38.0244 78.8598 38.0244 83.7417"
                fill="#005100"></path>
            </g>
            <defs>
              <clipPath id="clip0_150_6159">
                <rect width="95" height="95" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>

          <span class="block font-bold text-[32px]">9+</span>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white pt-[72px] pb-[119px] -mb-[53px]">
    <div class="wrapper">
      <h2 class="mb-[50px]">Nasze lokalizacje</h2>
      <div class="flex flex-wrap justify-center gap-x-4 gap-y-8">
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_152_12107)">
              <path d="M0 0H60V45H0V0Z" fill="#EF2B2D"></path>
              <path d="M16.875 0H28.125V45H16.875V0Z" fill="white"></path>
              <path d="M0 16.875H60V28.125H0V16.875Z" fill="white"></path>
              <path d="M19.6875 0H25.3125V45H19.6875V0Z" fill="#002868"></path>
              <path d="M0 19.6875H60V25.3125H0V19.6875Z" fill="#002868"></path>
            </g>
            <defs>
              <clipPath id="clip0_152_12107">
                <rect width="60" height="45" rx="8" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
          <h5 class="ml-6">Norwegia</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_152_12409)">
              <path d="M0 0H60V45H0V0Z" fill="#EF2B2D"></path>
              <path d="M16.875 0H28.125V45H16.875V0Z" fill="white"></path>
              <path d="M0 16.875H60V28.125H0V16.875Z" fill="white"></path>
              <path d="M19.6875 0H25.3125V45H19.6875V0Z" fill="#002868"></path>
              <path d="M0 19.6875H60V25.3125H0V19.6875Z" fill="#002868"></path>
              <g clip-path="url(#clip1_152_12409)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M-30 -22.5H90V67.5H-30V-22.5Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M-30 -22.5H90V13.5H-30V-22.5ZM-30 31.5H90V67.5H-30V31.5Z"
                  fill="#981E32"></path>
              </g>
              <g clip-path="url(#clip2_152_12409)">
                <path d="M0 0H60V45H0V0Z" fill="#066AA7"></path>
                <path d="M0 18H60V27H0V18Z" fill="#FECC00"></path>
                <path d="M16.5 0H25.5V45H16.5V0Z" fill="#FECC00"></path>
              </g>
              <g clip-path="url(#clip3_152_12409)">
                <mask
                  id="mask0_152_12409"
                  style="mask-type:luminance"
                  maskUnits="userSpaceOnUse"
                  x="-4"
                  y="-2"
                  width="68"
                  height="51"
                >
                  <path
                    d="M-3.01709 -1.5H63.1525V48.132H-3.01709V-1.5Z"
                    fill="white"></path>
                </mask>
                <g mask="url(#mask0_152_12409)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M65.5178 48.132H-5.38232V-1.5H65.5178V48.132Z"
                    fill="#BA0000"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M29.0591 22.5212C29.0591 22.5212 24.0572 20.3692 24.7745 14.7856C25.4627 12.1004 26.6939 10.2683 28.9137 9.26983C29.9606 8.94993 31.027 8.80453 32.1127 8.71729C31.8218 8.98871 31.5892 9.26014 31.4632 9.58972C31.2305 10.2101 31.405 10.7917 31.7249 11.3831C32.1224 12.0616 32.3647 12.7596 32.4422 13.6708C32.5151 14.2917 32.4226 14.9209 32.174 15.4946C31.9255 16.0682 31.5298 16.566 31.027 16.9376C30.3872 17.432 29.6311 17.6065 29.0107 18.1687C28.526 18.634 28.2352 19.109 28.1382 19.9233C28.1188 21.484 28.5357 21.7069 29.0591 22.5212Z"
                    fill="white"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M28.0996 14.4461V14.417V14.4461Z"
                    fill="#BA0000"></path>
                  <path
                    d="M28.0996 14.4461V14.417"
                    stroke="black"
                    stroke-width="0.370125"></path>
                  <path
                    d="M28.4198 21.9396C26.481 20.2238 26.6458 15.8907 28.129 14.4463"
                    stroke="#BA0000"
                    stroke-width="0.370125"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M29.321 13.477L29.6409 14.0102L29.0593 13.7678L28.6037 14.2525L28.6812 13.6224L28.0996 13.3801L28.7297 13.2347L28.8073 12.6143L29.1271 13.1474L29.7669 13.002"
                    fill="#BA0000"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M29.4868 22.1527C29.4868 22.1527 30.0684 16.7339 35.623 15.7839C38.3954 15.6676 40.5086 16.2977 42.1178 18.1395C42.7285 19.041 43.1744 20.0201 43.5718 21.0282C43.2326 20.8343 42.9127 20.6889 42.5443 20.6695C41.8948 20.6211 41.381 20.9604 40.9157 21.4353C40.3724 22.0368 39.6949 22.5018 38.9382 22.7925C38.3666 23.0452 37.7383 23.1425 37.117 23.0744C36.4956 23.0063 35.9033 22.7753 35.4 22.4047C34.7408 21.9297 34.3531 21.2609 33.6357 20.8343C33.0528 20.4878 32.3618 20.3703 31.697 20.5047C30.1945 20.9507 30.1169 21.416 29.4868 22.1527Z"
                    fill="white"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M36.9209 18.8765H36.95H36.9209Z"
                    fill="#BA0000"></path>
                  <path
                    d="M36.9209 18.8765H36.95"
                    stroke="black"
                    stroke-width="0.370125"></path>
                  <path
                    d="M29.8442 21.3773C30.9299 19.012 35.1176 17.9069 36.9304 18.8957"
                    stroke="#BA0000"
                    stroke-width="0.370125"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M38.2098 19.7586L37.793 20.2142L37.8512 19.5841L37.2695 19.2933L37.8802 19.1964L37.9384 18.5469L38.268 19.1285L38.8884 19.0122L38.4716 19.4678L38.7914 20.0494"
                    fill="#BA0000"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M29.8545 22.5405C29.8545 22.5405 35.1861 21.3773 37.8421 26.3502C38.8406 28.9384 38.9085 31.1389 37.6773 33.2424C37.0182 34.1149 36.2233 34.8419 35.3993 35.5495C35.4769 35.1618 35.5059 34.8128 35.409 34.4638C35.2539 33.8241 34.7692 33.446 34.1682 33.1552C33.4225 32.8291 32.7647 32.3307 32.2488 31.7011C31.8306 31.2392 31.5415 30.6752 31.4104 30.066C31.2794 29.4568 31.3111 28.8238 31.5024 28.2308C31.7351 27.4553 32.2488 26.8736 32.4233 26.0594C32.5684 25.3982 32.4612 24.7068 32.1228 24.1206C31.2213 22.841 30.756 22.9089 29.8545 22.5405Z"
                    fill="white"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M35.3213 28.5605L35.3407 28.5799L35.3213 28.5605Z"
                    fill="#BA0000"></path>
                  <path
                    d="M35.3213 28.5605L35.3407 28.5799"
                    stroke="black"
                    stroke-width="0.370125"></path>
                  <path
                    d="M30.7173 22.6372C33.2958 22.9183 35.6708 26.5341 35.3121 28.5795"
                    stroke="#BA0000"
                    stroke-width="0.370125"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M34.8957 30.063L34.3237 29.811L34.9538 29.6656L35.0314 29.0161L35.3319 29.5687L35.962 29.4233L35.5258 29.9079L35.8166 30.4605L35.2543 30.2084L34.8181 30.7028"
                    fill="#BA0000"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M29.7383 23.0932C29.7383 23.0932 32.3459 27.8819 28.3327 31.8176C26.1225 33.5043 24.0286 34.1925 21.6634 33.6012C20.6455 33.2135 19.7246 32.6609 18.8037 32.0599C19.1915 32.0308 19.5501 31.963 19.8603 31.7691C20.4226 31.4395 20.6455 30.8676 20.7618 30.2181C20.8627 29.4081 21.1552 28.6339 21.6149 27.9595C21.9402 27.4273 22.4 26.9903 22.948 26.6924C23.496 26.3946 24.1128 26.2465 24.7363 26.263C25.5506 26.2727 26.2485 26.612 27.0822 26.5539C27.751 26.4666 28.2745 26.2824 28.8658 25.7008C29.8352 24.4891 29.6413 24.0529 29.7383 23.0835V23.0932Z"
                    fill="white"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M25.4916 30.0337L25.4819 30.0531L25.4916 30.0337Z"
                    fill="#BA0000"></path>
                  <path
                    d="M25.4916 30.0337L25.4819 30.0531"
                    stroke="black"
                    stroke-width="0.370125"></path>
                  <path
                    d="M29.8741 23.9363C30.3491 26.4954 27.5379 29.801 25.4731 30.0143"
                    stroke="#BA0000"
                    stroke-width="0.370125"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23.9309 30.0437L24.0181 29.4233L24.338 29.9759L24.9778 29.8789L24.5319 30.3249L24.8518 30.8774L24.2605 30.5963L23.8146 31.0422L23.8921 30.4218L23.3008 30.1407"
                    fill="#BA0000"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M29.1474 22.9866C29.1474 22.9866 25.5025 27.0386 20.4424 24.5764C18.1159 23.0544 16.7781 21.2999 16.5552 18.8764C16.5843 17.781 16.7878 16.7341 17.0496 15.6775C17.2144 16.0265 17.3985 16.3367 17.6797 16.5693C18.174 16.9861 18.7944 17.0055 19.4536 16.8989C20.2448 16.7256 21.0661 16.7456 21.848 16.9571C22.4602 17.0859 23.0274 17.3744 23.4921 17.7932C23.9569 18.212 24.3027 18.7462 24.4944 19.3417C24.7561 20.1075 24.6688 20.883 25.0081 21.6488C25.2989 22.2499 25.6479 22.6764 26.3943 23.0447C27.8678 23.5585 28.2071 23.2289 29.1474 22.9963V22.9866Z"
                    fill="white"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M21.1888 21.2997L21.1694 21.29L21.1888 21.2997Z"
                    fill="#BA0000"></path>
                  <path
                    d="M21.1888 21.2997L21.1694 21.29"
                    stroke="black"
                    stroke-width="0.370125"></path>
                  <path
                    d="M28.39 23.4031C26.1411 24.6924 22.0891 23.1414 21.1973 21.2705"
                    stroke="#BA0000"
                    stroke-width="0.370125"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.6641 19.8263L21.2748 19.7003L20.8579 20.185L21.1584 20.7569L20.5962 20.4855L20.1794 20.9702L20.2472 20.311L19.6753 20.0396L20.286 19.9136L20.3539 19.2544"
                    fill="#BA0000"></path>
                </g>
              </g>
              <g clip-path="url(#clip4_152_12409)">
                <path d="M-1.5 30.5H61.5V46.5H-1.5V30.5Z" fill="#FFCE00"></path>
                <path d="M-1.5 -1.5H61.5V14.5H-1.5V-1.5Z" fill="black"></path>
                <path d="M-1.5 14.5H61.5V30.5H-1.5V14.5Z" fill="#DD0000"></path>
              </g>
            </g>
            <defs>
              <clipPath id="clip0_152_12409">
                <rect width="60" height="45" rx="6" fill="white"></rect>
              </clipPath>
              <clipPath id="clip1_152_12409">
                <rect
                  width="120"
                  height="90"
                  fill="white"
                  transform="translate(-30 -22.5)"></rect>
              </clipPath>
              <clipPath id="clip2_152_12409">
                <rect width="60" height="45" fill="white"></rect>
              </clipPath>
              <clipPath id="clip3_152_12409">
                <rect
                  width="66"
                  height="49.5"
                  fill="white"
                  transform="translate(-3 -1.5)"></rect>
              </clipPath>
              <clipPath id="clip4_152_12409">
                <rect
                  width="63"
                  height="48"
                  fill="white"
                  transform="translate(-1.5 -1.5)"></rect>
              </clipPath>
            </defs>
          </svg>

          <h5 class="ml-6">Niemcy</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_152_12142)">
              <path d="M0 0H60V45H0V0Z" fill="#EF2B2D"></path>
              <path d="M16.875 0H28.125V45H16.875V0Z" fill="white"></path>
              <path d="M0 16.875H60V28.125H0V16.875Z" fill="white"></path>
              <path d="M19.6875 0H25.3125V45H19.6875V0Z" fill="#002868"></path>
              <path d="M0 19.6875H60V25.3125H0V19.6875Z" fill="#002868"></path>
              <g clip-path="url(#clip1_152_12142)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M-30 -22.5H90V67.5H-30V-22.5Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M-30 -22.5H90V13.5H-30V-22.5ZM-30 31.5H90V67.5H-30V31.5Z"
                  fill="#981E32"></path>
              </g>
              <g clip-path="url(#clip2_152_12142)">
                <path d="M0 0H60V45H0V0Z" fill="#066AA7"></path>
                <path d="M0 18H60V27H0V18Z" fill="#FECC00"></path>
                <path d="M16.5 0H25.5V45H16.5V0Z" fill="#FECC00"></path>
              </g>
            </g>
            <defs>
              <clipPath id="clip0_152_12142">
                <rect width="60" height="45" rx="6" fill="white"></rect>
              </clipPath>
              <clipPath id="clip1_152_12142">
                <rect
                  width="120"
                  height="90"
                  fill="white"
                  transform="translate(-30 -22.5)"></rect>
              </clipPath>
              <clipPath id="clip2_152_12142">
                <rect width="60" height="45" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>

          <h5 class="ml-6">Szwecja</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M64.5 48H-4.5V-3H64.5V48Z"
              fill="white"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M64.5 48H-4.5V22.5H64.5V48Z"
              fill="#DC143C"></path>
          </svg>

          <h5 class="ml-6">Polska</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_362_8343"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="-4"
              y="-2"
              width="68"
              height="51"
            >
              <path
                d="M-3.01709 -1.5H63.1525V48.132H-3.01709V-1.5Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask0_362_8343)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M65.5178 48.132H-5.38232V-1.5H65.5178V48.132Z"
                fill="#BA0000"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.0591 22.5212C29.0591 22.5212 24.0572 20.3692 24.7745 14.7856C25.4627 12.1004 26.6939 10.2683 28.9137 9.26983C29.9606 8.94993 31.027 8.80453 32.1127 8.71729C31.8218 8.98871 31.5892 9.26014 31.4632 9.58972C31.2305 10.2101 31.405 10.7917 31.7249 11.3831C32.1224 12.0616 32.3647 12.7596 32.4422 13.6708C32.5151 14.2917 32.4226 14.9209 32.174 15.4946C31.9255 16.0682 31.5298 16.566 31.027 16.9376C30.3872 17.432 29.6311 17.6065 29.0107 18.1687C28.526 18.634 28.2352 19.109 28.1382 19.9233C28.1188 21.484 28.5357 21.7069 29.0591 22.5212Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M28.0996 14.4463V14.4172V14.4463Z"
                fill="#BA0000"></path>
              <path
                d="M28.0996 14.4463V14.4172"
                stroke="black"
                stroke-width="0.370125"></path>
              <path
                d="M28.4198 21.9396C26.481 20.2238 26.6458 15.8907 28.129 14.4463"
                stroke="#BA0000"
                stroke-width="0.370125"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.321 13.4769L29.6409 14.01L29.0593 13.7677L28.6037 14.2524L28.6812 13.6223L28.0996 13.3799L28.7297 13.2345L28.8073 12.6141L29.1271 13.1473L29.7669 13.0019"
                fill="#BA0000"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.4868 22.1527C29.4868 22.1527 30.0684 16.7339 35.623 15.7839C38.3954 15.6676 40.5086 16.2977 42.1178 18.1395C42.7285 19.041 43.1744 20.0201 43.5718 21.0282C43.2326 20.8343 42.9127 20.6889 42.5443 20.6695C41.8948 20.6211 41.381 20.9604 40.9157 21.4353C40.3724 22.0368 39.6949 22.5018 38.9382 22.7925C38.3666 23.0452 37.7383 23.1425 37.117 23.0744C36.4956 23.0063 35.9033 22.7753 35.4 22.4047C34.7408 21.9297 34.3531 21.2609 33.6357 20.8343C33.0528 20.4878 32.3618 20.3703 31.697 20.5047C30.1945 20.9507 30.1169 21.416 29.4868 22.1527Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M36.9209 18.8763H36.95H36.9209Z"
                fill="#BA0000"></path>
              <path
                d="M36.9209 18.8763H36.95"
                stroke="black"
                stroke-width="0.370125"></path>
              <path
                d="M29.8442 21.3772C30.9299 19.0119 35.1176 17.9068 36.9304 18.8956"
                stroke="#BA0000"
                stroke-width="0.370125"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M38.2098 19.7585L37.793 20.2141L37.8512 19.584L37.2695 19.2932L37.8802 19.1962L37.9384 18.5468L38.268 19.1284L38.8884 19.0121L38.4716 19.4677L38.7914 20.0493"
                fill="#BA0000"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.8545 22.5405C29.8545 22.5405 35.1861 21.3773 37.8421 26.3502C38.8406 28.9384 38.9085 31.1389 37.6773 33.2424C37.0182 34.1149 36.2233 34.8419 35.3993 35.5495C35.4769 35.1618 35.5059 34.8128 35.409 34.4638C35.2539 33.8241 34.7692 33.446 34.1682 33.1552C33.4225 32.8291 32.7647 32.3307 32.2488 31.7011C31.8306 31.2392 31.5415 30.6752 31.4104 30.066C31.2794 29.4568 31.3111 28.8238 31.5024 28.2308C31.7351 27.4553 32.2488 26.8736 32.4233 26.0594C32.5684 25.3982 32.4612 24.7068 32.1228 24.1206C31.2213 22.841 30.756 22.9089 29.8545 22.5405Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M35.3213 28.5603L35.3407 28.5797L35.3213 28.5603Z"
                fill="#BA0000"></path>
              <path
                d="M35.3213 28.5603L35.3407 28.5797"
                stroke="black"
                stroke-width="0.370125"></path>
              <path
                d="M30.7173 22.6375C33.2958 22.9186 35.6708 26.5343 35.3121 28.5797"
                stroke="#BA0000"
                stroke-width="0.370125"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M34.8957 30.0629L34.3237 29.8109L34.9538 29.6655L35.0314 29.016L35.3319 29.5685L35.962 29.4231L35.5258 29.9078L35.8166 30.4604L35.2543 30.2083L34.8181 30.7027"
                fill="#BA0000"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.7383 23.0931C29.7383 23.0931 32.3459 27.8818 28.3327 31.8174C26.1225 33.5042 24.0286 34.1924 21.6634 33.6011C20.6455 33.2133 19.7246 32.6608 18.8037 32.0598C19.1915 32.0307 19.5501 31.9628 19.8603 31.769C20.4226 31.4394 20.6455 30.8675 20.7618 30.218C20.8627 29.408 21.1552 28.6338 21.6149 27.9593C21.9402 27.4272 22.4 26.9901 22.948 26.6923C23.496 26.3945 24.1128 26.2464 24.7363 26.2629C25.5506 26.2726 26.2485 26.6119 27.0822 26.5537C27.751 26.4665 28.2745 26.2823 28.8658 25.7007C29.8352 24.489 29.6413 24.0527 29.7383 23.0834V23.0931Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M25.4916 30.0337L25.4819 30.0531L25.4916 30.0337Z"
                fill="#BA0000"></path>
              <path
                d="M25.4916 30.0337L25.4819 30.0531"
                stroke="black"
                stroke-width="0.370125"></path>
              <path
                d="M29.8741 23.9365C30.3491 26.4957 27.5379 29.8012 25.4731 30.0145"
                stroke="#BA0000"
                stroke-width="0.370125"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M23.9309 30.0435L24.0181 29.4231L24.338 29.9756L24.9778 29.8787L24.5319 30.3246L24.8518 30.8772L24.2605 30.596L23.8146 31.042L23.8921 30.4216L23.3008 30.1404"
                fill="#BA0000"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M29.1474 22.9863C29.1474 22.9863 25.5025 27.0383 20.4424 24.5761C18.1159 23.0542 16.7781 21.2996 16.5552 18.8762C16.5843 17.7808 16.7878 16.7339 17.0496 15.6772C17.2144 16.0262 17.3985 16.3364 17.6797 16.5691C18.174 16.9859 18.7944 17.0053 19.4536 16.8987C20.2448 16.7254 21.0661 16.7454 21.848 16.9568C22.4602 17.0857 23.0274 17.3741 23.4921 17.7929C23.9569 18.2117 24.3027 18.746 24.4944 19.3415C24.7561 20.1073 24.6688 20.8828 25.0081 21.6486C25.2989 22.2496 25.6479 22.6761 26.3943 23.0445C27.8678 23.5583 28.2071 23.2287 29.1474 22.996V22.9863Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M21.1888 21.2997L21.1694 21.29L21.1888 21.2997Z"
                fill="#BA0000"></path>
              <path
                d="M21.1888 21.2997L21.1694 21.29"
                stroke="black"
                stroke-width="0.370125"></path>
              <path
                d="M28.39 23.4033C26.1411 24.6925 22.0891 23.1415 21.1973 21.2706"
                stroke="#BA0000"
                stroke-width="0.370125"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M20.6641 19.8262L21.2748 19.7002L20.8579 20.1849L21.1584 20.7568L20.5962 20.4854L20.1794 20.9701L20.2472 20.3109L19.6753 20.0395L20.286 19.9134L20.3539 19.2543"
                fill="#BA0000"></path>
            </g>
          </svg>

          <h5 class="ml-6">Honkong</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_362_8818)">
              <path d="M-3 -1.5H63V48H-3V-1.5Z" fill="white"></path>
              <path d="M-3 16.4952H63V30.0046H-3V16.4952Z" fill="#003580"
              ></path>
              <path
                d="M15.0982 -1.5H28.5973V48H15.0879L15.0982 -1.5Z"
                fill="#003580"></path>
            </g>
            <defs>
              <clipPath id="clip0_362_8818">
                <rect
                  width="66"
                  height="49.5"
                  fill="white"
                  transform="translate(-3 -1.5)"></rect>
              </clipPath>
            </defs>
          </svg>

          <h5 class="ml-6">Finlandia</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_362_2271)">
              <path d="M-3 -1.5H63V15H-3V-1.5Z" fill="#00732F"></path>
              <path d="M-3 15H63V31.5H-3V15Z" fill="white"></path>
              <path d="M-3 31.5H63V48H-3V31.5Z" fill="black"></path>
              <path d="M-3 -1.5H19.6875V48H-3V-1.5Z" fill="#FF0000"></path>
            </g>
            <defs>
              <clipPath id="clip0_362_2271">
                <rect
                  width="66"
                  height="49.5"
                  fill="white"
                  transform="translate(-3 -1.5)"></rect>
              </clipPath>
            </defs>
          </svg>

          <h5 class="ml-6">Zjednoczone Emiraty Arabskie</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_362_8828)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 0H60V45H0V0Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 0H60V18H0V0ZM0 27H60V45H0V27Z"
                fill="#981E32"></path>
            </g>
            <defs>
              <clipPath id="clip0_362_8828">
                <rect width="60" height="45" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>

          <h5 class="ml-6">Litwa</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_362_8598)">
              <path d="M-4.5 -3H64.5V14H-4.5V-3Z" fill="#FF9933"></path>
              <path d="M-4.5 14H64.5V31H-4.5V14Z" fill="white"></path>
              <path d="M-4.5 31H64.5V48H-4.5V31Z" fill="#128807"></path>
              <path
                d="M30.0011 29.3001C33.8118 29.3001 36.9011 26.2556 36.9011 22.5001C36.9011 18.7445 33.8118 15.7001 30.0011 15.7001C26.1903 15.7001 23.1011 18.7445 23.1011 22.5001C23.1011 26.2556 26.1903 29.3001 30.0011 29.3001Z"
                fill="#000088"></path>
              <path
                d="M29.9999 28.45C33.3343 28.45 36.0374 25.7861 36.0374 22.5C36.0374 19.214 33.3343 16.55 29.9999 16.55C26.6655 16.55 23.9624 19.214 23.9624 22.5C23.9624 25.7861 26.6655 28.45 29.9999 28.45Z"
                fill="white"></path>
              <path
                d="M30.001 23.6901C30.6678 23.6901 31.2085 23.1573 31.2085 22.5001C31.2085 21.8428 30.6678 21.3101 30.001 21.3101C29.3341 21.3101 28.7935 21.8428 28.7935 22.5001C28.7935 23.1573 29.3341 23.6901 30.001 23.6901Z"
                fill="#000088"></path>
              <path
                d="M35.9455 23.5819C36.1156 23.6039 36.2715 23.486 36.2939 23.3184C36.3163 23.1509 36.1966 22.9972 36.0266 22.9751C35.8566 22.9531 35.7006 23.071 35.6782 23.2386C35.6558 23.4061 35.7755 23.5598 35.9455 23.5819Z"
                fill="#000088"></path>
              <path
                d="M30.0005 28.4497L30.2075 24.8797L30.0005 23.1797L29.7935 24.8797L30.0005 28.4497Z"
                fill="#000088"></path>
              <path
                d="M35.4576 25.0623C35.6156 25.1265 35.7972 25.0517 35.8633 24.8952C35.9293 24.7387 35.8548 24.5597 35.6968 24.4954C35.5387 24.4311 35.3571 24.5059 35.2911 24.6625C35.225 24.819 35.2996 24.998 35.4576 25.0623Z"
                fill="#000088"></path>
              <path
                d="M28.436 28.2476L29.5742 24.8506L29.824 23.1559L29.1783 24.7463L28.436 28.2476Z"
                fill="#000088"></path>
              <path
                d="M34.5998 26.3675C34.7354 26.47 34.9303 26.444 35.0352 26.3095C35.14 26.175 35.115 25.9829 34.9794 25.8804C34.8438 25.778 34.6489 25.804 34.5441 25.9385C34.4392 26.073 34.4642 26.2651 34.5998 26.3675Z"
                fill="#000088"></path>
              <path
                d="M26.9811 27.6536L28.9721 24.662L29.6575 23.088L28.6162 24.4596L26.9811 27.6536Z"
                fill="#000088"></path>
              <path
                d="M33.4276 27.4087C33.5316 27.5424 33.7266 27.5671 33.863 27.4638C33.9994 27.3606 34.0257 27.1685 33.9217 27.0348C33.8177 26.9011 33.6228 26.8764 33.4864 26.9797C33.3499 27.083 33.3236 27.275 33.4276 27.4087Z"
                fill="#000088"></path>
              <path
                d="M25.7307 26.708L28.4389 24.3259L29.5137 22.9798L28.1479 24.0391L25.7307 26.708Z"
                fill="#000088"></path>
              <path
                d="M32.0238 28.1142C32.0899 28.2708 32.2715 28.3457 32.4295 28.2815C32.5874 28.2173 32.6619 28.0383 32.5958 27.8817C32.5297 27.7251 32.348 27.6502 32.1901 27.7144C32.0321 27.7786 31.9577 27.9576 32.0238 28.1142Z"
                fill="#000088"></path>
              <path
                d="M24.7738 25.4734L28.0141 23.8682L29.4032 22.8411L27.8055 23.5122L24.7738 25.4734Z"
                fill="#000088"></path>
              <path
                d="M30.4787 28.4384C30.5016 28.6065 30.6576 28.7252 30.8271 28.7036C30.9966 28.682 31.1155 28.5283 31.0927 28.3603C31.0698 28.1922 30.9138 28.0735 30.7443 28.0951C30.5748 28.1167 30.4559 28.2704 30.4787 28.4384Z"
                fill="#000088"></path>
              <path
                d="M24.1691 24.038L27.7215 23.3156L29.333 22.6779L27.613 22.9176L24.1691 24.038Z"
                fill="#000088"></path>
              <path
                d="M28.9015 28.3579C28.8796 28.525 29.0001 28.6787 29.1706 28.7012C29.3411 28.7238 29.4971 28.6066 29.5189 28.4395C29.5408 28.2724 29.4204 28.1187 29.2499 28.0962C29.0794 28.0736 28.9234 28.1908 28.9015 28.3579Z"
                fill="#000088"></path>
              <path
                d="M23.964 22.4918L27.5863 22.6986L29.3102 22.5077L27.585 22.3065L23.964 22.4918Z"
                fill="#000088"></path>
              <path
                d="M27.4008 27.8787C27.3354 28.0347 27.411 28.2137 27.5696 28.2785C27.7283 28.3434 27.9099 28.2696 27.9753 28.1136C28.0407 27.9577 27.9651 27.7787 27.8065 27.7138C27.6479 27.649 27.4662 27.7228 27.4008 27.8787Z"
                fill="#000088"></path>
              <path
                d="M24.168 20.9589L27.6143 22.0803L29.334 22.3248L27.7208 21.6881L24.168 20.9589Z"
                fill="#000088"></path>
              <path
                d="M26.0789 27.0338C25.974 27.1684 25.999 27.3604 26.1346 27.4629C26.2702 27.5653 26.4651 27.5393 26.5699 27.4048C26.6748 27.2703 26.6498 27.0782 26.5142 26.9758C26.3786 26.8733 26.1837 26.8993 26.0789 27.0338Z"
                fill="#000088"></path>
              <path
                d="M24.7741 19.5265L27.8058 21.4877L29.4035 22.1588L28.0145 21.1317L24.7741 19.5265Z"
                fill="#000088"></path>
              <path
                d="M25.0229 25.8787C24.8864 25.982 24.86 26.1741 24.964 26.3077C25.0679 26.4413 25.2628 26.4659 25.3993 26.3626C25.5358 26.2593 25.5622 26.0672 25.4583 25.9336C25.3543 25.7999 25.1594 25.7753 25.0229 25.8787Z"
                fill="#000088"></path>
              <path
                d="M25.7335 18.2939L28.1463 20.9622L29.5128 22.0184L28.441 20.6717L25.7335 18.2939Z"
                fill="#000088"></path>
              <path
                d="M24.3042 24.4931C24.1455 24.5581 24.0697 24.7371 24.135 24.8929C24.2002 25.0487 24.3819 25.1223 24.5406 25.0573C24.6994 24.9923 24.7752 24.8133 24.7099 24.6575C24.6446 24.5017 24.463 24.4281 24.3042 24.4931Z"
                fill="#000088"></path>
              <path
                d="M26.9844 17.3479L28.6141 20.5414L29.6562 21.9107L28.9745 20.3362L26.9844 17.3479Z"
                fill="#000088"></path>
              <path
                d="M23.9774 22.9717C23.8071 22.9941 23.6868 23.1478 23.7089 23.315C23.7309 23.4823 23.8869 23.5997 24.0573 23.5773C24.2276 23.5549 24.3479 23.4012 24.3258 23.234C24.3038 23.0667 24.1478 22.9493 23.9774 22.9717Z"
                fill="#000088"></path>
              <path
                d="M28.4418 16.753L29.1762 20.254L29.8231 21.8426L29.5788 20.1475L28.4418 16.753Z"
                fill="#000088"></path>
              <path
                d="M24.0547 21.4168C23.8852 21.3952 23.7292 21.5139 23.7063 21.6819C23.6834 21.8499 23.8023 22.0037 23.9719 22.0252C24.1414 22.0468 24.2974 21.9281 24.3202 21.7601C24.3431 21.5921 24.2242 21.4384 24.0547 21.4168Z"
                fill="#000088"></path>
              <path
                d="M30.0086 16.5505L29.7987 20.1203L29.9922 21.8192L30.1962 20.119L30.0086 16.5505Z"
                fill="#000088"></path>
              <path
                d="M24.5419 19.9374C24.3839 19.8731 24.2023 19.9479 24.1362 20.1044C24.0702 20.261 24.1447 20.44 24.3028 20.5042C24.4608 20.5685 24.6424 20.4937 24.7084 20.3372C24.7745 20.1806 24.6999 20.0016 24.5419 19.9374Z"
                fill="#000088"></path>
              <path
                d="M31.5635 16.752L30.4253 20.1491L30.1755 21.8437L30.8213 20.2534L31.5635 16.752Z"
                fill="#000088"></path>
              <path
                d="M25.4017 18.6322C25.2661 18.5298 25.0712 18.5558 24.9664 18.6903C24.8615 18.8248 24.8865 19.0169 25.0221 19.1193C25.1577 19.2218 25.3526 19.1958 25.4574 19.0613C25.5622 18.9267 25.5373 18.7347 25.4017 18.6322Z"
                fill="#000088"></path>
              <path
                d="M33.0204 17.3462L31.0295 20.3378L30.344 21.9118L31.3853 20.5402L33.0204 17.3462Z"
                fill="#000088"></path>
              <path
                d="M26.5751 17.5912C26.4711 17.4575 26.2762 17.4329 26.1397 17.5362C26.0032 17.6395 25.9769 17.8316 26.0808 17.9653C26.1848 18.0989 26.3797 18.1235 26.5162 18.0202C26.6527 17.9169 26.679 17.7248 26.5751 17.5912Z"
                fill="#000088"></path>
              <path
                d="M34.2721 18.2917L31.5639 20.674L30.4889 22.02L31.8547 20.9606L34.2721 18.2917Z"
                fill="#000088"></path>
              <path
                d="M27.9772 16.8857C27.9111 16.7291 27.7295 16.6542 27.5715 16.7184C27.4136 16.7826 27.3391 16.9616 27.4052 17.1182C27.4713 17.2748 27.6529 17.3497 27.8109 17.2855C27.9689 17.2213 28.0433 17.0423 27.9772 16.8857Z"
                fill="#000088"></path>
              <path
                d="M35.2272 19.5262L31.9868 21.1314L30.5978 22.1586L32.1955 21.4874L35.2272 19.5262Z"
                fill="#000088"></path>
              <path
                d="M29.5203 16.5613C29.4974 16.3933 29.3415 16.2746 29.1719 16.2962C29.0024 16.3177 28.8835 16.4715 28.9064 16.6395C28.9292 16.8075 29.0852 16.9262 29.2547 16.9046C29.4243 16.8831 29.5432 16.7294 29.5203 16.5613Z"
                fill="#000088"></path>
              <path
                d="M35.8299 20.962L32.2775 21.6844L30.666 22.3221L32.386 22.0824L35.8299 20.962Z"
                fill="#000088"></path>
              <path
                d="M31.1001 16.6421C31.1219 16.4751 31.0013 16.3214 30.8308 16.2988C30.6602 16.2762 30.5042 16.3932 30.4824 16.5603C30.4606 16.7273 30.5811 16.881 30.7517 16.9036C30.9223 16.9262 31.0783 16.8091 31.1001 16.6421Z"
                fill="#000088"></path>
              <path
                d="M36.0372 22.5091L32.4149 22.3019L30.6911 22.4911L32.4164 22.692L36.0372 22.5091Z"
                fill="#000088"></path>
              <path
                d="M32.5984 17.1214C32.6637 16.9655 32.588 16.7865 32.4293 16.7216C32.2705 16.6566 32.0889 16.7303 32.0236 16.8861C31.9582 17.042 32.0339 17.221 32.1927 17.2859C32.3514 17.3509 32.533 17.2772 32.5984 17.1214Z"
                fill="#000088"></path>
              <path
                d="M35.8311 24.0413L32.3846 22.9198L30.6649 22.6746L32.2783 23.3112L35.8311 24.0413Z"
                fill="#000088"></path>
              <path
                d="M33.9248 17.9674C34.0289 17.8336 34.0029 17.6415 33.8666 17.5384C33.7304 17.4353 33.5355 17.4602 33.4313 17.5941C33.3271 17.7279 33.3531 17.92 33.4894 18.0231C33.6257 18.1262 33.8206 18.1013 33.9248 17.9674Z"
                fill="#000088"></path>
              <path
                d="M35.2296 25.4754L32.195 23.5135L30.5977 22.8391L31.9888 23.8656L35.2296 25.4754Z"
                fill="#000088"></path>
              <path
                d="M34.9812 19.1225C35.1171 19.0198 35.1423 18.8277 35.0377 18.6934C34.9331 18.5591 34.7382 18.5335 34.6024 18.6361C34.4665 18.7388 34.4413 18.9309 34.5459 19.0652C34.6505 19.1995 34.8454 19.2251 34.9812 19.1225Z"
                fill="#000088"></path>
              <path
                d="M34.2709 26.7076L31.8546 24.0388L30.4886 22.9801L31.5629 24.3263L34.2709 26.7076Z"
                fill="#000088"></path>
              <path
                d="M35.7002 20.5079C35.8584 20.4435 35.9333 20.2645 35.8675 20.1081C35.8016 19.9518 35.62 19.8773 35.4618 19.9418C35.3036 20.0062 35.2287 20.1852 35.2945 20.3416C35.3604 20.4979 35.542 20.5724 35.7002 20.5079Z"
                fill="#000088"></path>
              <path
                d="M33.0221 27.6532L31.3887 24.4594L30.3471 23.0886L31.0313 24.6627L33.0221 27.6532Z"
                fill="#000088"></path>
              <path
                d="M36.028 22.0292C36.1978 22.0073 36.3171 21.8536 36.2945 21.6858C36.2719 21.5181 36.1159 21.3998 35.9461 21.4216C35.7763 21.4435 35.657 21.5972 35.6796 21.7649C35.7022 21.9327 35.8582 22.051 36.028 22.0292Z"
                fill="#000088"></path>
              <path
                d="M31.5634 28.2475L30.8237 24.7462L30.1776 23.1565L30.4255 24.8512L31.5634 28.2475Z"
                fill="#000088"></path>
            </g>
            <defs>
              <clipPath id="clip0_362_8598">
                <rect
                  width="69"
                  height="51"
                  fill="white"
                  transform="translate(-4.5 -3)"></rect>
              </clipPath>
            </defs>
          </svg>

          <h5 class="ml-6">Indie</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div
          class="w-full max-w-[500px] bg-neutral-400 py-4 pl-6 pr-4 flex items-center group hover:bg-primary-600 transition duration-300 ease-morph"
        >
          <svg
            width="60"
            height="45"
            viewBox="0 0 60 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_362_853)">
              <mask
                id="mask0_362_853"
                style="mask-type:luminance"
                maskUnits="userSpaceOnUse"
                x="-5"
                y="-3"
                width="70"
                height="51"
              >
                <path d="M-4.5 -3H64.5019V47.9989H-4.5V-3Z" fill="white"></path>
              </mask>
              <g mask="url(#mask0_362_853)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M-4.50112 37.6198V7.39893L18.3311 22.5093L-4.51123 37.6198H-4.50112Z"
                  fill="black"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11.0747 48.0086L36.7066 31.0156H73.1127V47.9987H11.0747V48.0086Z"
                  fill="#0000CC"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.43701 -3.00022H73.1124V14.0127H36.6961C36.6961 14.0127 9.77055 -3.16955 9.43701 -3.00022Z"
                  fill="#FF0000"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M-4.50112 3.37463V7.39877L18.3311 22.4992L-4.51123 37.6196V41.6338L24.2438 22.5092L-4.51123 3.37463H-4.50112Z"
                  fill="#FFCC00"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M-4.50098 3.37462V-3.00024H5.10087L35.5438 17.3196H73.1224V27.6987H35.5438L5.09076 47.9987H-4.50098V41.6338L24.2439 22.5092L-4.49087 3.37462H-4.50098Z"
                  fill="#009933"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.09082 -3.00024H11.0743L36.7062 14.0027H73.1123V17.3196H35.5438L5.09082 -2.99028V-3.00024ZM5.09082 48.0086H11.0743L36.7062 31.0156H73.1123V27.7087H35.5438L5.09082 47.9987V48.0086Z"
                  fill="white"></path>
              </g>
            </g>
            <defs>
              <clipPath id="clip0_362_853">
                <rect
                  width="69"
                  height="51"
                  fill="white"
                  transform="translate(-4.5 -3)"></rect>
              </clipPath>
            </defs>
          </svg>

          <h5 class="ml-6">Afryka Południowa</h5>
          <svg
            class="opacity-0 group-hover:opacity-100 ml-auto transition duration-300 ease-morph"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.9998 5.33342L26.6665 16.0001L15.9998 26.6667L14.0998 24.8001L21.5665 17.3334L5.33317 17.3334L5.33317 14.6668L21.5665 14.6668L14.0998 7.20009L15.9998 5.33342Z"
              fill="#094F0C"></path>
          </svg>
        </div>
      </div>
    </div>
  </section>
  <Newsletter />
  <Footer />
</Layout>
<script is:inline src="/script.js"></script>
