---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Meeting from "../../components/Meeting.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <section class="relative pb-[113px]">
    <div class="wrapper">
      <div class="flex flex-col md:flex-row">
        <div class="relative flex-2">
          <img
            src="/assets/edu-hero.png"
            class="svg-star-mask"
            width="480"
            height="430"
          />
        </div>
        <div class="md:max-w-[50%] md:-order-1">
          <span class="text-2xl lg:text-[54px] lg:leading-[64px] block mb-10"
            >Dibber International Preschool Lorem ipsum dolor sit amet.</span
          >
          <p class="text-xl lg:text-2xl">
            Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
    <div class="ml-auto hidden lg:block absolute right-0 top-0 -z-10">
      <svg
        width="217"
        height="423"
        viewBox="0 0 217 423"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M351.91 0.873291H70.8329C32.1548 0.873291 0.799988 32.2489 0.799988 70.9526V352.216C0.799988 390.92 32.1548 422.296 70.8329 422.296H351.91C390.588 422.296 421.943 390.92 421.943 352.216V70.9526C421.943 32.2489 390.588 0.873291 351.91 0.873291Z"
          fill="#A79B42"></path>
      </svg>
    </div>
  </section>
  <section class="bg-primary-400 rounded-t-r_20 py-[88px] relative">
    <div class="hidden absolute left-0 top-0 bottom-0 lg:flex items-center">
      <svg
        width="94"
        height="256"
        viewBox="0 0 94 256"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M-28.9289 17.8645L-13.3961 6.48498C9.85333 -10.5343 42.2386 8.16492 39.12 36.8237L37.041 55.963C35.4817 70.3224 43.3981 84.0418 56.612 89.8816L74.224 97.6612C100.592 109.281 100.592 146.699 74.224 158.339L56.612 166.118C43.3981 171.958 35.4817 185.678 37.041 200.037L39.12 219.176C42.2386 247.835 9.85333 266.534 -13.3961 249.515L-28.9289 238.135C-40.5836 229.596 -56.4164 229.596 -68.0711 238.135L-83.6041 249.515C-106.853 266.534 -139.239 247.835 -136.12 219.176L-134.041 200.037C-132.482 185.678 -140.398 171.958 -153.612 166.118L-171.224 158.339C-197.592 146.719 -197.592 109.301 -171.224 97.6612L-153.612 89.8816C-140.398 84.0418 -132.482 70.3224 -134.041 55.963L-136.12 36.8237C-139.239 8.16492 -106.853 -10.5343 -83.6041 6.48498L-68.0711 17.8645C-56.4164 26.4042 -40.5836 26.4042 -28.9289 17.8645Z"
          fill="#C2F291"></path>
      </svg>
      <svg
        width="265"
        height="240"
        viewBox="0 0 265 240"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M97.7449 20.0489L5.43953 179.838C-10.0116 206.57 9.29229 240 40.1945 240H224.805C255.708 240 275.012 206.57 259.56 179.838L167.255 20.0489C151.804 -6.68296 113.196 -6.68296 97.7449 20.0489Z"
          fill="#C2F291"></path>
      </svg>
    </div>
    <div class="wrapper">
      <div class="dibber-container">
        <div class="flex flex-col gap-8 md:flex-row md:gap-[94px]">
          <!--  <div class="flex gap-4 md:grid justify-items-center md:gap-[21px]">
            <svg
              width="107"
              height="106"
              viewBox="0 0 107 106"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M96.6917 96.4958C108.652 84.5355 109.121 65.452 98.1334 52.9202C109.13 40.3884 108.652 21.3049 96.6917 9.3446C84.7314 -2.61565 65.6478 -3.08485 53.116 7.90288C40.5841 -3.09339 21.5005 -2.61566 9.54027 9.34459C-2.42001 21.3048 -2.88922 40.3884 8.09855 52.9202C-2.89775 65.452 -2.42002 84.5355 9.54026 96.4958C21.5005 108.456 40.5841 108.925 53.116 97.9375C65.6478 108.934 84.7314 108.456 96.6917 96.4958Z"
                fill="#C2F291"></path>
            </svg>
            <svg
              width="104"
              height="103"
              viewBox="0 0 104 103"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M103.421 85.8994L103.421 17.4223C103.421 7.99938 95.7821 0.360595 86.3592 0.360595L17.8818 0.360592C8.45889 0.360592 0.820091 7.99938 0.820091 17.4223L0.820088 85.8994C0.820087 95.3224 8.45889 102.961 17.8818 102.961L86.3591 102.961C95.7821 102.961 103.421 95.3224 103.421 85.8994Z"
                fill="#C2F291"></path>
            </svg>
            <svg
              width="127"
              height="102"
              viewBox="0 0 127 102"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M116.604 9.56163C103.902 -3.14937 83.2995 -3.14937 70.5971 9.5531L63.1241 17.0176L55.6596 9.54457C42.9572 -3.16643 22.3551 -3.16643 9.65269 9.53604C-3.05828 22.2385 -3.05826 42.8406 9.64418 55.543L51.1126 97.0287C57.7411 103.657 68.4815 103.657 75.1099 97.0287L116.595 55.5601C129.306 42.8576 129.306 22.2556 116.604 9.5531V9.56163Z"
                fill="#C2F291"></path>
            </svg>
          </div> -->
          <div class="lg:w-2/3 ml-auto">
            <p
              class="text-primary-100 text-xl md:text-2xl font-medium mb-[42px]"
            >
              Morem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
              turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus
              nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum
              tellus elit sed risus. Maecenas eget condimentum velit, sit amet
              feugiat lectus. Class aptent taciti sociosqu ad litora torquent
              per conubia nostra, per inceptos himenaeos. Praesent auctor purus
              luctus enim egestas, ac scelerisque ante pulvinar. Donec ut
              rhoncus ex.
            </p>
            <p class="text-primary-100 text-xl md:text-2xl font-semibold">
              Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel
              bibendum lorem. Morbi convallis convallis diam sit amet lacinia.
              Aliquam in elementum tellus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-[70px] pb-[83px]">
    <div class="wrapper">
      <div class="dibber-container">
        <h2 class="mb-[70px]">Poznaj naszych bohaterów</h2>
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-[67px]"
        >
          <div
            class="rounded-r_20 bg-neutral-200/50 pt-[54px] pb-[46px] pl-[34px] pr-[28px]"
          >
            <div class="mb-4 flex gap-4 items-center">
              <svg
                width="72"
                height="72"
                viewBox="0 0 72 72"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_127_5511)">
                  <path
                    d="M42.5038 57.1479L42.0508 42.6062H46.6037L45.9659 55.262C45.8873 58.0678 51.8824 56.8197 54.739 57.171C58.8713 57.6749 60.1332 62.1909 58.0948 63.6284C56.648 64.6499 51.7761 64.1322 49.4696 63.009C47.6253 62.1123 44.4405 62.1169 43.0677 61.4883C41.9861 60.9937 42.4344 58.4838 42.5084 57.1479H42.5038Z"
                    fill="#E94444"></path>
                  <path
                    d="M23.8808 26.8072L24.7776 33.9763C24.6528 34.0272 21.1075 34.8916 17.7748 33.9994C14.4098 33.0981 10.2682 31.0042 5.83542 25.7579C5.03576 25.023 4.06044 24.288 3.02043 23.872C2.43802 23.6409 1.24084 23.2018 1.28707 22.624C1.35178 21.8243 2.35019 22.3143 2.70149 21.6394C2.96496 21.1356 1.77703 20.0771 2.46113 19.4716C3.00656 18.9909 3.83396 20.0725 4.28232 19.9246C4.83699 19.7397 4.30542 18.4593 5.12819 18.2051C5.81691 17.9971 6.37622 19.7813 6.954 19.9754C7.56877 20.1788 7.5965 18.5379 8.39616 18.7829C9.03403 18.977 9.15421 19.8321 8.64114 21.681C8.4886 22.2357 8.12345 23.1093 8.65039 23.8766C14.4051 31.8039 23.8023 26.8349 23.8855 26.8025L23.8808 26.8072Z"
                    fill="#E94444"></path>
                  <path
                    d="M49.4836 26.8072L48.5869 33.9763C48.7117 34.0272 52.257 34.8916 55.5897 33.9994C58.9547 33.0981 63.0963 31.0042 67.5291 25.7579C68.3287 25.023 69.304 24.288 70.3441 23.872C70.9265 23.6409 72.1236 23.2018 72.0774 22.624C72.0127 21.8243 71.0143 22.3143 70.663 21.6394C70.3995 21.1356 71.5874 20.0771 70.9033 19.4716C70.3579 18.9909 69.5305 20.0725 69.0821 19.9246C68.5275 19.7397 69.0591 18.4593 68.2363 18.2051C67.5476 17.9971 66.9883 19.7813 66.4105 19.9754C65.7957 20.1788 65.768 18.5379 64.9683 18.7829C64.3304 18.977 64.2103 19.8321 64.7233 21.681C64.8759 22.2357 65.241 23.1093 64.7141 23.8766C58.9593 31.8039 49.5622 26.8349 49.479 26.8025L49.4836 26.8072Z"
                    fill="#E94444"></path>
                  <path
                    d="M30.218 57.1479L30.671 42.6062H26.118L26.7559 55.262C26.8345 58.0678 20.807 56.621 17.9828 57.171C15.08 57.735 13.5361 61.382 14.627 63.6284C15.1123 64.6268 20.9457 64.4558 23.2522 63.3326C25.0965 62.4358 28.2813 62.1123 29.6541 61.4836C30.7357 60.9891 30.2873 58.4792 30.2134 57.1433L30.218 57.1479Z"
                    fill="#E94444"></path>
                  <path
                    style="mix-blend-mode:multiply"
                    opacity="0.29"
                    d="M42.5038 57.1479L42.0508 42.6062H46.6037L45.9659 55.262C45.8873 58.0678 51.8824 56.8197 54.739 57.171C58.8713 57.6749 60.1332 62.1909 58.0948 63.6284C56.648 64.6499 51.7761 64.1322 49.4696 63.009C47.6253 62.1123 44.4405 62.1169 43.0677 61.4883C41.9861 60.9937 42.4344 58.4838 42.5084 57.1479H42.5038Z"
                    fill="url(#paint0_linear_127_5511)"></path>
                  <path
                    style="mix-blend-mode:multiply"
                    opacity="0.29"
                    d="M30.218 57.1479L30.671 42.6062H26.118L26.7559 55.262C26.8345 58.0678 20.807 56.621 17.9828 57.171C15.08 57.735 13.5361 61.382 14.627 63.6284C15.1123 64.6268 20.9457 64.4558 23.2522 63.3326C25.0965 62.4358 28.2813 62.1123 29.6541 61.4836C30.7357 60.9891 30.2873 58.4792 30.2134 57.1433L30.218 57.1479Z"
                    fill="url(#paint1_linear_127_5511)"></path>
                  <path
                    style="mix-blend-mode:multiply"
                    d="M23.8854 26.8167L24.7821 33.9858C24.6573 34.0367 21.112 34.9011 17.7793 34.0043C14.4143 33.103 10.2727 31.0091 5.83992 25.7628C5.04026 25.0278 4.06496 24.2929 3.02494 23.8769C2.44254 23.6458 1.24536 23.2067 1.29158 22.6289C1.3563 21.8292 2.35471 22.3192 2.706 21.6443C2.96948 21.1405 1.78155 20.082 2.46565 19.4765C3.01108 18.9957 3.83847 20.0774 4.28683 19.9294C4.84151 19.7446 4.30994 18.4642 5.13271 18.21C5.82143 18.0019 6.38073 19.7862 6.95852 19.9803C7.57329 20.1837 7.60102 18.5428 8.40067 18.7877C9.03855 18.9819 9.15873 19.837 8.64565 21.6859C8.49312 22.2406 8.12795 23.1142 8.65489 23.8815C14.4096 31.8087 23.8068 26.8398 23.89 26.8074L23.8854 26.8167Z"
                    fill="url(#paint2_linear_127_5511)"></path>
                  <path
                    style="mix-blend-mode:multiply"
                    d="M49.479 26.8167L48.5823 33.9858C48.7071 34.0367 52.2524 34.9011 55.585 34.0043C58.9501 33.103 63.0916 31.0091 67.5244 25.7628C68.3241 25.0278 69.2994 24.2929 70.3394 23.8769C70.9218 23.6458 72.119 23.2067 72.0728 22.6289C72.0081 21.8292 71.0096 22.3192 70.6584 21.6443C70.3949 21.1405 71.5828 20.082 70.8987 19.4765C70.3533 18.9957 69.5259 20.0774 69.0775 19.9294C68.5229 19.7446 69.0544 18.4642 68.2316 18.21C67.5429 18.0019 66.9836 19.7862 66.4058 19.9803C65.7911 20.1837 65.7633 18.5428 64.9637 18.7877C64.3258 18.9819 64.2056 19.837 64.7187 21.6859C64.8713 22.2406 65.2364 23.1142 64.7095 23.8815C58.9547 31.8087 49.5576 26.8398 49.4744 26.8074L49.479 26.8167Z"
                    fill="url(#paint3_linear_127_5511)"></path>
                  <path
                    d="M60.2721 24.8983C60.2721 18.2468 54.8825 12.8572 48.2264 12.8572C44.4639 12.8572 41.1035 14.5813 38.8987 17.2853C36.4904 19.9478 34.4058 17.1836 34.3642 17.2068C32.1547 14.5489 28.822 12.8572 25.0965 12.8572C18.445 12.8572 13.0508 18.2514 13.0508 24.8983C13.0508 25.6609 13.758 29.5575 15.0337 31.7485C15.0337 31.7485 16.009 33.5651 17.8441 36.1489C19.6791 38.7328 32.4459 52.5534 32.4459 52.5534C34.8218 54.9247 38.6537 54.9385 41.011 52.5812C41.011 52.5812 53.7778 38.4832 55.0258 36.9023C56.2785 35.3169 58.3123 31.8872 58.3123 31.8872C59.8607 29.4004 60.2675 25.684 60.2675 24.9029L60.2721 24.8983Z"
                    fill="#E94444"></path>
                  <path
                    d="M34.1052 31.508C34.1052 34.8222 31.4196 37.5078 28.1055 37.5078C24.7913 37.5078 22.1057 34.8222 22.1057 31.508C22.1057 28.1939 24.7913 25.5083 28.1055 25.5083C31.4196 25.5083 34.1052 28.1939 34.1052 31.508Z"
                    fill="#FACFCB"></path>
                  <path
                    d="M51.0831 31.5081C51.0831 34.9934 48.2588 37.8222 44.769 37.8222C41.2792 37.8222 38.455 34.998 38.455 31.5081C38.455 28.0183 41.2792 25.1941 44.769 25.1941C48.2588 25.1941 51.0831 28.0183 51.0831 31.5081Z"
                    fill="#FACFCB"></path>
                  <path
                    d="M32.6678 32.4047C32.6678 34.591 30.8974 36.3614 28.7111 36.3614C26.5247 36.3614 24.7544 34.591 24.7544 32.4047C24.7544 30.2183 26.5247 28.448 28.7111 28.448C30.8974 28.448 32.6678 30.2183 32.6678 32.4047Z"
                    fill="white"></path>
                  <path
                    d="M48.1245 32.442C48.1245 34.7439 46.2618 36.6067 43.9599 36.6067C41.658 36.6067 39.7952 34.7439 39.7952 32.442C39.7952 30.1401 41.658 28.2773 43.9599 28.2773C46.2618 28.2773 48.1245 30.1401 48.1245 32.442Z"
                    fill="white"></path>
                  <path
                    d="M45.6701 32.6172C45.6701 33.6433 44.8381 34.48 43.8074 34.48C42.7766 34.48 41.9446 33.6479 41.9446 32.6172C41.9446 31.5864 42.7766 30.7544 43.8074 30.7544C44.8381 30.7544 45.6701 31.5864 45.6701 32.6172Z"
                    fill="#1E1E1C"></path>
                  <path
                    d="M30.5093 32.6172C30.5093 33.6433 29.6772 34.48 28.6465 34.48C27.6157 34.48 26.7837 33.6479 26.7837 32.6172C26.7837 31.5864 27.6157 30.7544 28.6465 30.7544C29.6772 30.7544 30.5093 31.5864 30.5093 32.6172Z"
                    fill="#1E1E1C"></path>
                  <path
                    d="M30.4074 40.0408C32.7602 41.6401 35.1869 42.6524 38.1082 43.1331C37.4934 43.7479 35.8664 45.1345 33.2733 44.0391C30.7402 42.9436 30.3335 40.919 30.4074 40.0408Z"
                    fill="white"></path>
                </g>
                <defs>
                  <linearGradient
                    id="paint0_linear_127_5511"
                    x1="50.5466"
                    y1="42.6108"
                    x2="50.5466"
                    y2="64.1784"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_127_5511"
                    x1="22.4757"
                    y1="42.6108"
                    x2="22.4757"
                    y2="64.2894"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_127_5511"
                    x1="23.3122"
                    y1="29.6547"
                    x2="7.846"
                    y2="24.7459"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_127_5511"
                    x1="50.0568"
                    y1="29.6548"
                    x2="65.523"
                    y2="24.7459"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <clipPath id="clip0_127_5511">
                    <rect width="72" height="72" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
              <h5 class="text-educational-social">Hearty Howard</h5>
            </div>
            <p class="text-base lg:text-lg leading-6 font-semibold">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
          </div>
          <div
            class="rounded-r_20 bg-neutral-200/50 pt-[54px] pb-[46px] pl-[34px] pr-[28px]"
          >
            <div class="mb-4 flex gap-4 items-center">
              <svg
                width="72"
                height="72"
                viewBox="0 0 72 72"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40.3743 55.9373L39.4207 44.4121H43.5884L43.3611 54.1842C43.4585 56.266 47.1961 56.5095 49.7162 56.5054C52.4677 56.5054 53.677 56.5663 54.4197 57.6823C54.8092 58.2667 54.1356 59.3624 54.1883 60.0361C54.2614 60.9126 54.9432 61.7689 54.6429 62.3817C54.4278 62.82 53.2753 63.0553 52.492 63.6844C51.7088 64.3134 51.2989 65.3279 50.0449 65.0195C48.4907 64.638 47.0825 62.9863 45.0575 62.0002C43.4382 61.2129 41.2874 60.799 40.492 59.7398C39.5221 58.4453 40.3013 57.1061 40.3622 55.9333L40.3743 55.9373Z"
                  fill="#EF7951"></path>
                <path
                  d="M23.7195 27.5829L27.5991 32.5988C27.5261 32.6921 25.2332 34.9323 22.3154 35.7439C19.3692 36.5636 15.307 36.8315 9.60928 34.847C8.6759 34.6482 7.61264 34.5264 6.64273 34.6807C6.09894 34.7659 4.99919 34.9688 4.77599 34.5102C4.46757 33.8771 5.44152 33.8041 5.405 33.1345C5.38065 32.6394 4.00495 32.3675 4.25655 31.6046C4.4554 30.9958 5.56327 31.4463 5.83516 31.1338C6.17199 30.7442 5.19803 30.0138 5.7053 29.4578C6.13141 28.9911 7.35293 30.0909 7.87643 29.9772C8.4324 29.8595 7.71816 28.6056 8.4324 28.4351C9.00055 28.2972 9.47536 28.8896 9.90958 30.517C10.0394 31.004 10.1571 31.8278 10.8957 32.1727C18.7889 35.5897 23.6668 27.6438 23.7195 27.5789V27.5829Z"
                  fill="#EF7951"></path>
                <path
                  d="M47.9714 30.728L45.8895 36.7178C45.9869 36.7828 48.8723 38.1747 51.8997 38.0164C54.9555 37.8541 58.8919 36.8193 63.6602 33.1223C64.484 32.6353 65.4499 32.1848 66.4198 32.0185C66.9595 31.9251 68.0715 31.7669 68.1364 31.2636C68.2297 30.5656 67.2801 30.8051 67.1016 30.1598C66.9677 29.681 68.1811 28.987 67.7062 28.3458C67.3248 27.8345 66.4198 28.6096 66.0627 28.3986C65.6204 28.1389 66.3102 27.1324 65.6528 26.7672C65.1009 26.4628 64.2933 27.8913 63.7577 27.9522C63.1936 28.0171 63.4695 26.6008 62.7391 26.6657C62.1587 26.7185 61.8949 27.4246 62.0005 29.1088C62.0329 29.612 62.1831 30.4277 61.5906 30.9917C55.199 36.7462 48.0404 30.7645 47.9714 30.7199V30.728Z"
                  fill="#EF7951"></path>
                <path
                  d="M30.4926 54.6956L31.4463 43.1704H27.2785L27.5058 52.9425C27.4084 55.0243 23.6708 55.2678 21.1507 55.2638C18.3992 55.2638 17.1899 55.3246 16.4473 56.4406C16.0577 57.025 16.7313 58.1207 16.6786 58.7944C16.6055 59.6709 15.9238 60.5272 16.2241 61.14C16.4391 61.5783 17.5917 61.8136 18.3749 62.4427C19.1581 63.0717 19.568 64.0862 20.8219 63.7778C22.3762 63.3963 23.7844 61.7447 25.8095 60.7585C27.4287 59.9712 29.5795 59.5573 30.3749 58.4981C31.3448 57.2036 30.5656 55.8644 30.5048 54.6916L30.4926 54.6956Z"
                  fill="#EF7951"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M40.3622 55.8763L39.4086 44.3511H43.5763L43.349 54.1231C43.4464 56.205 47.184 56.4485 49.7041 56.4444C52.4556 56.4444 53.6649 56.5053 54.4075 57.6213C54.7971 58.2057 54.1235 59.3014 54.1762 59.975C54.2493 60.8516 54.931 61.7079 54.6307 62.3206C54.4157 62.7589 53.2631 62.9943 52.4799 63.6233C51.6967 64.2523 51.2868 65.2669 50.0329 64.9585C48.4786 64.577 47.0704 62.9253 45.0453 61.9392C43.4261 61.1519 41.2753 60.738 40.4799 59.6788C39.51 58.3842 40.2892 57.045 40.3501 55.8722L40.3622 55.8763Z"
                  fill="url(#paint0_linear_127_5534)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M23.7195 27.5829L27.5991 32.5988C27.5261 32.6921 25.2332 34.9323 22.3154 35.7439C19.3692 36.5636 15.307 36.8315 9.60928 34.847C8.6759 34.6482 7.61264 34.5264 6.64273 34.6807C6.09894 34.7659 4.99919 34.9688 4.77599 34.5102C4.46757 33.8771 5.44152 33.8041 5.405 33.1345C5.38065 32.6394 4.00495 32.3675 4.25655 31.6046C4.4554 30.9958 5.56327 31.4463 5.83516 31.1338C6.17199 30.7442 5.19803 30.0138 5.7053 29.4578C6.13141 28.9911 7.35293 30.0909 7.87643 29.9772C8.4324 29.8595 7.71816 28.6056 8.4324 28.4351C9.00055 28.2972 9.47536 28.8896 9.90958 30.517C10.0394 31.004 10.1571 31.8278 10.8957 32.1727C18.7889 35.5897 23.6668 27.6438 23.7195 27.5789V27.5829Z"
                  fill="url(#paint1_linear_127_5534)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M47.9714 30.728L45.8895 36.7178C45.9869 36.7828 48.8723 38.1747 51.8997 38.0164C54.9555 37.8541 58.8919 36.8193 63.6602 33.1223C64.484 32.6353 65.4499 32.1848 66.4198 32.0185C66.9595 31.9251 68.0715 31.7669 68.1364 31.2636C68.2297 30.5656 67.2801 30.8051 67.1016 30.1598C66.9677 29.681 68.1811 28.987 67.7062 28.3458C67.3248 27.8345 66.4198 28.6096 66.0627 28.3986C65.6204 28.1389 66.3102 27.1324 65.6528 26.7672C65.1009 26.4628 64.2933 27.8913 63.7577 27.9522C63.1936 28.0171 63.4695 26.6008 62.7391 26.6657C62.1587 26.7185 61.8949 27.4246 62.0005 29.1088C62.0329 29.612 62.1831 30.4277 61.5906 30.9917C55.199 36.7462 48.0404 30.7645 47.9714 30.7199V30.728Z"
                  fill="url(#paint2_linear_127_5534)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M30.505 54.6346L31.4587 43.1094H27.291L27.5182 52.8814C27.4208 54.9633 23.6833 55.2068 21.1631 55.2027C18.4117 55.2027 17.2023 55.2636 16.4597 56.3796C16.0701 56.964 16.7438 58.0597 16.691 58.7333C16.618 59.6099 15.9362 60.4662 16.2365 61.0789C16.4516 61.5172 17.6041 61.7526 18.3873 62.3816C19.1706 63.0106 19.5804 64.0252 20.8344 63.7168C22.3887 63.3353 23.7969 61.6836 25.8219 60.6975C27.4411 59.9102 29.5919 59.4963 30.3873 58.4371C31.3572 57.1425 30.5781 55.8033 30.5172 54.6305L30.505 54.6346Z"
                  fill="url(#paint3_linear_127_5534)"></path>
                <path
                  d="M31.1618 13.8174C43.3119 12.4093 52.3535 18.7441 54.2406 29.8229C54.8412 33.3413 54.6748 35.6747 53.575 38.8198C53.3194 39.5543 52.317 41.6078 53.011 42.7075C53.7698 43.9128 55.3931 45.1952 56.6796 46.1895C58.3393 47.4718 57.6779 46.9767 58.7208 47.8046C61.1841 49.7647 58.6275 50.7955 58.6275 50.7955C58.6275 50.7955 41.0921 54.0095 32.2899 51.4935C21.8889 48.5229 17.0759 40.6176 16.6457 32.3065C16.1506 22.7535 22.6031 14.8117 31.1618 13.8174Z"
                  fill="#EF7951"></path>
                <path
                  d="M38.272 33.248C38.272 29.8311 41.0437 27.0593 44.4607 27.0593C47.8777 27.0593 50.6494 29.8311 50.6494 33.248C50.6494 36.665 47.8777 39.4367 44.4607 39.4367C41.0437 39.4367 38.272 36.665 38.272 33.248Z"
                  fill="#FBD0B0"></path>
                <path
                  d="M40.3903 34.2869C40.3903 32.0305 42.2164 30.2043 44.4728 30.2043C46.7291 30.2043 48.5553 32.0305 48.5553 34.2869C48.5553 36.5432 46.7291 38.3694 44.4728 38.3694C42.2164 38.3694 40.3903 36.5432 40.3903 34.2869Z"
                  fill="white"></path>
                <path
                  d="M42.0665 34.9035C42.0665 34.0026 42.797 33.2681 43.702 33.2681C44.6069 33.2681 45.3374 33.9985 45.3374 34.9035C45.3374 35.8085 44.6069 36.5389 43.702 36.5389C42.797 36.5389 42.0665 35.8085 42.0665 34.9035Z"
                  fill="#1E1E1C"></path>
                <path
                  d="M22.8594 33.2481C22.8594 30.237 25.3024 27.7939 28.3136 27.7939C31.3247 27.7939 33.7677 30.237 33.7677 33.2481C33.7677 36.2593 31.3247 38.7023 28.3136 38.7023C25.3024 38.7023 22.8594 36.2593 22.8594 33.2481Z"
                  fill="#FBD0B0"></path>
                <path
                  d="M24.7258 34.1611C24.7258 32.1726 26.3369 30.5615 28.3254 30.5615C30.3139 30.5615 31.925 32.1726 31.925 34.1611C31.925 36.1496 30.3139 37.7607 28.3254 37.7607C26.3369 37.7607 24.7258 36.1496 24.7258 34.1611Z"
                  fill="white"></path>
                <path
                  d="M25.9193 34.9035C25.9193 34.0026 26.6498 33.2681 27.5548 33.2681C28.4597 33.2681 29.1902 33.9985 29.1902 34.9035C29.1902 35.8085 28.4597 36.5389 27.5548 36.5389C26.6498 36.5389 25.9193 35.8085 25.9193 34.9035Z"
                  fill="#1E1E1C"></path>
                <path
                  d="M33.8405 42.8618C34.5872 42.9835 35.2081 43.0687 35.8046 43.1093C36.3971 43.1499 36.9409 43.1418 37.4806 43.085C38.0204 43.0241 38.5642 42.9186 39.1526 42.7644C39.7451 42.6142 40.3538 42.4073 41.1005 42.2368C40.8611 42.9632 40.3903 43.5476 39.7978 44.0143C39.2013 44.4688 38.4546 44.7813 37.6714 44.8625C36.8881 44.9477 36.0806 44.7975 35.3988 44.4526C34.7251 44.0995 34.1326 43.5801 33.8405 42.8658V42.8618Z"
                  fill="white"></path>
                <defs>
                  <linearGradient
                    id="paint0_linear_127_5534"
                    x1="47.0623"
                    y1="40.4065"
                    x2="47.0623"
                    y2="59.8776"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_127_5534"
                    x1="24.4094"
                    y1="29.3036"
                    x2="10.6482"
                    y2="33.5484"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_127_5534"
                    x1="46.4899"
                    y1="30.2815"
                    x2="60.7867"
                    y2="32.9331"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_127_5534"
                    x1="23.805"
                    y1="39.3921"
                    x2="23.805"
                    y2="55.1216"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                </defs>
              </svg>

              <h5 class="text-educational-language">Rhyming-Roger</h5>
            </div>
            <p class="text-base lg:text-lg leading-6 font-semibold">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
          </div>
          <div
            class="rounded-r_20 bg-neutral-200/50 pt-[54px] pb-[46px] pl-[34px] pr-[28px]"
          >
            <div class="mb-4 flex gap-4 items-center">
              <svg
                width="72"
                height="72"
                viewBox="0 0 72 72"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_127_5593)">
                  <path
                    d="M43.5142 47.5085C43.5142 46.4572 47.7236 47.5085 47.7236 47.5085L47.2669 55.9101C47.3402 60.0075 52.6913 58.409 56.8102 58.702C58.2191 58.8011 56.1898 59.8179 56.7628 60.6365C57.0903 61.1061 57.8615 61.3 57.9649 61.8041C58.1373 62.6227 56.8102 62.2177 56.4311 62.9976C56.2071 63.4629 56.8145 64.5443 56.332 64.8201C55.8494 65.0958 54.6991 64.3806 54.0269 64.4581C53.1437 64.5615 53.8115 66.6813 52.9412 66.2979C52.1484 65.9489 47.0386 63.0579 45.5349 61.9118C43.1652 60.0979 43.5228 58.5383 43.5142 47.5128V47.5085Z"
                    fill="#4C2771"></path>
                  <path
                    style="mix-blend-mode:multiply"
                    opacity="0.26"
                    d="M43.5142 47.5085C43.5142 46.4572 47.7236 47.5085 47.7236 47.5085L47.2669 55.9101C47.3402 60.0075 52.6913 58.409 56.8102 58.702C58.2191 58.8011 56.1898 59.8179 56.7628 60.6365C57.0903 61.1061 57.8615 61.3 57.9649 61.8041C58.1373 62.6227 56.8102 62.2177 56.4311 62.9976C56.2071 63.4629 56.8145 64.5443 56.332 64.8201C55.8494 65.0958 54.6991 64.3806 54.0269 64.4581C53.1437 64.5615 53.8115 66.6813 52.9412 66.2979C52.1484 65.9489 47.0386 63.0579 45.5349 61.9118C43.1652 60.0979 43.5228 58.5383 43.5142 47.5128V47.5085Z"
                    fill="url(#paint0_linear_127_5593)"></path>
                  <path
                    d="M23.6561 30.8604L24.492 37.5429C24.3757 37.5903 21.071 38.396 17.9646 37.5601C14.828 36.72 10.9676 34.7682 6.83575 29.8781C6.09038 29.193 5.18128 28.5079 4.21187 28.1202C3.669 27.9048 2.5531 27.4955 2.59618 26.9569C2.6565 26.2115 3.58714 26.6682 3.91458 26.0392C4.16017 25.5696 3.05288 24.5829 3.69054 24.0185C4.19894 23.5704 4.97017 24.5786 5.38809 24.4407C5.90511 24.2684 5.40963 23.0749 6.17655 22.838C6.81851 22.6441 7.33984 24.3072 7.8784 24.4881C8.45144 24.6777 8.47728 23.1482 9.22265 23.3765C9.81292 23.5575 9.92925 24.3546 9.451 26.078C9.30882 26.595 8.96845 27.4093 9.45962 28.1245C14.8237 35.5136 23.5829 30.8862 23.6604 30.8518L23.6561 30.8604Z"
                    fill="#4C2771"></path>
                  <path
                    d="M51.1185 30.115L47.2451 35.6213C47.327 35.716 49.8647 37.9823 53.0013 38.7018C56.168 39.43 60.4895 39.5205 66.4352 37.1378C67.4175 36.8793 68.5377 36.7027 69.5761 36.819C70.1577 36.8836 71.334 37.0431 71.5494 36.5476C71.8467 35.8582 70.8126 35.8281 70.8126 35.1215C70.8126 34.5915 72.2603 34.2382 71.9587 33.4455C71.7174 32.8121 70.567 33.3378 70.2654 33.0189C69.8906 32.6225 70.8902 31.7996 70.3214 31.2352C69.8475 30.7613 68.6024 31.9849 68.0422 31.8944C67.4477 31.7953 68.1414 30.4338 67.3787 30.283C66.7712 30.1667 66.2973 30.813 65.9095 32.5622C65.7932 33.0835 65.7114 33.9625 64.9401 34.3675C56.7367 38.3744 51.1745 30.1796 51.1185 30.115Z"
                    fill="#4C2771"></path>
                  <path
                    d="M29.4037 47.5085C29.3649 46.4572 25.1943 47.5085 25.1943 47.5085L25.651 55.9101C25.5778 60.0075 19.7785 58.2841 16.1077 58.702C14.7031 58.8614 16.7281 59.8179 16.1551 60.6365C15.8276 61.1061 14.6083 61.468 14.5049 61.9678C14.3326 62.7864 16.1077 62.2134 16.4868 62.9932C16.7109 63.4586 16.1551 64.54 16.6419 64.8157C17.1245 65.0915 18.2188 64.3763 18.8953 64.4538C19.7785 64.5572 19.1107 66.677 19.981 66.2936C20.7738 65.9446 25.9569 62.8037 27.3873 61.9075C30.9634 59.6671 29.7053 55.7722 29.408 47.5085H29.4037Z"
                    fill="#4C2771"></path>
                  <path
                    style="mix-blend-mode:multiply"
                    opacity="0.29"
                    d="M29.4037 47.5085C29.3649 46.4572 25.1943 47.5085 25.1943 47.5085L25.651 55.9101C25.5778 60.0075 19.7785 58.2841 16.1077 58.702C14.7031 58.8614 16.7281 59.8179 16.1551 60.6365C15.8276 61.1061 14.6083 61.468 14.5049 61.9678C14.3326 62.7864 16.1077 62.2134 16.4868 62.9932C16.7109 63.4586 16.1551 64.54 16.6419 64.8157C17.1245 65.0915 18.2188 64.3763 18.8953 64.4538C19.7785 64.5572 19.1107 66.677 19.981 66.2936C20.7738 65.9446 25.9569 62.8037 27.3873 61.9075C30.9634 59.6671 29.7053 55.7722 29.408 47.5085H29.4037Z"
                    fill="url(#paint1_linear_127_5593)"></path>
                  <path
                    style="mix-blend-mode:multiply"
                    d="M23.6561 30.8604L24.492 37.5429C24.3757 37.5903 21.071 38.396 17.9646 37.5601C14.828 36.72 10.9676 34.7682 6.83575 29.8781C6.09038 29.193 5.18128 28.5079 4.21187 28.1202C3.669 27.9048 2.5531 27.4955 2.59618 26.9569C2.6565 26.2115 3.58714 26.6682 3.91458 26.0392C4.16017 25.5696 3.05288 24.5829 3.69054 24.0185C4.19894 23.5704 4.97017 24.5786 5.38809 24.4407C5.90511 24.2684 5.40963 23.0749 6.17655 22.838C6.81851 22.6441 7.33984 24.3072 7.8784 24.4881C8.45144 24.6777 8.47728 23.1482 9.22265 23.3765C9.81292 23.5575 9.92925 24.3546 9.451 26.078C9.30882 26.595 8.96845 27.4093 9.45962 28.1245C14.8237 35.5136 23.5829 30.8862 23.6604 30.8518L23.6561 30.8604Z"
                    fill="url(#paint2_linear_127_5593)"></path>
                  <path
                    style="mix-blend-mode:multiply"
                    d="M51.1185 30.115L47.2451 35.6213C47.327 35.716 49.8647 37.9823 53.0013 38.7018C56.168 39.43 60.4895 39.5205 66.4352 37.1378C67.4175 36.8793 68.5377 36.7027 69.5761 36.819C70.1577 36.8836 71.334 37.0431 71.5494 36.5476C71.8467 35.8582 70.8126 35.8281 70.8126 35.1215C70.8126 34.5915 72.2603 34.2382 71.9587 33.4455C71.7174 32.8121 70.567 33.3378 70.2654 33.0189C69.8906 32.6225 70.8902 31.7996 70.3214 31.2352C69.8475 30.7613 68.6024 31.9849 68.0422 31.8944C67.4477 31.7953 68.1414 30.4338 67.3787 30.283C66.7712 30.1667 66.2973 30.813 65.9095 32.5622C65.7932 33.0835 65.7114 33.9625 64.9401 34.3675C56.7367 38.3744 51.1745 30.1796 51.1185 30.115Z"
                    fill="url(#paint3_linear_127_5593)"></path>
                  <path
                    d="M16.3921 14.8286C8.73159 20.3564 17.396 31.0286 17.0212 34.9235C16.6463 38.8183 12.2473 43.338 16.6463 47.4827C20.0069 50.6538 25.0608 47.6077 30.3344 49.3656C33.988 50.5849 34.5395 54.2643 40.1319 53.5103C44.7808 52.8813 45.0307 48.9907 48.1716 48.8615C51.3125 48.7365 54.9058 48.0084 55.8321 44.4668C57.2152 39.1932 53.1953 36.5564 55.9571 34.1695C60.6232 30.141 60.5198 24.889 57.4651 22.739C54.0743 20.3521 50.8084 23.1225 48.2966 21.7351C44.6559 19.7274 47.0385 14.1996 42.269 13.0707C37.633 11.9721 36.7412 15.4576 32.5964 15.7075C28.4516 15.9574 22.075 10.7312 16.3964 14.8286H16.3921Z"
                    fill="#4C2771"></path>
                  <path
                    d="M32.631 44.4065C35.1084 43.9713 39.4384 43.0795 40.201 42.8037C40.0416 43.6008 39.503 45.5181 36.9266 46.0135C34.3975 46.4789 33.0317 45.1217 32.631 44.4065Z"
                    fill="white"></path>
                  <path
                    d="M51.3082 35.8283C51.3082 39.3699 48.4388 42.2436 44.8972 42.2436C41.3556 42.2436 38.4818 39.3742 38.4818 35.8283C38.4818 32.2824 41.3513 29.4172 44.8972 29.4172C48.4431 29.4172 51.3082 32.2867 51.3082 35.8283Z"
                    fill="#DCCEE6"></path>
                  <path
                    d="M33.2212 36.1042C33.2212 39.383 30.5672 42.037 27.2884 42.037C24.0096 42.037 21.3556 39.383 21.3556 36.1042C21.3556 32.8254 24.0096 30.1714 27.2884 30.1714C30.5672 30.1714 33.2212 32.8254 33.2212 36.1042Z"
                    fill="#DCCEE6"></path>
                  <path
                    d="M49.2832 36.8276C49.2832 39.1628 47.3874 41.0586 45.0522 41.0586C42.717 41.0586 40.8213 39.1628 40.8213 36.8276C40.8213 34.4924 42.717 32.5967 45.0522 32.5967C47.3874 32.5967 49.2832 34.4924 49.2832 36.8276Z"
                    fill="white"></path>
                  <path
                    d="M46.7628 36.7847C46.7628 37.7412 45.9873 38.521 45.0265 38.521C44.0657 38.521 43.2902 37.7455 43.2902 36.7847C43.2902 35.8239 44.0657 35.0483 45.0265 35.0483C45.9873 35.0483 46.7628 35.8239 46.7628 36.7847Z"
                    fill="#1E1E1C"></path>
                  <path
                    d="M31.8684 36.7416C31.8684 39.262 29.8262 41.3086 27.3014 41.3086C24.7766 41.3086 22.7344 39.2664 22.7344 36.7416C22.7344 34.2168 24.7766 32.1746 27.3014 32.1746C29.8262 32.1746 31.8684 34.2168 31.8684 36.7416Z"
                    fill="white"></path>
                  <path
                    d="M28.9257 36.7847C28.9257 37.7412 28.1501 38.521 27.1893 38.521C26.2285 38.521 25.453 37.7455 25.453 36.7847C25.453 35.8239 26.2285 35.0483 27.1893 35.0483C28.1501 35.0483 28.9257 35.8239 28.9257 36.7847Z"
                    fill="#1E1E1C"></path>
                </g>
                <defs>
                  <linearGradient
                    id="paint0_linear_127_5593"
                    x1="43.497"
                    y1="56.6942"
                    x2="57.9778"
                    y2="56.6942"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_127_5593"
                    x1="22.1784"
                    y1="47.0432"
                    x2="22.1784"
                    y2="66.341"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_127_5593"
                    x1="28.9211"
                    y1="35.3283"
                    x2="11.4717"
                    y2="29.8091"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_127_5593"
                    x1="44.3642"
                    y1="31.6419"
                    x2="62.3634"
                    y2="34.9545"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <clipPath id="clip0_127_5593">
                    <rect width="72" height="72" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>

              <h5 class="text-educational-creative">Color Paletta</h5>
            </div>
            <p class="text-base lg:text-lg leading-6 font-semibold">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
          </div>
          <div
            class="rounded-r_20 bg-neutral-200/50 pt-[54px] pb-[46px] pl-[34px] pr-[28px]"
          >
            <div class="mb-4 flex gap-4 items-center">
              <svg
                width="72"
                height="73"
                viewBox="0 0 72 73"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M25.4757 33.1884L23.5351 39.6584C18.0246 38.8156 12.7 33.7633 10.4396 25.4694C10.0766 23.8271 7.46179 21.986 7.73407 21.074C8.09279 20.4128 8.75836 21.2123 9.31589 20.7672C9.7308 20.4387 9.11275 19.0816 9.9296 18.8223C10.5779 18.6192 10.8761 19.8552 11.317 19.8941C11.8615 19.946 11.8918 18.6494 12.687 18.7445C13.3526 18.8266 13.1581 20.564 13.5817 20.9487C14.0268 21.3549 14.6708 19.9633 15.2629 20.4733C15.734 20.8795 15.5179 21.6575 14.3769 23.0448C14.0355 23.4597 13.3958 24.0691 13.5557 24.9249C15.4833 33.88 25.3936 33.1798 25.48 33.1841L25.4757 33.1884Z"
                  fill="#006DB2"></path>
                <path
                  d="M47.2366 32.8989L49.1772 39.3689C54.6877 38.5261 60.0123 33.4737 62.2727 25.1799C62.6358 23.5376 65.2505 21.6964 64.9783 20.7845C64.6195 20.1232 63.9539 20.9228 63.3964 20.4776C62.9815 20.1491 63.5995 18.7921 62.7827 18.5327C62.1344 18.3296 61.8362 19.5657 61.3953 19.6046C60.8508 19.6564 60.8205 18.3599 60.0253 18.4549C59.3597 18.5371 59.5542 20.2745 59.1306 20.6591C58.6855 21.0654 58.0415 19.6737 57.4494 20.1837C56.9783 20.59 57.1944 21.3679 58.3354 22.7553C58.6768 23.1702 59.3165 23.7796 59.1566 24.6353C57.229 33.5904 47.3187 32.8903 47.2323 32.8946L47.2366 32.8989Z"
                  fill="#006DB2"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M25.5058 33.1884L23.5653 39.6584C18.0548 38.8156 12.7301 33.7633 10.4697 25.4694C10.1067 23.8271 7.49194 21.986 7.76422 21.074C8.12294 20.4128 8.78851 21.2123 9.34604 20.7672C9.76095 20.4387 9.1429 19.0816 9.95975 18.8223C10.608 18.6192 10.9063 19.8552 11.3471 19.8941C11.8917 19.946 11.9219 18.6494 12.7172 18.7445C13.3827 18.8266 13.1883 20.564 13.6118 20.9487C14.057 21.3549 14.7009 19.9633 15.2931 20.4733C15.7641 20.8795 15.5481 21.6575 14.4071 23.0448C14.0656 23.4597 13.426 24.0691 13.5859 24.9249C15.5135 33.88 25.4237 33.1798 25.5101 33.1841L25.5058 33.1884Z"
                  fill="url(#paint0_linear_127_5671)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M47.2714 32.8989L49.212 39.3689C54.7225 38.5261 60.0471 33.4737 62.3075 25.1799C62.6705 23.5376 65.2853 21.6964 65.013 20.7845C64.6543 20.1232 63.9887 20.9228 63.4312 20.4776C63.0163 20.1491 63.6343 18.7921 62.8175 18.5327C62.1692 18.3296 61.871 19.5657 61.4301 19.6046C60.8856 19.6564 60.8553 18.3599 60.0601 18.4549C59.3945 18.5371 59.589 20.2745 59.1654 20.6591C58.7203 21.0654 58.0763 19.6737 57.4842 20.1837C57.0131 20.59 57.2292 21.3679 58.3702 22.7553C58.7116 23.1702 59.3513 23.7796 59.1914 24.6353C57.2638 33.5904 47.3535 32.8903 47.2671 32.8946L47.2714 32.8989Z"
                  fill="url(#paint1_linear_127_5671)"></path>
                <path
                  d="M31.3621 55.0489L31.6387 47.2737H27.8354C27.7576 49.2834 29.0715 53.0997 26.9235 54.5519C26.9235 54.5519 24.0061 57.3309 21.0845 57.6766C21.0845 57.6766 16.447 57.8581 16.5205 59.695C17.1169 63.494 20.4665 59.1893 21.7242 60.9699C21.7242 60.9699 22.2601 61.7781 20.4794 62.8068C18.1715 63.9694 21.4648 66.9342 22.6793 63.7317C22.6793 63.7317 23.4227 60.9699 24.8014 62.1369C26.6814 63.2217 23.0294 67.535 27.0315 67.1287C27.0315 67.1287 28.8165 66.7786 28.1984 63.092C27.1698 56.2504 31.1633 59.7295 31.3621 55.0532V55.0489Z"
                  fill="#006DB2"></path>
                <path
                  d="M41.2467 55.0489L40.9701 47.2737H44.7734C44.8512 49.2834 43.5373 53.0997 45.6854 54.5519C45.6854 54.5519 48.6027 57.3309 51.5243 57.6766C51.5243 57.6766 56.1618 57.8581 56.0883 59.695C55.4919 63.494 52.1423 59.1893 50.8846 60.9699C50.8846 60.9699 50.3487 61.7781 52.1294 62.8068C54.4373 63.9694 51.144 66.9342 49.9295 63.7317C49.9295 63.7317 49.1861 60.9699 47.8074 62.1369C45.9274 63.2217 49.5794 67.535 45.5773 67.1287C45.5773 67.1287 43.7923 66.7786 44.4104 63.092C45.439 56.2504 41.4455 59.7295 41.2467 55.0532V55.0489Z"
                  fill="#006DB2"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M31.3926 55.0489L31.6692 47.2737H27.8659C27.7881 49.2834 29.102 53.0997 26.954 54.5519C26.954 54.5519 24.0367 57.3309 21.115 57.6766C21.115 57.6766 16.4776 57.8581 16.551 59.695C17.1475 63.494 20.497 59.1893 21.7547 60.9699C21.7547 60.9699 22.2906 61.7781 20.51 62.8068C18.202 63.9694 21.4953 66.9342 22.7098 63.7317C22.7098 63.7317 23.4532 60.9699 24.8319 62.1369C26.712 63.2217 23.0599 67.535 27.062 67.1287C27.062 67.1287 28.847 66.7786 28.229 63.092C27.2003 56.2504 31.1938 59.7295 31.3926 55.0532V55.0489Z"
                  fill="url(#paint2_linear_127_5671)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M41.2769 55.0489L41.0002 47.2737H44.8036C44.8814 49.2834 43.5675 53.0997 45.7155 54.5519C45.7155 54.5519 48.6328 57.3309 51.5544 57.6766C51.5544 57.6766 56.1919 57.8581 56.1184 59.695C55.522 63.494 52.1725 59.1893 50.9148 60.9699C50.9148 60.9699 50.3789 61.7781 52.1595 62.8068C54.4674 63.9694 51.1741 66.9342 49.9597 63.7317C49.9597 63.7317 49.2163 60.9699 47.8376 62.1369C45.9575 63.2217 49.6096 67.535 45.6075 67.1287C45.6075 67.1287 43.8225 66.7786 44.4405 63.092C45.4692 56.2504 41.4757 59.7295 41.2769 55.0532V55.0489Z"
                  fill="url(#paint3_linear_127_5671)"></path>
                <path
                  d="M21.6035 12.0715H51.1744C53.2057 12.0715 54.8566 13.7225 54.8566 15.7538V45.3246C54.8566 47.3559 53.2057 49.0069 51.1744 49.0069H21.6035C19.5722 49.0069 17.9213 47.3559 17.9213 45.3246V15.7538C17.9213 13.7225 19.5722 12.0715 21.6035 12.0715Z"
                  fill="#006DB2"></path>
                <path
                  d="M38.3812 33.2362C38.5152 25.4567 50.0851 25.4567 50.2191 33.2362C50.0851 41.0158 38.5152 41.0158 38.3812 33.2362Z"
                  fill="#A3D5F3"></path>
                <path
                  d="M21.5988 32.3759C21.763 22.846 35.939 22.846 36.0989 32.3759C35.9347 41.9058 21.7587 41.9058 21.5988 32.3759Z"
                  fill="#A3D5F3"></path>
                <path
                  d="M39.8073 34.0227C39.8937 28.8883 47.5306 28.8883 47.617 34.0227C47.5306 39.1572 39.8937 39.1572 39.8073 34.0227Z"
                  fill="white"></path>
                <path
                  d="M41.8604 34.027C41.8258 31.7709 45.3741 31.7709 45.3395 34.027C45.3741 36.2831 41.8258 36.2831 41.8604 34.027Z"
                  fill="#1E1E1C"></path>
                <path
                  d="M24.3867 33.9148C24.4948 27.6264 33.8475 27.6264 33.9555 33.9148C33.8475 40.2033 24.4948 40.2033 24.3867 33.9148Z"
                  fill="white"></path>
                <path
                  d="M42.5083 46.1112C45.1274 44.9788 46.692 43.289 48.3991 41.0588C49.4796 44.3089 45.5726 47.8832 42.5083 46.1112Z"
                  fill="white"></path>
                <path
                  d="M27.3906 34.027C27.3561 31.7709 30.9044 31.7709 30.8698 34.027C30.9044 36.2831 27.3561 36.2831 27.3906 34.027Z"
                  fill="#1E1E1C"></path>
                <defs>
                  <linearGradient
                    id="paint0_linear_127_5671"
                    x1="26.0461"
                    y1="35.7298"
                    x2="16.0408"
                    y2="28.4386"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_127_5671"
                    x1="46.7355"
                    y1="35.4402"
                    x2="56.7365"
                    y2="28.1491"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_127_5671"
                    x1="24.1101"
                    y1="41.573"
                    x2="24.1101"
                    y2="55.9089"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_127_5671"
                    x1="48.5637"
                    y1="41.573"
                    x2="48.5637"
                    y2="55.9089"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                </defs>
              </svg>

              <h5 class="text-educational-maths">Counting Connie</h5>
            </div>
            <p class="text-base lg:text-lg leading-6 font-semibold">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
          </div>
          <div
            class="rounded-r_20 bg-neutral-200/50 pt-[54px] pb-[46px] pl-[34px] pr-[28px]"
          >
            <div class="mb-4 flex gap-4 items-center">
              <svg
                width="72"
                height="73"
                viewBox="0 0 72 73"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.9502 51.2142C31.8974 50.3735 28.5873 51.2142 28.5873 51.2142L29.0587 60.5676C29.115 62.6394 22.4737 63.4977 21.8581 63.3395C21.1616 63.1601 20.9858 62.2209 21.0807 61.76C21.3199 60.6133 19.9762 60.4585 19.8355 61.5349C19.8214 61.6545 19.7476 62.0696 19.73 62.5656C19.7053 63.2304 19.7511 64.0535 19.8918 64.5917C20.4581 66.7164 21.7772 67.6908 23.5993 67.4516C24.936 67.2757 30.1281 65.4641 31.2044 65.1686C33.2341 64.6128 32.7487 63.5505 31.9537 51.2142H31.9502Z"
                  fill="#3CB7B2"></path>
                <path
                  d="M39.9702 51.2142C40.0019 50.3735 43.333 51.2142 43.333 51.2142L42.8617 60.5676C42.8054 62.6394 49.4467 63.4977 50.0622 63.3395C50.7587 63.1601 50.9346 62.2209 50.8396 61.76C50.6004 60.6133 51.9442 60.4585 52.0849 61.5349C52.099 61.6545 52.1728 62.0696 52.1904 62.5656C52.215 63.2304 52.1693 64.0535 52.0286 64.5917C51.4623 66.7164 50.1432 67.6908 48.321 67.4516C46.9843 67.2757 41.7642 65.5556 40.7159 65.1686C39.2069 64.6128 39.4953 63.744 39.9667 51.2142H39.9702Z"
                  fill="#3CB7B2"></path>
                <path
                  d="M26.6419 43.1553V48.5479C26.547 48.5725 23.8384 48.8855 21.4534 47.9147C19.0439 46.9333 16.1735 45.0021 13.377 40.7036C12.8529 40.0845 12.2021 39.4513 11.4669 39.0468C11.0589 38.8216 10.2111 38.3854 10.2991 37.9633C10.4222 37.3759 11.1152 37.8332 11.4388 37.3653C11.6815 37.0171 10.8971 36.1236 11.4599 35.7402C11.9101 35.4342 12.4202 36.3136 12.7649 36.2432C13.1941 36.1588 12.9197 35.1598 13.5494 35.0507C14.077 34.9593 14.3267 36.3347 14.7383 36.5317C15.1745 36.7392 15.3469 35.5291 15.9167 35.7824C16.3705 35.9864 16.381 36.6266 15.8288 37.9528C15.6634 38.3468 15.3152 38.9623 15.6318 39.5814C19.16 45.9835 26.5751 43.18 26.6419 43.1624V43.1553Z"
                  fill="#3CB7B2"></path>
                <path
                  d="M45.9503 40.7351L43.7377 45.6527C43.8151 45.7161 46.1543 47.1125 48.7292 47.204C51.3287 47.299 54.7408 46.7151 59.0569 43.9467C59.7886 43.5984 60.6433 43.2854 61.477 43.2221C61.9413 43.1869 62.8946 43.1341 62.9861 42.712C63.1162 42.1281 62.2966 42.2582 62.1911 41.6989C62.1137 41.2839 63.1936 40.7879 62.8383 40.2075C62.5534 39.7431 61.7268 40.3341 61.4418 40.1301C61.0866 39.8768 61.7479 39.0783 61.2167 38.7195C60.7735 38.4205 59.9785 39.5708 59.5247 39.5813C59.0428 39.5919 59.384 38.417 58.7579 38.417C58.2619 38.417 57.9875 38.9974 57.9489 40.4326C57.9383 40.8617 58.0051 41.5617 57.4599 41.9979C51.6136 46.3879 46.003 40.7843 45.9503 40.7421V40.7351Z"
                  fill="#3CB7B2"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M39.738 60.9159L39.9632 51.2144H43.326L42.8546 60.5677C42.7984 62.6396 41.7747 65.5064 40.7089 65.1652C39.1963 64.6833 39.6782 61.9009 39.7345 60.9124L39.738 60.9159Z"
                  fill="url(#paint0_linear_127_5679)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M32.6606 60.9933L31.5069 50.3032L28.4289 50.071L29.0445 59.6847C29.0445 65.9918 25.446 67.1983 27.152 66.3682C28.5169 65.7033 32.7134 61.9782 32.6606 60.9897V60.9933Z"
                  fill="url(#paint1_linear_127_5679)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M26.635 43.1553V48.5479C26.54 48.5725 23.8314 48.8855 21.4465 47.9147C19.0369 46.9333 16.1665 45.0021 13.37 40.7036C12.8459 40.0845 12.1951 39.4513 11.46 39.0468C11.0519 38.8216 10.2042 38.3854 10.2921 37.9633C10.4152 37.3759 11.1082 37.8332 11.4318 37.3653C11.6745 37.0171 10.8901 36.1236 11.4529 35.7402C11.9032 35.4342 12.4132 36.3136 12.758 36.2432C13.1871 36.1588 12.9127 35.1598 13.5424 35.0507C14.07 34.9593 14.3198 36.3347 14.7314 36.5317C15.1675 36.7392 15.3399 35.5291 15.9098 35.7824C16.3635 35.9864 16.3741 36.6266 15.8218 37.9528C15.6565 38.3468 15.3082 38.9623 15.6248 39.5814C19.153 45.9835 26.5681 43.18 26.635 43.1624V43.1553Z"
                  fill="url(#paint2_linear_127_5679)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M45.9432 40.7351L43.7306 45.6527C43.808 45.7161 46.1472 47.1125 48.7221 47.204C51.3216 47.299 54.7337 46.7151 59.0498 43.9467C59.7815 43.5984 60.6363 43.2854 61.4699 43.2221C61.9343 43.1869 62.8875 43.1341 62.979 42.712C63.1092 42.1281 62.2895 42.2582 62.184 41.6989C62.1066 41.2839 63.1865 40.7879 62.8313 40.2075C62.5463 39.7431 61.7197 40.3341 61.4348 40.1301C61.0795 39.8768 61.7408 39.0783 61.2096 38.7195C60.7664 38.4205 59.9714 39.5708 59.5177 39.5813C59.0358 39.5919 59.377 38.417 58.7508 38.417C58.2548 38.417 57.9805 38.9974 57.9418 40.4326C57.9312 40.8617 57.998 41.5617 57.4528 41.9979C51.6065 46.3879 45.9959 40.7843 45.9432 40.7421V40.7351Z"
                  fill="url(#paint3_linear_127_5679)"></path>
                <path
                  d="M45.0707 25.6446C44.8738 22.9326 45.813 21.7331 44.3602 18.5355C43.2943 16.1893 41.9436 15.1234 39.4566 14.0576C38.5033 13.6496 36.7445 13.2591 35.6893 12.7772C32.5269 11.3385 36.836 7.11383 35.9038 6.09724C33.5576 3.53993 28.2284 12.4149 32.1154 16.8013C33.642 18.525 37.5712 19.8265 34.7325 23.1612C33.2726 24.8743 20.662 29.1904 20.662 42.5609C20.662 51.2212 27.6832 58.2424 36.3435 58.2424C45.0039 58.2424 52.0251 51.2212 52.0251 42.5609C52.0251 32.4723 45.2572 28.1879 45.0743 25.6446H45.0707Z"
                  fill="#3CB7B2"></path>
                <path
                  d="M32.6078 50.3347C33.3043 50.4754 38.7531 50.1553 39.4601 50.0251C39.2068 50.7005 38.7425 51.2317 38.1656 51.6468C37.5887 52.0513 36.8747 52.3151 36.1324 52.3608C35.3937 52.4101 34.641 52.2377 34.0113 51.886C33.3887 51.5307 32.854 51.0171 32.6078 50.3312V50.3347Z"
                  fill="white"></path>
                <path
                  d="M32.8013 42.846C32.8013 45.055 31.0108 46.8455 28.8018 46.8455C26.5927 46.8455 24.8022 45.055 24.8022 42.846C24.8022 40.6369 26.5927 38.8464 28.8018 38.8464C31.0108 38.8464 32.8013 40.6369 32.8013 42.846Z"
                  fill="#BFE2E9"></path>
                <path
                  d="M47.9974 42.6806C47.9974 45.3856 45.8024 47.5806 43.0973 47.5806C40.3923 47.5806 38.1973 45.3856 38.1973 42.6806C38.1973 39.9755 40.3887 37.7805 43.0973 37.7805C45.8059 37.7805 47.9974 39.9755 47.9974 42.6806Z"
                  fill="#BFE2E9"></path>
                <path
                  d="M31.841 43.4473C31.841 44.9036 30.6591 46.0855 29.2028 46.0855C27.7465 46.0855 26.5646 44.9036 26.5646 43.4473C26.5646 41.991 27.7465 40.8091 29.2028 40.8091C30.6591 40.8091 31.841 41.991 31.841 43.4473Z"
                  fill="white"></path>
                <path
                  d="M30.3461 43.567C30.3461 44.2177 29.8185 44.7419 29.1712 44.7419C28.524 44.7419 27.9963 44.2142 27.9963 43.567C27.9963 42.9197 28.524 42.3921 29.1712 42.3921C29.8185 42.3921 30.3461 42.9197 30.3461 43.567Z"
                  fill="#1E1F1D"></path>
                <path
                  d="M45.6969 43.4051C45.6969 45.192 44.2512 46.6377 42.4643 46.6377C40.6773 46.6377 39.2316 45.192 39.2316 43.4051C39.2316 41.6181 40.6773 40.1724 42.4643 40.1724C44.2512 40.1724 45.6969 41.6181 45.6969 43.4051Z"
                  fill="white"></path>
                <path
                  d="M43.414 43.567C43.414 44.2177 42.8863 44.7419 42.2391 44.7419C41.5919 44.7419 41.0642 44.2142 41.0642 43.567C41.0642 42.9197 41.5919 42.3921 42.2391 42.3921C42.8863 42.3921 43.414 42.9197 43.414 43.567Z"
                  fill="#1E1F1D"></path>
                <defs>
                  <linearGradient
                    id="paint0_linear_127_5679"
                    x1="41.4722"
                    y1="48.942"
                    x2="41.4722"
                    y2="59.2732"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1F1D"></stop>
                    <stop offset="0.25" stop-color="#1E1F1D" stop-opacity="0.61"
                    ></stop>
                    <stop offset="0.65" stop-color="#1E1F1D" stop-opacity="0.16"
                    ></stop>
                    <stop offset="1" stop-color="#1E1F1D" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_127_5679"
                    x1="29.6777"
                    y1="47.3871"
                    x2="29.6777"
                    y2="59.6003"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1F1D"></stop>
                    <stop offset="0.26" stop-color="#1E1F1D" stop-opacity="0.57"
                    ></stop>
                    <stop offset="0.65" stop-color="#1E1F1D" stop-opacity="0.14"
                    ></stop>
                    <stop offset="1" stop-color="#1E1F1D" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_127_5679"
                    x1="28.7051"
                    y1="42.3509"
                    x2="16.7806"
                    y2="41.691"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1F1D"></stop>
                    <stop offset="0.27" stop-color="#1E1F1D" stop-opacity="0.55"
                    ></stop>
                    <stop offset="0.65" stop-color="#1E1F1D" stop-opacity="0.14"
                    ></stop>
                    <stop offset="1" stop-color="#1E1F1D" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_127_5679"
                    x1="43.2029"
                    y1="43.1482"
                    x2="55.5076"
                    y2="42.7683"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1F1D"></stop>
                    <stop offset="0.17" stop-color="#1E1F1D" stop-opacity="0.74"
                    ></stop>
                    <stop offset="0.65" stop-color="#1E1F1D" stop-opacity="0.19"
                    ></stop>
                    <stop offset="1" stop-color="#1E1F1D" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                </defs>
              </svg>
              <h5 class="text-educational-movement">Jumping Jack</h5>
            </div>
            <p class="text-base lg:text-lg leading-6 font-semibold">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
          </div>
          <div
            class="rounded-r_20 bg-neutral-200/50 pt-[54px] pb-[46px] pl-[34px] pr-[28px]"
          >
            <div class="mb-4 flex gap-4 items-center">
              <svg
                width="72"
                height="73"
                viewBox="0 0 72 73"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M43.4385 51.2785L43.1619 55.1477C43.1178 56.0138 43.0416 57.4011 43.0416 57.4011C42.9694 60.0074 48.3904 60.0394 51.0087 60.5447C53.7031 61.0699 54.1001 63.3073 51.9309 64.5262C51.0327 65.0314 52.7408 65.9977 51.8948 67.0522C51.0448 68.1108 48.4345 65.6328 46.2934 64.5903C44.5773 63.7564 41.6222 63.7604 40.3472 63.175C39.3448 62.7138 39.7578 60.3843 39.8259 59.1453L39.7257 54.5864L39.453 50.24"
                  fill="#BA217D"></path>
                <path
                  d="M27.4364 51.0979L27.6248 54.8148C27.6128 54.9632 27.7732 57.7378 27.7732 57.7378C27.8454 60.3441 22.4244 60.3761 19.8061 60.8814C17.1116 61.4066 16.7147 63.644 18.8839 64.8629C19.782 65.3681 18.074 66.3344 18.92 67.3889C19.77 68.4475 22.3803 65.9695 24.5214 64.927C26.2375 64.093 29.1926 64.0971 30.4676 63.5117C31.47 63.0505 31.057 60.721 30.9889 59.482L31.1132 55.5005H31.1332L31.5583 50.7651"
                  fill="#BA217D"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M31.5863 50.7454L31.1613 55.4807H31.1413L31.017 59.4622C31.0851 60.7012 31.4981 63.0308 30.4957 63.4919C29.2207 64.0773 26.2656 64.0733 24.5495 64.9073C22.4084 65.9498 19.7981 68.4277 18.9481 67.3692C18.1021 66.3146 19.8101 65.3483 18.912 64.8431C16.7388 63.6242 17.1357 61.3868 19.8342 60.8616C22.4565 60.3524 27.8734 60.3203 27.8013 57.7181C27.8013 57.7181 27.6449 54.9434 27.6529 54.7951L27.4645 51.0782L31.5823 50.7494"
                  fill="url(#paint0_linear_127_5687)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M43.3786 50.8052L43.1901 54.5221C43.2022 54.6705 43.0418 57.4451 43.0418 57.4451C42.9696 60.0513 48.3906 60.0834 51.0088 60.5886C53.7033 61.1139 54.1003 63.3512 51.9311 64.5702C51.0329 65.0754 52.741 66.0417 51.895 67.0962C51.0449 68.1547 48.4347 65.6768 46.2936 64.6343C44.5775 63.8003 41.6224 63.8043 40.3473 63.2189C39.3449 62.7578 39.7579 60.4282 39.8261 59.1893L39.7018 55.2077H39.6817L39.2567 50.4724"
                  fill="url(#paint1_linear_127_5687)"></path>
                <path
                  d="M69.533 38.3996C68.6589 37.6538 68.0654 37.3411 67.4239 35.645C67.2435 35.1478 67.0631 34.6867 66.8866 34.2617C66.63 33.3515 66.205 32.5055 65.6797 31.7597C64.4368 29.8191 62.4881 28.9169 62.0671 28.7365C54.9902 25.7133 49.6454 29.5344 46.7625 27.6018C43.5468 25.4446 45.315 20.9258 48.4425 18.516C50.2468 17.1247 52.5764 16.1905 55.0383 18.0068C56.8266 19.326 58.4705 17.0285 55.9364 15.184C53.1177 13.1271 50.1867 12.9266 47.7849 13.893C40.6438 16.7598 40.5275 23.6523 36.0849 24.6427C30.5035 25.8897 26.5541 16.5914 33.1699 11.5914C34.9422 10.2522 34.878 8.48 32.9173 8.23942C29.9983 7.88257 26.9791 11.415 25.9647 13.7967C22.9414 20.8737 26.0248 25.0717 24.9703 27.5657C23.9158 30.0556 19.4932 30.8616 16.1131 26.1302C15.3192 25.0236 13.0217 21.8881 15.8003 19.1255C16.478 18.4519 17.32 18.3837 17.9054 18.3356C19.8701 18.1712 20.6439 17.7502 20.6039 17.0726C20.5557 16.2185 18.9679 16.7718 18.9479 16.1143C18.9278 15.4888 20.4435 14.314 19.9984 13.7286C19.4651 13.0269 18.4226 13.9972 18.0457 13.5281C17.745 13.1512 18.4868 11.9724 17.8292 11.6195C17.0072 11.1785 16.4098 12.6941 15.8324 12.6219C15.0586 12.5217 15.1749 11.391 14.385 11.6115C13.8156 11.7719 13.8156 13.079 13.7996 13.7205C13.7715 14.8673 13.138 15.9058 12.717 16.9362C7.42429 24.4021 13.8918 31.1503 17.5846 35.5488C20.8123 39.394 20.235 41.5913 19.7739 42.5977C17.7891 46.9601 9.78996 46.9641 8.56703 40.2681C8.19815 38.2513 5.01452 37.8744 5.14683 41.1061C5.28717 44.5904 7.52052 46.7476 9.63759 48.2432C15.0746 52.0764 20.7522 47.6137 23.8396 50.6329C27.1355 53.8606 30.3271 56.2303 35.287 56.2303C40.2469 56.2303 44.3928 53.7804 46.9629 50.256C49.4609 46.8238 54.4368 47.4373 56.8466 50.5607C58.2379 52.3651 59.1 54.7668 57.2796 57.2287C55.9605 59.017 58.3983 60.7611 60.0382 58.8205C62.2876 56.1541 62.8129 52.5294 61.8466 50.1237C58.9797 42.9826 52.1875 44.1454 51.149 38.9088C49.7897 32.0364 60.5836 28.5761 63.4544 36.1943C63.7912 37.0885 63.691 38.1911 63.3582 38.6763C62.2475 40.3042 62.0871 41.1703 62.6405 41.5712C63.3341 42.0724 63.9035 40.4886 64.4288 40.8896C64.9259 41.2665 64.8818 43.1871 65.6196 43.2111C66.4977 43.2392 66.4055 41.8198 67.0069 41.8238C67.4881 41.8238 67.9371 43.147 68.6228 42.8583C69.4848 42.5014 68.6829 41.078 69.0999 40.6771C69.6653 40.1398 70.4712 40.9417 70.796 40.1879C71.0286 39.6426 70.0141 38.8206 69.5249 38.4036L69.533 38.3996Z"
                  fill="#C81680"></path>
                <path
                  d="M31.434 49.7388C32.0515 50.0034 32.5728 50.2159 33.078 50.3803C33.5792 50.5447 34.0523 50.657 34.5335 50.7251C35.0146 50.7933 35.5078 50.8214 36.0451 50.8133C36.5864 50.8133 37.1638 50.7692 37.8414 50.7853C37.4765 51.3627 36.9392 51.7636 36.3258 52.0363C35.7123 52.3009 34.9986 52.4052 34.3009 52.3009C33.6032 52.2047 32.9417 51.8959 32.4284 51.4509C31.9232 50.9978 31.5263 50.4204 31.4301 49.7388H31.434Z"
                  fill="white"></path>
                <path
                  d="M48.314 42.0965C48.314 45.3523 45.6757 47.9906 42.4199 47.9906C39.1641 47.9906 36.5258 45.3523 36.5258 42.0965C36.5258 38.8407 39.1641 36.2024 42.4199 36.2024C45.6757 36.2024 48.314 38.8407 48.314 42.0965Z"
                  fill="#EFD6E9"></path>
                <path
                  d="M33.7312 42.1526C33.7312 45.1437 31.3053 47.5695 28.3142 47.5695C25.323 47.5695 22.8972 45.1437 22.8972 42.1526C22.8972 39.1614 25.323 36.7356 28.3142 36.7356C31.3053 36.7356 33.7312 39.1614 33.7312 42.1526Z"
                  fill="#EFD6E9"></path>
                <path
                  d="M32.4282 42.9625C32.4282 44.9353 30.8283 46.5391 28.8516 46.5391C26.8749 46.5391 25.275 44.9393 25.275 42.9625C25.275 40.9858 26.8749 39.386 28.8516 39.386C30.8283 39.386 32.4282 40.9858 32.4282 42.9625Z"
                  fill="white"></path>
                <path
                  d="M30.4316 43.1388C30.4316 44.029 29.7098 44.7547 28.8157 44.7547C27.9216 44.7547 27.1998 44.033 27.1998 43.1388C27.1998 42.2447 27.9216 41.5229 28.8157 41.5229C29.7098 41.5229 30.4316 42.2447 30.4316 43.1388Z"
                  fill="#1E1E1C"></path>
                <path
                  d="M45.5517 42.9706C45.5517 45.1198 43.8115 46.8599 41.6624 46.8599C39.5132 46.8599 37.7731 45.1198 37.7731 42.9706C37.7731 40.8215 39.5132 39.0813 41.6624 39.0813C43.8115 39.0813 45.5517 40.8215 45.5517 42.9706Z"
                  fill="white"></path>
                <path
                  d="M42.8533 43.3156C42.8533 44.2057 42.1316 44.9314 41.2374 44.9314C40.3433 44.9314 39.6216 44.2097 39.6216 43.3156C39.6216 42.4214 40.3433 41.6997 41.2374 41.6997C42.1316 41.6997 42.8533 42.4214 42.8533 43.3156Z"
                  fill="#1E1E1C"></path>
                <defs>
                  <linearGradient
                    id="paint0_linear_127_5687"
                    x1="24.5495"
                    y1="46.7678"
                    x2="24.5495"
                    y2="62.3451"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.28" stop-color="#1E1E1C" stop-opacity="0.49"
                    ></stop>
                    <stop offset="0.63" stop-color="#1E1E1C" stop-opacity="0.12"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_127_5687"
                    x1="46.2936"
                    y1="46.4989"
                    x2="46.2936"
                    y2="62.0762"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.28" stop-color="#1E1E1C" stop-opacity="0.49"
                    ></stop>
                    <stop offset="0.63" stop-color="#1E1E1C" stop-opacity="0.12"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                </defs>
              </svg>
              <h5 class="text-educational-play">Play Penny</h5>
            </div>
            <p class="text-base lg:text-lg leading-6 font-semibold">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
          </div>
          <div
            class="rounded-r_20 bg-neutral-200/50 pt-[54px] pb-[46px] pl-[34px] pr-[28px]"
          >
            <div class="mb-4 flex gap-4 items-center">
              <svg
                width="72"
                height="72"
                viewBox="0 0 72 72"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M29.6849 31.3851L30.5514 38.3132C30.4308 38.3624 27.0048 39.1977 23.7842 38.3356C20.5323 37.4645 16.53 35.441 12.2462 30.3712C11.4735 29.6609 10.531 28.9507 9.52594 28.5487C8.96311 28.3253 7.8062 27.901 7.85087 27.3426C7.9134 26.5699 8.87824 27.0433 9.21773 26.3912C9.47234 25.9043 8.32434 24.8814 8.98544 24.2962C9.51253 23.8317 10.3121 24.8769 10.7454 24.734C11.2814 24.5553 10.7677 23.318 11.5628 23.0723C12.2284 22.8713 12.7689 24.5955 13.3272 24.7831C13.9213 24.9797 13.9481 23.3939 14.7209 23.6307C15.3373 23.8183 15.4535 24.6446 14.9577 26.4314C14.8103 26.9674 14.4574 27.8116 14.9666 28.5531C20.5278 36.2138 29.609 31.4164 29.6894 31.3807L29.6849 31.3851Z"
                  fill="#358C36"></path>
                <path
                  d="M47.1591 34.4539L49.3434 41.0828C49.4729 41.0738 52.9258 40.3636 55.4674 38.1972C58.0314 36.0129 60.7786 32.4751 62.476 26.0518C62.8691 25.078 63.414 24.0327 64.151 23.2421C64.562 22.7999 65.4241 21.9199 65.1471 21.433C64.7585 20.7585 64.0929 21.6028 63.5033 21.1606C63.0656 20.83 63.6642 19.414 62.8155 19.1683C62.141 18.9763 61.864 20.2627 61.4129 20.3163C60.85 20.3833 60.783 19.0433 59.9656 19.1683C59.2777 19.2711 59.5278 21.0623 59.1035 21.4732C58.6523 21.9065 57.951 20.4861 57.3524 21.031C56.879 21.4643 57.1247 22.2594 58.3397 23.662C58.7015 24.0819 59.3804 24.6938 59.242 25.5828C57.4999 34.8872 47.2395 34.445 47.1501 34.4495L47.1591 34.4539Z"
                  fill="#358C36"></path>
                <path
                  d="M31.5562 57.7263L32.2887 45.1699H27.6924L28.2105 55.9083C28.2105 57.7352 22.9753 57.8513 20.2193 58.4633C18.8167 58.776 15.8373 59.2227 15.882 60.2545C15.949 61.8403 18.0662 60.5806 18.7095 61.8983C19.0087 62.5192 16.7262 63.4617 17.9055 64.8554C18.1869 65.1859 19.3393 66.459 20.4382 66.8387C22.962 67.7142 24.9184 64.2524 27.1518 63.1669C28.9341 62.3003 28.876 62.4343 30.1044 61.6482C31.382 60.8307 31.4936 59.1512 31.5517 57.7263H31.5562Z"
                  fill="#358C36"></path>
                <path
                  d="M41.3788 57.7263L40.6462 45.1699H45.2426L44.7245 55.9083C44.7245 57.7352 49.9596 57.8513 52.7157 58.4633C54.1182 58.776 57.0977 59.2227 57.053 60.2545C56.986 61.8403 54.8687 60.5806 54.2255 61.8983C53.9262 62.5192 56.2088 63.4617 55.0295 64.8554C54.7481 65.1859 53.5956 66.459 52.4968 66.8387C49.973 67.7142 48.0166 64.2524 45.7831 63.1669C44.0009 62.3003 44.0589 62.4343 42.8305 61.6482C41.553 60.8307 41.4413 59.1512 41.3832 57.7263H41.3788Z"
                  fill="#358C36"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M29.6849 31.3851L30.5514 38.3132C30.4308 38.3624 27.0048 39.1977 23.7842 38.3356C20.5323 37.4645 16.53 35.441 12.2462 30.3712C11.4735 29.6609 10.531 28.9507 9.52594 28.5487C8.96311 28.3253 7.8062 27.901 7.85087 27.3426C7.9134 26.5699 8.87824 27.0433 9.21773 26.3912C9.47234 25.9043 8.32434 24.8814 8.98544 24.2962C9.51253 23.8317 10.3121 24.8769 10.7454 24.734C11.2814 24.5553 10.7677 23.3135 11.5628 23.0723C12.2284 22.8713 12.7689 24.5955 13.3272 24.7831C13.9213 24.9797 13.9481 23.3939 14.7209 23.6307C15.3373 23.8183 15.4535 24.6446 14.9577 26.4314C14.8103 26.9674 14.4574 27.8116 14.9666 28.5531C20.5278 36.2138 29.609 31.4164 29.6894 31.3807L29.6849 31.3851Z"
                  fill="url(#paint0_linear_127_5906)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M47.1591 34.4539L49.3434 41.0828C49.4729 41.0738 52.9258 40.3636 55.4674 38.1972C58.0314 36.0129 60.7786 32.4751 62.476 26.0518C62.8691 25.078 63.414 24.0327 64.151 23.2421C64.562 22.7999 65.4241 21.9199 65.1471 21.433C64.7585 20.7585 64.0929 21.6028 63.5033 21.1606C63.0656 20.83 63.6642 19.414 62.8155 19.1683C62.141 18.9763 61.864 20.2627 61.4129 20.3163C60.85 20.3833 60.783 19.0433 59.9656 19.1683C59.2777 19.2711 59.5278 21.0623 59.1035 21.4732C58.6523 21.9065 57.951 20.4861 57.3524 21.031C56.879 21.4643 57.1247 22.2594 58.3397 23.662C58.7015 24.0819 59.3804 24.6938 59.242 25.5828C57.4999 34.8872 47.2395 34.445 47.1501 34.4495L47.1591 34.4539Z"
                  fill="url(#paint1_linear_127_5906)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M31.5208 57.7263L32.2533 45.1699H27.6569L28.1751 55.9083C28.1751 57.7352 22.9399 57.8513 20.1839 58.4633C18.7813 58.776 15.8019 59.2227 15.8466 60.2545C15.9136 61.8403 18.0308 60.5806 18.6741 61.8983C18.9733 62.5192 16.6908 63.4617 17.8701 64.8554C18.1515 65.1859 19.3039 66.459 20.4027 66.8387C22.9265 67.7142 24.883 64.2524 27.1164 63.1669C28.8987 62.3003 28.8406 62.4343 30.069 61.6482C31.3466 60.8307 31.4582 59.1512 31.5163 57.7263H31.5208Z"
                  fill="url(#paint2_linear_127_5906)"></path>
                <path
                  style="mix-blend-mode:multiply"
                  d="M41.4149 57.7263L40.6824 45.1699H45.2788L44.7606 55.9083C44.7606 57.7352 49.9958 57.8513 52.7518 58.4633C54.1544 58.776 57.1338 59.2227 57.0891 60.2545C57.0221 61.8403 54.9049 60.5806 54.2616 61.8983C53.9624 62.5192 56.2449 63.4617 55.0656 64.8554C54.7842 65.1859 53.6318 66.459 52.533 66.8387C50.0092 67.7142 48.0527 64.2524 45.8193 63.1669C44.037 62.3003 44.0951 62.4343 42.8667 61.6482C41.5892 60.8307 41.4775 59.1512 41.4194 57.7263H41.4149Z"
                  fill="url(#paint3_linear_127_5906)"></path>
                <path
                  d="M63.5972 48.4709C63.5124 47.7562 63.0433 46.8896 62.5475 46.0186L50.1207 23.3448C49.3658 22.0941 47.5389 21.9065 46.4534 23.3448L44.9704 25.8552L37.2204 13.2184C35.9876 11.1771 33.0037 10.8733 31.2393 13.2184L13.7917 43.8164C13.0994 45.0046 11.6432 47.0326 12.3355 48.5781C12.541 49.0337 13.1575 49.7439 13.7917 49.802H54.6679C54.8287 49.7752 54.9806 49.8512 55.1191 49.802H62.5475C63.3247 49.6814 63.6553 48.9712 63.5972 48.4798V48.4709Z"
                  fill="#358C36"></path>
                <path
                  d="M39.342 35.9547C39.342 39.1217 41.9105 41.6901 45.0775 41.6901C48.2445 41.6901 50.813 39.1217 50.813 35.9547C50.813 32.7877 48.2445 30.2192 45.0775 30.2192C41.9105 30.2192 39.342 32.7877 39.342 35.9547Z"
                  fill="#D9E9C9"></path>
                <path
                  d="M22.7521 35.8564C22.7521 39.4969 25.7002 42.4451 29.3407 42.4451C32.9812 42.4451 35.9293 39.4925 35.9293 35.8564C35.9293 32.2204 32.9812 29.2678 29.3407 29.2678C25.7002 29.2678 22.7521 32.2204 22.7521 35.8564Z"
                  fill="#D9E9C9"></path>
                <path
                  d="M47.9347 35.74C47.9412 33.6505 46.2527 31.9512 44.1631 31.9447C42.0736 31.9381 40.3744 33.6267 40.3678 35.7162C40.3613 37.8058 42.0498 39.505 44.1394 39.5115C46.2289 39.5181 47.9281 37.8295 47.9347 35.74Z"
                  fill="white"></path>
                <path
                  d="M42.2726 35.7939C42.2726 36.7231 43.0275 37.4824 43.9611 37.4824C44.8946 37.4824 45.6496 36.7275 45.6496 35.7939C45.6496 34.8604 44.8946 34.1055 43.9611 34.1055C43.0275 34.1055 42.2726 34.8604 42.2726 35.7939Z"
                  fill="#1D1D1C"></path>
                <path
                  d="M25.6735 35.8119C25.6735 38.3714 27.7506 40.4485 30.3101 40.4485C32.8696 40.4485 34.9467 38.3714 34.9467 35.8119C34.9467 33.2524 32.8696 31.1753 30.3101 31.1753C27.7506 31.1753 25.6735 33.2524 25.6735 35.8119Z"
                  fill="white"></path>
                <path
                  d="M42.1789 43.4547C41.3704 43.6557 40.6959 43.8121 40.0482 43.9103C39.405 44.0131 38.8064 44.0533 38.2078 44.0399C37.6093 44.0265 37.0018 43.9595 36.3452 43.8478C35.6841 43.7406 34.9917 43.5709 34.1609 43.4547C34.4914 44.2275 35.0632 44.826 35.7555 45.2817C36.4524 45.7239 37.3011 45.9964 38.1677 46.0098C39.0342 46.0321 39.9053 45.7864 40.62 45.3442C41.3257 44.893 41.9243 44.2677 42.1789 43.4547Z"
                  fill="white"></path>
                <path
                  d="M28.7289 35.7939C28.7289 36.7231 29.4838 37.4824 30.4174 37.4824C31.3509 37.4824 32.1059 36.7275 32.1059 35.7939C32.1059 34.8604 31.3509 34.1055 30.4174 34.1055C29.4838 34.1055 28.7289 34.8604 28.7289 35.7939Z"
                  fill="#1D1D1C"></path>
                <defs>
                  <linearGradient
                    id="paint0_linear_127_5906"
                    x1="30.6765"
                    y1="34.1457"
                    x2="12.6215"
                    y2="29.1472"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_127_5906"
                    x1="47.426"
                    y1="37.4695"
                    x2="61.5939"
                    y2="25.2122"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_127_5906"
                    x1="24.0477"
                    y1="43.9594"
                    x2="24.0477"
                    y2="54.8183"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_127_5906"
                    x1="48.888"
                    y1="43.9594"
                    x2="48.888"
                    y2="54.8183"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#1E1E1C"></stop>
                    <stop offset="0.29" stop-color="#1E1E1C" stop-opacity="0.44"
                    ></stop>
                    <stop offset="0.61" stop-color="#1E1E1C" stop-opacity="0.11"
                    ></stop>
                    <stop offset="1" stop-color="#1E1E1C" stop-opacity="0"
                    ></stop>
                  </linearGradient>
                </defs>
              </svg>

              <h5 class="text-educational-nature">Wooddie Woo</h5>
            </div>
            <p class="text-base lg:text-lg leading-6 font-semibold">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
          </div>
          <div
            class="rounded-r_20 bg-secondary-200 pt-[54px] pb-[34px] pl-[34px] pr-[28px] md:col-span-2"
          >
            <h5 class="mb-4">
              Rorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio.
            </h5>
            <p class="text-base lg:text-lg leading-6 font-semibold mb-8">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
            <svg
              width="106"
              height="106"
              viewBox="0 0 106 106"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="ml-auto mt-auto"
            >
              <path
                d="M11.4833 52.9546H85.8297C87.9194 52.9546 89.6154 54.6506 89.6154 56.7403V60.5916H7.69763V56.7403C7.69763 54.6506 9.39363 52.9546 11.4833 52.9546Z"
                fill="#005100"></path>
              <path
                d="M89.6205 60.6471H7.70264V90.9278H89.6205V60.6471Z"
                fill="#E6E0BB"></path>
              <path
                d="M21.2101 44.4392H76.1029V82.1298C76.1029 86.9452 72.2011 90.8571 67.3907 90.8571H29.9223C25.1119 90.8571 21.2101 86.9503 21.2101 82.1298V44.4392Z"
                fill="#E6E0BB"></path>
              <path
                d="M44.6563 68.6223H52.6517C54.7415 68.6223 56.4375 70.3183 56.4375 72.408V90.8571H40.8706V72.408C40.8706 70.3183 42.5666 68.6223 44.6563 68.6223Z"
                fill="#005100"></path>
              <path
                d="M54.2417 82.4226H50.0926C49.6029 82.4226 49.2092 82.0288 49.2092 81.5392C49.2092 81.0496 49.6029 80.6559 50.0926 80.6559H54.2417C54.7313 80.6559 55.125 81.0496 55.125 81.5392C55.125 82.0288 54.7313 82.4226 54.2417 82.4226Z"
                fill="#EFF4F0"></path>
              <path
                d="M48.1544 63.3678C51.4606 63.3678 54.1459 60.6825 54.1459 57.3763C54.1459 54.0701 51.4606 51.3848 48.1544 51.3848C44.8482 51.3848 42.1628 54.0701 42.1628 57.3763C42.1628 60.6825 44.8482 63.3678 48.1544 63.3678Z"
                fill="#EFF4F0"></path>
              <path
                d="M48.1543 64.6297C44.1566 64.6297 40.9009 61.3739 40.9009 57.3762C40.9009 53.3785 44.1566 50.1228 48.1543 50.1228C52.152 50.1228 55.4077 53.3785 55.4077 57.3762C55.4077 61.3739 52.152 64.6297 48.1543 64.6297ZM48.1543 52.6466C45.5447 52.6466 43.4247 54.7666 43.4247 57.3762C43.4247 59.9858 45.5447 62.1058 48.1543 62.1058C50.7639 62.1058 52.8839 59.9858 52.8839 57.3762C52.8839 54.7666 50.7639 52.6466 48.1543 52.6466Z"
                fill="#005100"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M98.4286 90.9278C98.4286 85.2795 93.8454 80.6963 88.1971 80.6963C82.5488 80.6963 77.9656 85.2795 77.9656 90.9278"
                fill="#009B00"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M80.1966 90.9278C80.1966 87.8084 77.6677 85.2795 74.5483 85.2795C71.4289 85.2795 68.9 87.8084 68.9 90.9278"
                fill="#009B00"></path>
              <path
                d="M42.9249 24.9555L21.2101 44.4393H76.1029L54.3881 24.9555C51.1273 22.0279 46.1857 22.0279 42.9249 24.9555Z"
                fill="#005100"></path>
            </svg>
          </div>
        </div>
        <div class="relative">
          <video
            id="video"
            width="100%"
            poster="/assets/video-poster.png"
            class="rounded-r_20"
          >
            <source src="/assets/dibber-video.mp4" type="video/mp4" />
          </video>
          <button
            type="button"
            class="absolute w-[132px] h-[132px] rounded-full bg-primary-200/90 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
            id="play_button"
            ><svg
              width="132"
              height="132"
              viewBox="0 0 132 132"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="132" height="132" rx="66"></rect>
              <path
                d="M87.0263 60.6192L62.68 46.3286C58.607 43.9365 53.5135 46.9251 53.5135 51.7093L53.5135 80.2906C53.5135 85.0748 58.607 88.0635 62.68 85.6713L87.0263 71.3807C91.0993 68.9886 91.0993 63.0113 87.0263 60.6192Z"
                fill="#094F0C"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
  <Meeting />
</Layout>
<Footer />

<script is:inline src="/script.js"></script>
