---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Breadcrump from "../../components/Breadcrump.astro";
---

<Layout title="Kariera">
  <Header />
  <Breadcrump
    breadcrumps={[
      {
        name: "Kariera",
        link: "/kariera",
      },
      {
        name: "Oferta pracy",
        link: "/oferta-pracy",
      },
    ]}
  />
  <section class="bg-secondary-200 rounded-t-r_20 py-16">
    <div class="wrapper">
      <div class="grid md:grid-cols-2 gap-8 md:gap-0 items-center">
        <div class="slide-left">
          <h1
            class="text-4xl lg:text-[54px] lg:leading-[64px] font-bold text-left mb-8"
          >
            Nauczyciel
          </h1>
          <p class="text-2xl font-medium mb-8 max-w-[603px]">
            Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
          <a class="btn primary max-w-[190px] !ml-0">Aplikuj</a>
        </div>
        <div
          id="post-visible"
          class="relative opacity-0 is-fade-in ml-[53px] md:ml-[84px]"
        >
          <div
            class="absolute z-10 -left-8 md:-left-[84px] w-28 md:w-[168px] h-24 md:h-[133px] -top-6 md:-top-8 flex justify-center items-center"
          >
            <p
              class="absolute w-full text-center left-0 right-0 px-5 md:px-8 text-sm md:text-xl leading-5"
            >
              Driven by heart
            </p>
            <svg
              width="168"
              height="134"
              viewBox="0 0 168 134"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M155.3 12.6059C138.365 -4.04921 110.898 -4.04921 93.9631 12.5947L84 22.3754L74.0483 12.5836C57.1132 -4.07156 29.6463 -4.07156 12.7112 12.5724C-4.2352 29.2163 -4.23518 56.211 12.6999 72.855L67.9862 127.213C76.8234 135.898 91.1425 135.898 99.9797 127.213L155.289 72.8773C172.235 56.2334 172.235 29.2387 155.3 12.5947V12.6059Z"
                fill="#C2F291"></path>
            </svg>
          </div>
          <img
            src="/assets/oferta-pracy.png"
            width="432"
            height="432"
            class="rounded-r_20 w-full"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="py-14">
    <div class="wrapper">
      <div class="grid md:grid-cols-2 gap-8 mb-14">
        <div class="rounded-r_20 bg-secondary-300/30 p-8">
          <h5 class="mb-8">Twoje obowiązki</h5>
          <p class="leading-8 mb-8 font-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
          <ul class="list-disc pl-6 leading-8 font-medium">
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
          </ul>
        </div>
        <div class="rounded-r_20 bg-secondary-300/30 p-8">
          <h5 class="mb-8">Co oferujemy?</h5>
          <p class="leading-8 mb-8 font-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
          <ul class="list-disc pl-6 leading-8 font-medium">
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
          </ul>
        </div>
        <div class="rounded-r_20 bg-secondary-300/30 p-8">
          <h5 class="mb-8">Twój profil</h5>
          <p class="leading-8 mb-8 font-medium">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
          <ul class="list-disc pl-6 leading-8 font-medium">
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
            <li>Class aptent taciti sociosqu ad litora torquent</li>
          </ul>
        </div>
        <div class="rounded-r_20 bg-secondary-200 p-8 pt-14">
          <h5 class="mb-8">
            Rorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum.
          </h5>
          <p class="text-lg mb-8 font-semibold">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra.
          </p>
          <div class="flex justify-end">
            <svg
              width="77"
              height="77"
              viewBox="0 0 77 77"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="-mr-4"
            >
              <path
                d="M61.089 72.3406C61.089 59.5176 50.4572 49.1235 37.3443 49.1235C24.2314 49.1235 13.5996 59.5176 13.5996 72.3406"
                fill="#B5F484"></path>
              <path
                d="M43.4344 30.7058C40.9626 29.7686 39.0281 28.0276 37.8201 25.8911C36.7196 27.8342 35.0173 29.4634 32.8249 30.4521C29.0033 32.176 24.7174 31.5053 21.6309 29.0851V37.9492C21.6309 46.7962 28.8013 53.9666 37.6482 53.9666C46.4951 53.9666 53.6655 46.7962 53.6655 37.9492V29.3388C50.7982 31.4108 46.9809 32.0513 43.4301 30.7058H43.4344Z"
                fill="#CADCCC"></path>
              <path
                d="M53.5768 23.8104C53.5424 23.488 53.4951 23.1742 53.4435 22.8561C52.1453 15.3074 45.5724 9.56421 37.6583 9.56421C29.7442 9.56421 22.8017 15.6341 21.7743 23.4966C21.7614 23.5998 21.7485 23.7073 21.7356 23.8104L21.6367 25.5901V29.085C24.719 31.5053 29.0092 32.1716 32.8308 30.4521C35.0232 29.4633 36.7255 27.8384 37.826 25.891C39.034 28.0275 40.9641 29.7686 43.4402 30.7057C46.9953 32.0512 50.8127 31.4107 53.6757 29.3387V25.5901L53.5768 23.8104Z"
                fill="#005100"></path>
              <path
                d="M37.8304 49.1235C36.0551 49.1235 34.6033 48.1446 33.8608 47.316C33.5788 47.0019 33.5829 46.4965 33.8733 46.1869C34.1595 45.8773 34.6157 45.8819 34.8978 46.196C35.0181 46.328 37.652 49.1417 40.8998 46.1459C41.2068 45.8636 41.663 45.9092 41.9243 46.2415C42.1815 46.5784 42.1442 47.0793 41.8372 47.3661C40.4352 48.6591 39.0581 49.1235 37.8345 49.1235H37.8304Z"
                fill="#005100"></path>
              <path
                d="M50.5363 20.6298C55.199 20.6298 58.9789 17.0862 58.9789 12.7149C58.9789 8.34367 55.199 4.80005 50.5363 4.80005C45.8736 4.80005 42.0938 8.34367 42.0938 12.7149C42.0938 17.0862 45.8736 20.6298 50.5363 20.6298Z"
                fill="#005100"></path>
              <path
                d="M31.0127 38.5702C31.8894 38.5702 32.5956 37.6238 32.5956 36.4595C32.5956 35.2952 31.8894 34.3489 31.0127 34.3489C30.1359 34.3489 29.4297 35.2905 29.4297 36.4595C29.4297 37.6285 30.1394 38.5702 31.0127 38.5702Z"
                fill="#005100"></path>
              <path
                d="M44.7314 38.5702C45.6047 38.5702 46.3144 37.6238 46.3144 36.4595C46.3144 35.2952 45.6047 34.3489 44.7314 34.3489C43.8582 34.3489 43.1484 35.2905 43.1484 36.4595C43.1484 37.6285 43.8547 38.5702 44.7314 38.5702Z"
                fill="#005100"></path>
              <path
                d="M62.4642 61.0014L62.9327 61.6332C63.6333 62.5831 62.8639 63.9019 61.6819 63.7747L60.8953 63.6899C60.3022 63.6263 59.7348 63.9486 59.4984 64.4871L59.176 65.2038C58.6946 66.2766 57.1515 66.2766 56.6701 65.2038L56.3478 64.4871C56.1071 63.9486 55.544 63.6263 54.9508 63.6899L54.1643 63.7747C52.9822 63.9019 52.2129 62.5831 52.9135 61.6332L53.382 61.0014C53.7344 60.5264 53.7344 59.8819 53.382 59.4069L52.9135 58.7751C52.2129 57.8252 52.9822 56.5064 54.1643 56.6336L54.9508 56.7184C55.544 56.782 56.1114 56.4598 56.3478 55.9212L56.6701 55.2045C57.1515 54.1317 58.6946 54.1317 59.176 55.2045L59.4984 55.9212C59.7391 56.4598 60.3022 56.782 60.8953 56.7184L61.6819 56.6336C62.8639 56.5064 63.6333 57.8252 62.9327 58.7751L62.4642 59.4069C62.1117 59.8819 62.1117 60.5307 62.4642 61.0014Z"
                fill="#009B00"></path>
              <path
                d="M40.2931 42.7915H36.5032C36.2661 42.7915 36.0417 42.6738 35.9019 42.4734C35.7622 42.2729 35.7241 42.0201 35.8003 41.7848L37.0156 38.037C37.1426 37.6361 37.5661 37.4225 37.9514 37.5533C38.341 37.6884 38.5485 38.1198 38.4214 38.5164L37.5322 41.2575H40.2973C40.708 41.2575 41.0383 41.5974 41.0383 42.0201C41.0383 42.4429 40.708 42.7828 40.2973 42.7828L40.2931 42.7915Z"
                fill="#005100"></path>
            </svg>
            <svg
              width="78"
              height="77"
              viewBox="0 0 78 77"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M60.8537 72.1209C60.8537 60.2231 51.2095 50.5789 39.3116 50.5789C27.4138 50.5789 17.7695 60.2231 17.7695 72.1209"
                fill="#009C00"></path>
              <path
                d="M53.1633 20.9182C51.0037 23.5767 47.2491 24.5705 43.973 23.1022C41.3268 21.9161 39.6703 19.4294 39.4208 16.73C39.0895 19.503 37.2695 22.002 34.4801 23.0654C31.2981 24.2761 27.8175 23.2535 25.7561 20.775C22.2632 24.2679 20.0996 29.09 20.0996 34.4193C20.0996 45.0738 28.7377 53.7078 39.3881 53.7078C50.0385 53.7078 58.6766 45.0697 58.6766 34.4193C58.6766 29.1595 56.5702 24.3947 53.1592 20.9182H53.1633Z"
                fill="#B5F484"></path>
              <path
                d="M39.4451 15.1309H39.3879C34.0627 15.1309 29.2446 17.2863 25.7559 20.7751C27.8172 23.2536 31.2978 24.2761 34.4799 23.0655C37.2692 22.0021 39.0893 19.5031 39.4206 16.7301C39.6701 19.4254 41.3224 21.9121 43.9728 23.1023C47.2489 24.5706 50.9994 23.5808 53.163 20.9182C49.6742 17.3599 44.8194 15.1472 39.4492 15.1309H39.4451Z"
                fill="#005100"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M50.6285 34.4231C50.6285 33.008 49.4833 31.8628 48.0682 31.8628C46.653 31.8628 45.5078 33.008 45.5078 34.4231"
                fill="#005100"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M33.3629 34.4231C33.3629 33.008 32.2177 31.8628 30.8025 31.8628C29.3874 31.8628 28.2422 33.008 28.2422 34.4231"
                fill="#005100"></path>
              <path
                d="M39.577 40.5911C38.9145 40.5911 38.2396 40.3988 37.6547 39.9939C37.3275 39.769 37.2457 39.3232 37.4707 39C37.6956 38.6728 38.1414 38.591 38.4646 38.816C39.3644 39.4336 40.5954 39.2045 41.2089 38.3047C41.8265 37.409 41.5975 36.1779 40.6977 35.5603C40.3705 35.3354 40.2887 34.8896 40.5136 34.5665C40.7386 34.2434 41.1844 34.1575 41.5075 34.3824C43.0535 35.4458 43.4503 37.5685 42.3869 39.1187C41.7284 40.0798 40.6609 40.5951 39.5729 40.5951L39.577 40.5911Z"
                fill="#005100"></path>
              <path
                d="M39.3429 47.4867C37.3919 47.4867 35.7968 46.5091 34.9829 45.6789C34.7048 45.3967 34.7089 44.9427 34.9952 44.6646C35.2774 44.3864 35.7273 44.3905 36.0054 44.6727C36.1363 44.8036 39.1343 47.7321 42.8276 44.6277C43.1302 44.3742 43.5801 44.411 43.8378 44.7136C44.0914 45.0163 44.0546 45.4662 43.7519 45.7239C42.2059 47.0204 40.6926 47.4867 39.347 47.4867H39.3429Z"
                fill="#005100"></path>
              <path
                d="M18.9261 36.6646C20.322 36.6646 21.4537 35.533 21.4537 34.137C21.4537 32.741 20.322 31.6094 18.9261 31.6094C17.5301 31.6094 16.3984 32.741 16.3984 34.137C16.3984 35.533 17.5301 36.6646 18.9261 36.6646Z"
                fill="#B5F484"></path>
              <path
                d="M59.8831 36.6646C61.2791 36.6646 62.4107 35.533 62.4107 34.137C62.4107 32.741 61.2791 31.6094 59.8831 31.6094C58.4871 31.6094 57.3555 32.741 57.3555 34.137C57.3555 35.533 58.4871 36.6646 59.8831 36.6646Z"
                fill="#B5F484"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M68.6157 18.9138C67.585 17.8709 65.9163 17.8709 64.8856 18.9138L64.2803 19.5273L63.675 18.9138C62.6443 17.8709 60.9756 17.8709 59.9449 18.9138C58.9142 19.9568 58.9142 21.6459 59.9449 22.6889L63.3028 26.0877C63.8427 26.6357 64.7179 26.6357 65.2578 26.0877L68.6157 22.693C69.6464 21.65 69.6464 19.9608 68.6157 18.9179V18.9138Z"
                fill="#005100"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M62.4888 10.3821C61.4581 9.33912 59.7894 9.33912 58.7587 10.3821L58.1533 10.9956L57.548 10.3821C56.5173 9.33912 54.8486 9.33912 53.8179 10.3821C52.7873 11.425 52.7873 13.1142 53.8179 14.1571L57.1758 17.5559C57.7157 18.104 58.591 18.104 59.1309 17.5559L62.4888 14.1612C63.5194 13.1183 63.5194 11.4291 62.4888 10.3862V10.3821Z"
                fill="#009C00"></path>
            </svg>
          </div>
        </div>
      </div>
      <a class="btn primary max-w-[314px]">Aplikuj</a>
    </div>
  </section>
  <Footer />
</Layout>
<script is:inline src="/script.js"></script>
