@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DibberStabilGrotesk";
  src: url("/fonts/DibberStabilGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DibberStabilGrotesk";
  src: url("/fonts/DibberStabilGrotesk-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DibberStabilGrotesk";
  src: url("/fonts/DibberStabilGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DibberStabilGrotesk";
  src: url("/fonts/DibberStabilGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DibberStabilGrotesk";
  src: url("/fonts/DibberStabilGrotesk-Medium.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DibberStabilGrotesk";
  src: url("/fonts/DibberStabilGrotesk-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: DibberStabilGrotesk, sans-serif;
  font-size: 16px;
}
body {
  background-color: #f8f7ef;
  color: #094f0c;
}
a {
  cursor: pointer;
}
.wrapper {
  padding-left: 32px;
  padding-right: 32px;
}
@media (min-width: 1024px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
h1 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
}
.text-small {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  h1 {
    font-size: 100px;
    line-height: 100px;
  }
  h2 {
    font-size: 3rem;
    line-height: 1;
  }
  h3 {
    font-size: 32px;
    line-height: 42px;
  }
  h5 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.dibber-container {
  max-width: 1089px;
  margin-left: auto;
  margin-right: auto;
}
.modal-toggle {
  position: fixed;
  height: 0;
  width: 0;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
}

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.53, 0, 0.43, 1);
}
@media (min-width: 768px) {
  .mobile-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
  }
}
.modal-toggle:checked + .mobile-menu {
  opacity: 1;
  visibility: visible;
  z-index: 996;
  pointer-events: painted;
  overflow-y: hidden;
  overscroll-behavior: contain;
}
.drawer {
  display: grid;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  height: 100dvh;
}
.drawer-content {
  overflow-x: auto;
  scroll-behavior: smooth;
  display: grid;
}
.btn {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 64px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.53, 0, 0.43, 1);
}
.primary:hover {
  background-color: #c2f291;
  color: #094f0c;
}
.primary {
  background-color: #094f0c;
  color: #c2f291;
}
.blog-roll .btn {
  padding-left: 0px;
  padding-right: 0px;
}
.svg-clover-mask {
  mask: url("/assets/clover.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
.svg-star-mask {
  mask: url("/assets/star.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
.svg-heart-mask {
  mask: url("/assets/heart.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
}
.tab-item {
  display: none;
}
.tab-item.active {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.53, 0, 0.43, 1);
}
.tab-nav button:hover {
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.53, 0, 0.43, 1);
  background-color: #c2f291;
  color: #094f0c;
  border-radius: 8px;
}
.tab-nav button.active {
  background-color: #094f0c;
  color: #c2f291;
  border-radius: 8px;
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* input:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_362_6313' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_362_6313)'%3E%3Cpath d='M10.6 16.6L17.65 9.55L16.25 8.15L10.6 13.8L7.75 10.95L6.35 12.35L10.6 16.6ZM12 22C10.6167 22 9.31667 21.7373 8.1 21.212C6.88333 20.6873 5.825 19.975 4.925 19.075C4.025 18.175 3.31267 17.1167 2.788 15.9C2.26267 14.6833 2 13.3833 2 12C2 10.6167 2.26267 9.31667 2.788 8.1C3.31267 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.31233 8.1 2.787C9.31667 2.26233 10.6167 2 12 2C13.3833 2 14.6833 2.26233 15.9 2.787C17.1167 3.31233 18.175 4.025 19.075 4.925C19.975 5.825 20.6873 6.88333 21.212 8.1C21.7373 9.31667 22 10.6167 22 12C22 13.3833 21.7373 14.6833 21.212 15.9C20.6873 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6873 15.9 21.212C14.6833 21.7373 13.3833 22 12 22Z' fill='%232F991E'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 23px);
  background-position-y: 50%;
} */
#map {
  height: 500px;
  border-radius: 20px;
  margin-bottom: 58px;
  background: linear-gradient(
    0deg,
    rgba(194, 242, 145, 0.5),
    rgba(194, 242, 145, 0.5)
  );
}
.show {
  opacity: 100;
  transition-duration: 300ms;
}
#map .leaflet-popup-content-wrapper,
#map .leaflet-popup-tip {
  background: transparent;
  box-shadow: none;
}
.customPopup {
  width: 255px;
}
.details .leaflet-popup-content {
  margin: 0;
  width: 100% !important;
}
.details .leaflet-popup-content-wrapper {
  width: 255px;
}
.details .nav-btn {
  display: block;
  padding: 20px;
  width: 100%;
}
.details .leaflet-popup-pane {
  z-index: 550;
}
@media (min-width: 1024px) {
  .customPopup {
    width: 317px;
    padding: 32px;
  }
  .details .leaflet-popup-content {
    margin: 0;
    width: 100% !important;
  }
  .details .leaflet-popup-content-wrapper {
    width: 317px;
  }
  .leaflet-container a.leaflet-popup-close-button {
    top: 8px;
    right: 8px;
  }
}
.nav-btn {
  display: none;
}

.filter-box {
  height: 0;
  overflow: hidden;
  transition-duration: 300ms;
  transition-timing-function: "cubic-bezier(0.53, 0.00, 0.43, 1.00)";
  transition: "height";
}
.filter-box.open {
  height: 148px;
}
#filters-action.active #filters-open svg {
  -moz-transform: scaleY(-1); /* Gecko */
  -o-transform: scaleY(-1); /* Opera */
  -webkit-transform: scaleY(-1); /* Webkit */
  transform: scaleY(-1); /* Standard */
  transition-duration: 300ms;
  transition-timing-function: "cubic-bezier(0.53, 0.00, 0.43, 1.00)";
}
.swiper .title {
  transform: translateX(-20%);
  opacity: 0;
  transition: all 500ms cubic-bezier(0.53, 0, 0.43, 1);
}
.swiper .swiper-slide-active .title {
  opacity: 1;
  transform: translateX(0);
  transition: all 1000ms cubic-bezier(0.53, 0, 0.43, 1) 700ms;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.scale-up-center {
  transform: scale(0);
  transition: transform 500ms cubic-bezier(0.53, 0, 0.43, 1);
}
.swiper-slide-active .scale-up-center {
  transform: scale(1);
  transition: transform 1000ms cubic-bezier(0.53, 0, 0.43, 1) 900ms;
  /*  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.33, 0, 0.17, 1) 300ms
    forwards;
  animation: scale-up-center 0.4s cubic-bezier(0.33, 0, 0.17, 1) 300ms forwards; */
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.slide-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.53, 0, 0.43, 1);
}
.swiper-slide-active .slide-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: transform 1000ms cubic-bezier(0.53, 0, 0.43, 1) 1000ms;
}
.fade-in {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.33, 0, 0.17, 1);
}
.swiper-slide-active .fade-in {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.33, 0, 0.17, 1) 0.5s;
}
.swiper-slide-active .fade-in.subtitle {
  transition-delay: 1s;
}
.swiper-slide-active .fade-in.action {
  transition-delay: 1.5s;
}
