.dropdown {
  width: 100%;
  height: 70px;
  background: #f8f7ef;
  border: 1px solid #094f0c;
  border-radius: 8px;
  position: relative;
  top: 0px;
  z-index: 50;
}
@media (max-width: 400px) {
  .dropdown {
    width: 100%;
  }
}
.dropdown::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 24px;
  z-index: 99;
  width: 12px;
  height: 12px;
  border: 2px solid #094f0c;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.3s linear;
}
.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;
  cursor: pointer;
}
.dropdown .options {
  width: calc(100% + 2px);
  border-radius: 8px;
  padding: 8px 39px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 16px;
  overflow: hidden;
  position: absolute;
  top: 70px;
  transition: all 0.7s ease;
  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden;
  background: #f8f7ef;
  border: 1px solid #094f0c;
  left: -1px;
  right: -1px;
}
.dropdown .options .option {
  padding: 12px 4px;
  border-radius: 0px;

  transition: all 0.2s ease;
}
.dropdown .options .option:not(:last-of-type) {
  margin-bottom: 8px;
}
.dropdown .options .option:hover {
  background: rgba(209, 220, 207, 0.4);
}
.dropdown.opened .options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown.opened::before {
  transform: rotate(-225deg);
  top: 30px;
}

.select-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.circle {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
}
.circle.one {
  width: 250px;
  height: 250px;
  background: linear-gradient(
    45deg,
    rgb(42, 179, 248) 0%,
    rgb(91, 197, 250) 100%
  );
  top: -120px;
  left: -80px;
  z-index: -1;
  box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
}
.dropdown.faq {
  height: 48px;
}
.faq.dropdown::before {
  top: 15px;
}

.faq.dropdown.opened::before {
  top: 21px;
}

.faq.dropdown .options {
  top: 48px;
}
@media (max-width: 575px) {
  .circle.one {
    width: 160px;
    height: 160px;
    left: -40px;
  }
}
@media (max-width: 400px) {
  .circle.one {
    display: none;
  }
}
