---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Meeting from "../components/Meeting.astro";
import Breadcrump from "../components/Breadcrump.astro";
import GaleryHero from "../components/GaleryHero.astro";
---

<Layout title="Galeria zdjęć">
  <Header />
  <Breadcrump
    breadcrumps={[
      {
        name: "Galeria zdjęć",
        link: "/galeria-zdjec",
      },
    ]}
  />
  <section>
    <div class="max-w-[1098px] mx-auto">
      <GaleryHero />
      <h1 class="text-center text-5xl pt-24 pb-16">Galeria zdjęć</h1>
    </div>
  </section>
  <section class="bg-white pt-[72px] pb-20 md:pb-[156px]">
    <div class="wrapper">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
        <img
          class="md:col-span-2 md:row-span-2 rounded-r_20 w-full"
          src="/assets/gallery-1.png"
        />
        <img class="rounded-r_20 w-full" src="/assets/gallery-2.png" />

        <img class="rounded-r_20 w-full" src="/assets/gallery-3.png" />
      </div>
      <div class={`grid grid-cols-1 md:grid-cols-3 gap-4`}>
        <img class="rounded-r_20 w-full" src="/assets/gallery-2.png" />

        <img
          class="md:col-span-2 md:col-end-4 md:row-span-2 rounded-r_20 w-full"
          src="/assets/gallery-1.png"
        />

        <img class="rounded-r_20 w-full" src="/assets/gallery-3.png" />
      </div>
    </div>
  </section>
  <section class="bg-white pb-20 md:pb-[148px]">
    <div class="wrapper">
      <div class="max-w-[1170px] mx-auto">
        <div id="isVisible" class="grid md:grid-cols-2 animation-scale">
          <img
            src="/assets/face-3.png"
            class="svg-pointer-right-mask mb-8 md:mb-0"
            width="450"
            height="450"
          />
          <div class="">
            <h2 class="text-left mb-8">Our Locations</h2>
            <p class="tetx-left mb-10 text-2xl font-medium">
              Gorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos. Gorem ipsum dolor sit amet, consectetur
              adipiscing elit. Nunc vulputate libero et velit interdum, ac
              aliquet odio mattis. Class aptent taciti sociosqu ad litora
              torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <a class="btn primary max-w-min md:!ml-0">Zarezerwuj</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Meeting />
  <Footer />
</Layout>
<script is:inline src="/script.js"></script>
