---
---

<div
  id="galery-hero"
  class="grid justify-items-center md:grid-cols-3 gap-16 animation-scale"
>
  <img
    src="/assets/face-3.png"
    class="svg-pointer-right-mask"
    width="314"
    height="314"
  />
  <img
    src="/assets/face-1.png"
    class="svg-clover-mask"
    width="314"
    height="314"
  />
  <img
    src="/assets/face-2.png"
    class="svg-circle-mask"
    width="314"
    height="314"
  />
</div>
