---
import NavLink from "./NavLink.astro";
const menuLinks = [
  { link: "/", name: "Strona Główna" },
  {
    link: "/",
    name: "O nas",
    submenu: [
      { link: "/o-nas/srodowisko-edukacyjne", name: "Środowisko edukacyjne" },
      { link: "/o-nas/filozofia", name: "Filozofia Dibber" },
      { link: "/o-nas/na-swiecie", name: "Dibber na świecie" },
      { link: "/", name: "Galeria zdjęć" },
    ],
  },
  { link: "/placowki", name: "Placówki" },
  { link: "/", name: "Blog" },
  { link: "/", name: "Kariera" },
  { link: "/", name: "Dla biznesu" },
];
---

<header>
  <div class="bg-primary-400 hidden md:block">
    <div class="wrapper">
      <div
        class="md:flex justify-between text-secondary-100 gap-8 pt-[11px] pb-[13px] font-medium"
      >
        <a
          href="tel:+48 510 480 260"
          class="flex items-center gap-[14px] cursor-pointer"
        >
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.95 18C14.8 18 12.7043 17.5207 10.663 16.562C8.621 15.604 6.81267 14.3373 5.238 12.762C3.66267 11.1873 2.396 9.379 1.438 7.337C0.479334 5.29567 0 3.2 0 1.05C0 0.75 0.0999999 0.5 0.3 0.3C0.5 0.0999999 0.75 0 1.05 0H5.1C5.33333 0 5.54167 0.0749999 5.725 0.225C5.90833 0.375 6.01667 0.566667 6.05 0.8L6.7 4.3C6.73333 4.53333 6.72933 4.74567 6.688 4.937C6.646 5.129 6.55 5.3 6.4 5.45L3.975 7.9C4.675 9.1 5.55433 10.225 6.613 11.275C7.671 12.325 8.83333 13.2333 10.1 14L12.45 11.65C12.6 11.5 12.796 11.3873 13.038 11.312C13.2793 11.2373 13.5167 11.2167 13.75 11.25L17.2 11.95C17.4333 12 17.625 12.1123 17.775 12.287C17.925 12.4623 18 12.6667 18 12.9V16.95C18 17.25 17.9 17.5 17.7 17.7C17.5 17.9 17.25 18 16.95 18ZM3.025 6L4.675 4.35L4.25 2H2.025C2.10833 2.68333 2.225 3.35833 2.375 4.025C2.525 4.69167 2.74167 5.35 3.025 6ZM11.975 14.95C12.625 15.2333 13.2877 15.4583 13.963 15.625C14.6377 15.7917 15.3167 15.9 16 15.95V13.75L13.65 13.275L11.975 14.95Z"
              fill="#F1F4F0"></path>
          </svg>

          +48 510 480 260</a
        >
        <a class="ml-auto items-center flex gap-[14px] cursor-pointer">
          <svg
            width="21"
            height="16"
            viewBox="0 0 21 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.75 16C2.2 16 1.72933 15.8043 1.338 15.413C0.946 15.021 0.75 14.55 0.75 14V2C0.75 1.45 0.946 0.979333 1.338 0.588C1.72933 0.196 2.2 0 2.75 0H18.75C19.3 0 19.771 0.196 20.163 0.588C20.5543 0.979333 20.75 1.45 20.75 2V14C20.75 14.55 20.5543 15.021 20.163 15.413C19.771 15.8043 19.3 16 18.75 16H2.75ZM10.75 9L2.75 4V14H18.75V4L10.75 9ZM10.75 7L18.75 2H2.75L10.75 7ZM2.75 4V2V14V4Z"
              fill="#F1F4F0"></path>
          </svg>
          Kontakt</a
        >
        <a class="flex items-center gap-[14px] cursor-pointer">
          <svg
            width="19"
            height="18"
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.35 18L11.05 11.7C10.55 12.1 9.975 12.4167 9.325 12.65C8.675 12.8833 7.98333 13 7.25 13C5.43333 13 3.896 12.371 2.638 11.113C1.37933 9.85433 0.75 8.31667 0.75 6.5C0.75 4.68333 1.37933 3.14567 2.638 1.887C3.896 0.629 5.43333 0 7.25 0C9.06667 0 10.6043 0.629 11.863 1.887C13.121 3.14567 13.75 4.68333 13.75 6.5C13.75 7.23333 13.6333 7.925 13.4 8.575C13.1667 9.225 12.85 9.8 12.45 10.3L18.75 16.6L17.35 18ZM7.25 11C8.5 11 9.56267 10.5627 10.438 9.688C11.3127 8.81267 11.75 7.75 11.75 6.5C11.75 5.25 11.3127 4.18733 10.438 3.312C9.56267 2.43733 8.5 2 7.25 2C6 2 4.93733 2.43733 4.062 3.312C3.18733 4.18733 2.75 5.25 2.75 6.5C2.75 7.75 3.18733 8.81267 4.062 9.688C4.93733 10.5627 6 11 7.25 11Z"
              fill="#F1F4F0"></path>
          </svg>
          Szukaj</a
        >
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="flex items-center w-full pt-12 pb-8 md:pb-12">
      <div>
        <svg
          width="207"
          height="38"
          viewBox="0 0 207 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="md:hidden desk:block"
        >
          <path
            d="M176.241 15.2161C180.494 15.2161 183.942 11.8098 183.942 7.60803C183.942 3.40623 180.494 0 176.241 0C171.988 0 168.54 3.40623 168.54 7.60803C168.54 11.8098 171.988 15.2161 176.241 15.2161Z"
            fill="#094F0C"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M196.608 3.47058C191.005 3.56297 186.561 8.19447 186.561 13.7338V17.8029H182.271C176.628 17.8029 172.049 22.322 172.049 27.9014C172.049 33.4769 176.624 38 182.271 38H196.766C202.418 38 207 33.4729 207 27.8894V13.5691C207 7.93337 202.328 3.37819 196.603 3.4746L196.608 3.47058Z"
            fill="#094F0C"></path>
          <path
            d="M151.525 15.9753L151.732 11.2393H142.356V37.0038H151.724V26.371C151.724 24.2099 152.537 18.9156 160.836 20.5184V11.2634C155.985 10.1949 153.09 12.0628 151.521 15.9713L151.525 15.9753Z"
            fill="#094F0C"></path>
          <path
            d="M14.5601 1.73131H0V37.0038H14.5601C25.9934 37.0038 33.678 29.918 33.678 19.3656C33.678 8.81313 25.9975 1.72729 14.5601 1.72729V1.73131ZM14.308 29.2472H9.77447V9.48395H14.308C19.9271 9.48395 23.7002 13.4527 23.7002 19.3656C23.7002 25.2785 19.923 29.2472 14.308 29.2472Z"
            fill="#094F0C"></path>
          <path
            d="M46.384 13.2839H37.0161V37.0038H46.384V13.2839Z"
            fill="#094F0C"></path>
          <path
            d="M41.7001 10.7573C44.7068 10.7573 47.1443 8.34919 47.1443 5.37865C47.1443 2.4081 44.7068 0 41.7001 0C38.6933 0 36.2558 2.4081 36.2558 5.37865C36.2558 8.34919 38.6933 10.7573 41.7001 10.7573Z"
            fill="#094F0C"></path>
          <path
            d="M67.0348 10.7372C62.42 10.7573 60.0699 13.3121 60.0699 13.3121V1.73132H50.702V37.0038H60.0699V34.9271C60.0699 34.9271 62.542 37.5461 67.0348 37.5019C74.0241 37.5019 78.9114 31.9988 78.9114 24.1176C78.9114 16.2364 74.0282 10.7332 67.0348 10.7332V10.7372ZM64.8067 29.2512C61.7979 29.2512 59.3624 26.841 59.3624 23.8725C59.3624 20.904 61.802 18.4939 64.8067 18.4939C67.8114 18.4939 70.251 20.904 70.251 23.8725C70.251 26.841 67.8114 29.2512 64.8067 29.2512Z"
            fill="#094F0C"></path>
          <path
            d="M98.074 10.7372C93.4592 10.7573 91.1091 13.3121 91.1091 13.3121V1.73132H81.7412V37.0038H91.1091V34.9271C91.1091 34.9271 93.5812 37.5461 98.074 37.5019C105.063 37.5019 109.951 31.9988 109.951 24.1176C109.951 16.2364 105.067 10.7332 98.074 10.7332V10.7372ZM95.8459 29.2512C92.8371 29.2512 90.4016 26.841 90.4016 23.8725C90.4016 20.904 92.8412 18.4939 95.8459 18.4939C98.8506 18.4939 101.29 20.904 101.29 23.8725C101.29 26.841 98.8506 29.2512 95.8459 29.2512Z"
            fill="#094F0C"></path>
          <path
            d="M126.088 10.2311C118.034 10.2311 112.187 16.0717 112.187 24.1135C112.187 32.1554 118.078 37.996 126.19 37.996C134.301 37.996 137.53 32.6575 138.253 30.9383L130.731 28.034C130.044 29.6569 128.276 30.7374 126.292 30.7374C122.152 30.5285 121.725 27.0338 121.725 27.0338H139.262C140.835 18.3412 135.663 10.2271 126.088 10.2271V10.2311ZM121.73 20.8357C121.73 18.7188 123.799 16.9996 126.348 16.9996C128.898 16.9996 130.967 18.7148 130.967 20.8357H121.73ZM138.253 30.9383L130.731 28.034L138.253 30.9383Z"
            fill="#094F0C"></path>
        </svg>
        <svg
          width="70"
          height="70"
          viewBox="0 0 70 70"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="hidden md:block desk:hidden"
        >
          <rect width="70" height="70" rx="20" fill="#094F0C"></rect>
          <path
            d="M21.9179 31.3092C26.4289 31.3092 30.0858 27.6582 30.0858 23.1545C30.0858 18.6507 26.4289 14.9998 21.9179 14.9998C17.4069 14.9998 13.75 18.6507 13.75 23.1545C13.75 27.6582 17.4069 31.3092 21.9179 31.3092Z"
            fill="#C2F291"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M43.5182 18.72C37.5756 18.819 32.862 23.7833 32.862 29.7207V34.0822H28.3123C22.3266 34.0822 17.4707 38.9259 17.4707 44.9064C17.4707 50.8825 22.3223 55.7305 28.3123 55.7305H43.6864C49.6808 55.7305 54.5409 50.8782 54.5409 44.8934V29.5441C54.5409 23.5034 49.5859 18.6209 43.5139 18.7243L43.5182 18.72Z"
            fill="#C2F291"></path>
        </svg>
      </div>
      <div class="ml-auto">
        <label for="mobile-menu" class="relative z-20 md:hidden">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 7H21"
              stroke="#094F0C"
              stroke-width="2"
              stroke-linecap="round"></path>
            <path
              d="M3 12H21"
              stroke="#094F0C"
              stroke-width="2"
              stroke-linecap="round"></path>
            <path
              d="M3 17H21"
              stroke="#094F0C"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </label>
        <input
          id="mobile-menu"
          type="checkbox"
          class="modal-toggle md:hidden"
        />
        <nav
          class="flex flex-col md:block ml-auto bg-primary-400 md:bg-transparent text-primary-100 md:text-primary-400 w-full p-8 pt-16 md:p-0 mobile-menu"
        >
          <label for="mobile-menu" class="absolute right-8 top-8 md:hidden"
            ><svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <mask
                id="mask0_127_9565"
                style="mask-type:alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="24"
                height="24"
              >
                <rect width="24" height="24" fill="#F8F7EF"></rect>
              </mask>
              <g mask="url(#mask0_127_9565)">
                <path
                  d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                  fill="#F8F7EF"></path>
              </g>
            </svg>
          </label>
          <ul class="flex flex-col md:flex-row lg:gap-4">
            <NavLink menuLinks={menuLinks} />
          </ul>
          <div
            class="md:hidden mt-auto px-4 flex bg-primary-400 justify-between text-secondary-100 gap-8"
          >
            <a
              href="tel:+48 510 480 260"
              class="flex items-center cursor-pointer p-4"
            >
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.95 18C14.8 18 12.7043 17.5207 10.663 16.562C8.621 15.604 6.81267 14.3373 5.238 12.762C3.66267 11.1873 2.396 9.379 1.438 7.337C0.479334 5.29567 0 3.2 0 1.05C0 0.75 0.0999999 0.5 0.3 0.3C0.5 0.0999999 0.75 0 1.05 0H5.1C5.33333 0 5.54167 0.0749999 5.725 0.225C5.90833 0.375 6.01667 0.566667 6.05 0.8L6.7 4.3C6.73333 4.53333 6.72933 4.74567 6.688 4.937C6.646 5.129 6.55 5.3 6.4 5.45L3.975 7.9C4.675 9.1 5.55433 10.225 6.613 11.275C7.671 12.325 8.83333 13.2333 10.1 14L12.45 11.65C12.6 11.5 12.796 11.3873 13.038 11.312C13.2793 11.2373 13.5167 11.2167 13.75 11.25L17.2 11.95C17.4333 12 17.625 12.1123 17.775 12.287C17.925 12.4623 18 12.6667 18 12.9V16.95C18 17.25 17.9 17.5 17.7 17.7C17.5 17.9 17.25 18 16.95 18ZM3.025 6L4.675 4.35L4.25 2H2.025C2.10833 2.68333 2.225 3.35833 2.375 4.025C2.525 4.69167 2.74167 5.35 3.025 6ZM11.975 14.95C12.625 15.2333 13.2877 15.4583 13.963 15.625C14.6377 15.7917 15.3167 15.9 16 15.95V13.75L13.65 13.275L11.975 14.95Z"
                  fill="#F1F4F0"></path>
              </svg></a
            >
            <a class="items-center flex cursor-pointer p-4">
              <svg
                width="21"
                height="16"
                viewBox="0 0 21 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.75 16C2.2 16 1.72933 15.8043 1.338 15.413C0.946 15.021 0.75 14.55 0.75 14V2C0.75 1.45 0.946 0.979333 1.338 0.588C1.72933 0.196 2.2 0 2.75 0H18.75C19.3 0 19.771 0.196 20.163 0.588C20.5543 0.979333 20.75 1.45 20.75 2V14C20.75 14.55 20.5543 15.021 20.163 15.413C19.771 15.8043 19.3 16 18.75 16H2.75ZM10.75 9L2.75 4V14H18.75V4L10.75 9ZM10.75 7L18.75 2H2.75L10.75 7ZM2.75 4V2V14V4Z"
                  fill="#F1F4F0"></path>
              </svg></a
            >
            <a class="flex items-center cursor-pointer p-4">
              <svg
                width="19"
                height="18"
                viewBox="0 0 19 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.35 18L11.05 11.7C10.55 12.1 9.975 12.4167 9.325 12.65C8.675 12.8833 7.98333 13 7.25 13C5.43333 13 3.896 12.371 2.638 11.113C1.37933 9.85433 0.75 8.31667 0.75 6.5C0.75 4.68333 1.37933 3.14567 2.638 1.887C3.896 0.629 5.43333 0 7.25 0C9.06667 0 10.6043 0.629 11.863 1.887C13.121 3.14567 13.75 4.68333 13.75 6.5C13.75 7.23333 13.6333 7.925 13.4 8.575C13.1667 9.225 12.85 9.8 12.45 10.3L18.75 16.6L17.35 18ZM7.25 11C8.5 11 9.56267 10.5627 10.438 9.688C11.3127 8.81267 11.75 7.75 11.75 6.5C11.75 5.25 11.3127 4.18733 10.438 3.312C9.56267 2.43733 8.5 2 7.25 2C6 2 4.93733 2.43733 4.062 3.312C3.18733 4.18733 2.75 5.25 2.75 6.5C2.75 7.75 3.18733 8.81267 4.062 9.688C4.93733 10.5627 6 11 7.25 11Z"
                  fill="#F1F4F0"></path>
              </svg></a
            >
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
