---
---

<section class="bg-primary-400 rounded-t-r_20 pt-[112px] pb-[117px]">
  <div class="wrapper">
    <div class="max-w-[983px] mx-auto">
      <div class="md:flex gap-[75px]">
        <div
          class="grid grid-rows-4 auto-cols-max grid-cols-2 gap-y-4 gap-x-2 md:gap-4 max-w-[366px] mb-[75px] md:mb-0"
        >
          <div
            class="px-3 md:px-6 py-4 bg-primary-500 rounded-[36px] flex items-center gap-1 md:gap-4"
          >
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 md:w-auto md:h-auto"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M27.7322 5.64402C24.708 2.66989 19.8033 2.66989 16.7791 5.64202L15 7.38857L13.2229 5.64003C10.1988 2.6659 5.29398 2.6659 2.26986 5.63803C-0.756285 8.61016 -0.756281 13.4306 2.26784 16.4028L12.1404 26.1096C13.7185 27.6606 16.2755 27.6606 17.8535 26.1096L27.7301 16.4068C30.7563 13.4346 30.7563 8.61415 27.7322 5.64202V5.64402Z"
                fill="#DF2839"></path>
            </svg>
            <p class="text-educational-social">Social</p>
          </div>
          <div
            class="px-3 md:px-6 py-4 bg-primary-500 rounded-[36px] flex items-center gap-1 md:gap-4"
          >
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 md:w-auto md:h-auto"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M26.2285 3.77142C23.1466 0.689529 18.2292 0.568627 15 3.39992C11.7708 0.566429 6.85344 0.689529 3.77154 3.77142C0.689651 6.85332 0.568749 11.7707 3.40005 14.9999C0.566551 18.2291 0.689651 23.1465 3.77154 26.2284C6.85344 29.3103 11.7708 29.4312 15 26.5999C18.2292 29.4334 23.1466 29.3103 26.2285 26.2284C29.3104 23.1465 29.4313 18.2291 26.6 14.9999C29.4335 11.7707 29.3104 6.85332 26.2285 3.77142Z"
                fill="#671BB2"></path>
            </svg>

            <p class="text-educational-creative">Creative</p>
          </div>
          <div
            class="px-3 md:px-6 py-4 bg-primary-500 rounded-[36px] flex items-center gap-1 md:gap-4"
          >
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 md:w-auto md:h-auto"
            >
              <path
                d="M15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z"
                fill="#35BCB5"></path>
            </svg>

            <p class="text-educational-movement">Movement</p>
          </div>
          <div
            class="px-3 md:px-6 py-4 bg-primary-500 rounded-[36px] flex items-center gap-1 md:gap-4"
          >
            <svg
              width="30"
              height="28"
              viewBox="0 0 30 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 md:w-auto md:h-auto"
            >
              <path
                d="M11.0655 2.32369L0.615796 20.4816C-1.13339 23.5193 1.05196 27.3181 4.55032 27.3181H25.4497C28.948 27.3181 31.1334 23.5193 29.3842 20.4816L18.9345 2.32369C17.1853 -0.714017 12.8146 -0.714017 11.0655 2.32369Z"
                fill="#2B8C27"></path>
            </svg>

            <p class="text-educational-nature">Nature</p>
          </div>
          <div
            class="px-3 md:px-6 py-4 bg-primary-500 rounded-[36px] flex items-center gap-1 md:gap-4"
          >
            <svg
              width="30"
              height="30"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 md:w-auto md:h-auto"
            >
              <path
                d="M30 14.9019C30 6.67205 23.284 0 15 0C6.71597 0 0 6.7205 0 14.9503C0 23.2335 6.75987 30 15.0975 30H25.1203C27.815 30 29.9976 27.8317 29.9976 25.1546V14.9019H30Z"
                fill="#FF7647"></path>
            </svg>

            <p class="text-educational-language">Language</p>
          </div>
          <div
            class="px-3 md:px-6 py-4 bg-primary-500 rounded-r_20 flex justify-center items-center gap-4 row-span-2"
          >
            <svg
              width="30"
              height="29"
              viewBox="0 0 30 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 md:w-auto md:h-auto"
            >
              <path
                d="M17.0601 2.76671L18.6952 1.5544C21.1425 -0.258739 24.5514 1.73337 24.2232 4.78651L24.0043 6.82549C23.8402 8.35525 24.6735 9.81684 26.0644 10.439L27.9183 11.2678C30.6939 12.5057 30.6939 16.492 27.9183 17.732L26.0644 18.5608C24.6735 19.1829 23.8402 20.6445 24.0043 22.1743L24.2232 24.2133C24.5514 27.2664 21.1425 29.2585 18.6952 27.4454L17.0601 26.2331C15.8333 25.3233 14.1667 25.3233 12.9399 26.2331L11.3048 27.4454C8.85754 29.2585 5.44857 27.2664 5.77684 24.2133L5.99569 22.1743C6.15983 20.6445 5.32652 19.1829 3.93557 18.5608L2.08168 17.732C-0.693894 16.4941 -0.693894 12.5078 2.08168 11.2678L3.93557 10.439C5.32652 9.81684 6.15983 8.35525 5.99569 6.82549L5.77684 4.78651C5.44857 1.73337 8.85754 -0.258739 11.3048 1.5544L12.9399 2.76671C14.1667 3.67647 15.8333 3.67647 17.0601 2.76671Z"
                fill="#C50C7B"></path>
            </svg>

            <p class="text-educational-play">Play</p>
          </div>
          <div
            class="px-3 md:px-6 py-4 bg-primary-500 rounded-[36px] flex items-center gap-1 md:gap-4"
          >
            <svg
              width="27"
              height="26"
              viewBox="0 0 27 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 md:w-auto md:h-auto"
            >
              <path
                d="M22.5327 0.0454102H4.78552C2.34339 0.0454102 0.363647 1.97439 0.363647 4.3539V21.646C0.363647 24.0255 2.34339 25.9545 4.78552 25.9545H22.5327C24.9748 25.9545 26.9546 24.0255 26.9546 21.646V4.3539C26.9546 1.97439 24.9748 0.0454102 22.5327 0.0454102Z"
                fill="#2961CE"></path>
            </svg>

            <p class="text-educational-maths">Maths</p>
          </div>
        </div>
        <div class="flex-1">
          <p class="text-primary-500 text-[32px] leading-[42px]">
            Środowisko edukacyjne Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet
            odio.
          </p>
          <a
            class="btn bg-primary-200 border-2 border-primary-400 text-primary-400 hover:bg-primary-400 hover:text-primary-200 hover:border-primary-200 !p-5 !ml-0 mt-8 max-w-max"
            >Dowiedz się więcej</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
