---
---

<section>
  <div class="swiper hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="wrapper relative">
          <div class="flex flex-col md:flex-row">
            <div class="relative ml-[53px] flex-2 fade-in">
              <div
                class="absolute z-10 -left-6 lg:-left-[53px] w-32 h-32 flex justify-center items-center"
              >
                <p
                  class="text-secondary-100 absolute w-full text-center left-0 right-0"
                >
                  Prosto z Norwegii
                </p>
                <svg
                  width="129"
                  height="129"
                  viewBox="0 0 129 129"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M116.702 11.3013C102.237 -3.16336 79.1573 -3.7308 64.0014 9.55771C48.8455 -3.74112 25.766 -3.16336 11.3013 11.3013C-3.16336 25.766 -3.7308 48.8455 9.55771 64.0014C-3.74112 79.1573 -3.16336 102.237 11.3013 116.702C25.766 131.166 48.8455 131.734 64.0014 118.445C79.1573 131.744 102.237 131.166 116.702 116.702C131.166 102.237 131.734 79.1573 118.445 64.0014C131.744 48.8455 131.166 25.766 116.702 11.3013Z"
                    fill="#094F0C"
                  >
                  </path>
                </svg>
              </div>
              <img
                src="/assets/hero-1.png"
                class="svg-clover-mask"
                width="430"
                height="430"
              />
              <div
                class="hidden lg:block absolute top-[10px] left-[calc(100%_+_22px)] z-[-1] slide-right"
              >
                <svg
                  width="422"
                  height="414"
                  viewBox="0 0 422 414"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-[248px] w-auto lg:h-auto"
                >
                  <path
                    d="M351.11 0H70.033C31.3548 0 0 30.7604 0 68.7053V344.453C0 382.398 31.3548 413.159 70.033 413.159H351.11C389.788 413.159 421.143 382.398 421.143 344.453V68.7053C421.143 30.7604 389.788 0 351.11 0Z"
                    fill="#A79B42"></path>
                </svg>
              </div>
            </div>
            <div class="max-w-[650px] md:-order-1">
              <h1 class="mb-4 mt-4 md:mt-0 md:mb-10 title">
                Edukacja przyszłości prosto z Norwegii
              </h1>
              <span
                class="text-lg md:text-2xl xl:text-3xl xl:leading-10 block mb-10 fade-in subtitle"
                >Spontaniczna nauka języka angielskiego oraz hiszpański jako
                trzeci język w wybranych placówkach.</span
              >
              <div class="flex flex-col md:flex-row gap-4 action fade-in">
                <a class="btn !p-5 primary md:max-w-max !m-0"
                  >Dowiedz się więcej</a
                >
                <a
                  class="btn border border-primary-400 !p-5 md:max-w-max !m-0 hover:bg-primary-200 hover:border-primary-200"
                  >Zapisz swoje dziecko</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="wrapper required:">
          <div class="flex flex-col md:flex-row">
            <div class="relative ml-[53px] flex-2 fade-in">
              <div
                class="absolute z-10 -left-6 lg:-left-[53px] w-32 h-32 flex justify-center items-center"
              >
                <p
                  class="text-secondary-100 absolute w-full text-center left-0 right-0"
                >
                  Prosto z Norwegii
                </p>
                <svg
                  width="129"
                  height="129"
                  viewBox="0 0 129 129"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M116.702 11.3013C102.237 -3.16336 79.1573 -3.7308 64.0014 9.55771C48.8455 -3.74112 25.766 -3.16336 11.3013 11.3013C-3.16336 25.766 -3.7308 48.8455 9.55771 64.0014C-3.74112 79.1573 -3.16336 102.237 11.3013 116.702C25.766 131.166 48.8455 131.734 64.0014 118.445C79.1573 131.744 102.237 131.166 116.702 116.702C131.166 102.237 131.734 79.1573 118.445 64.0014C131.744 48.8455 131.166 25.766 116.702 11.3013Z"
                    fill="#094F0C"></path>
                </svg>
              </div>
              <img
                src="/assets/hero-1.png"
                class="svg-clover-mask"
                width="430"
                height="430"
              />
            </div>
            <div class="max-w-[650px] md:-order-1">
              <h1 class="mb-10 title">Pierwsze w Polsce</h1>
              <span
                class="text-2xl lg:text-[54px] lg:leading-[64px] block mb-10 subtitle fade-in"
                >Dibber International Preschool Lorem ipsum dolor sit amet.</span
              >
              <div class="flex flex-col md:flex-row gap-4 action fade-in">
                <a class="btn !p-5 primary md:max-w-max !m-0"
                  >Dowiedz się więcej</a
                >
                <a
                  class="btn border border-primary-400 !p-5 md:max-w-max !m-0 hover:bg-primary-200 hover:border-primary-200"
                  >Zapisz swoje dziecko</a
                >
              </div>
            </div>
          </div>
          <div class="absolute top-[10px] right-[-200px] z-[-1] slide-right">
            <svg
              width="422"
              height="414"
              viewBox="0 0 422 414"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="h-[248px] lg:h-auto"
            >
              <path
                d="M351.11 0H70.033C31.3548 0 0 30.7604 0 68.7053V344.453C0 382.398 31.3548 413.159 70.033 413.159H351.11C389.788 413.159 421.143 382.398 421.143 344.453V68.7053C421.143 30.7604 389.788 0 351.11 0Z"
                fill="#A79B42"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="wrapper relative">
          <div class="flex flex-col md:flex-row">
            <div class="relative ml-[53px] flex-2 fade-in">
              <div
                class="absolute z-10 -left-6 lg:-left-[53px] w-32 h-32 flex justify-center items-center"
              >
                <p
                  class="text-secondary-100 absolute w-full text-center left-0 right-0"
                >
                  prosto z Norwegii
                </p>
                <svg
                  width="129"
                  height="129"
                  viewBox="0 0 129 129"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M116.702 11.3013C102.237 -3.16336 79.1573 -3.7308 64.0014 9.55771C48.8455 -3.74112 25.766 -3.16336 11.3013 11.3013C-3.16336 25.766 -3.7308 48.8455 9.55771 64.0014C-3.74112 79.1573 -3.16336 102.237 11.3013 116.702C25.766 131.166 48.8455 131.734 64.0014 118.445C79.1573 131.744 102.237 131.166 116.702 116.702C131.166 102.237 131.734 79.1573 118.445 64.0014C131.744 48.8455 131.166 25.766 116.702 11.3013Z"
                    fill="#094F0C"></path>
                </svg>
              </div>
              <img
                src="/assets/hero-1.png"
                class="svg-clover-mask"
                width="430"
                height="430"
              />
            </div>
            <div class="max-w-[650px] md:-order-1">
              <h1 class="mb-10 title">Pierwsze w Polsce</h1>
              <span
                class="text-2xl lg:text-[54px] lg:leading-[64px] block mb-10 subtitle fade-in"
                >Dibber International Preschool Lorem ipsum dolor sit amet.</span
              >
              <div class="flex flex-col md:flex-row gap-4 action fade-in">
                <a class="btn !p-5 primary md:max-w-max !m-0"
                  >Dowiedz się więcej</a
                >
                <a
                  class="btn border border-primary-400 !p-5 md:max-w-max !m-0 hover:bg-primary-200 hover:border-primary-200"
                  >Zapisz swoje dziecko</a
                >
              </div>
            </div>
          </div>
          <div class="absolute top-[10px] right-[-200px] z-[-1] slide-right">
            <svg
              width="422"
              height="414"
              viewBox="0 0 422 414"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="h-[248px] lg:h-auto"
            >
              <path
                d="M351.11 0H70.033C31.3548 0 0 30.7604 0 68.7053V344.453C0 382.398 31.3548 413.159 70.033 413.159H351.11C389.788 413.159 421.143 382.398 421.143 344.453V68.7053C421.143 30.7604 389.788 0 351.11 0Z"
                fill="#A79B42"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper relative">
      <div class="swiper-pagination hero-pagination"></div>
    </div>
  </div>
</section>
