---
---

<section class="py-[79px] bg-secondary-300 rounded-t-r_20">
  <div class="wrapper">
    <div class="dibber-container">
      <h2>Sprawdź opinie rodziców</h2>
      <div class="swiper review-swiper mt-6">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div>
              <div class="flex justify-center mb-5">
                <svg
                  width="72"
                  height="72"
                  viewBox="0 0 72 72"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M57.2713 67.8192C57.2713 55.7977 47.3039 46.0532 35.0106 46.0532C22.7173 46.0532 12.75 55.7977 12.75 67.8192"
                    fill="#B5F484"></path>
                  <path
                    d="M40.719 28.7865C38.4017 27.9079 36.5881 26.2757 35.4556 24.2727C34.4239 26.0944 32.828 27.6218 30.7726 28.5487C27.1899 30.1648 23.1718 29.5361 20.2782 27.2671V35.5772C20.2782 43.8712 27.0004 50.5935 35.2944 50.5935C43.5884 50.5935 50.3107 43.8712 50.3107 35.5772V27.5049C47.6226 29.4474 44.0438 30.0479 40.7149 28.7865H40.719Z"
                    fill="#CADCCC"></path>
                  <path
                    d="M50.2263 22.3223C50.194 22.02 50.1497 21.7258 50.1013 21.4276C48.8842 14.3507 42.7222 8.96643 35.3027 8.96643C27.8833 8.96643 21.3746 14.657 20.4114 22.0281C20.3993 22.1248 20.3873 22.2255 20.3752 22.3223L20.2825 23.9907V27.2672C23.1721 29.5362 27.1941 30.1608 30.7769 28.5488C32.8323 27.6219 34.4282 26.0985 35.4599 24.2728C36.5924 26.2758 38.4019 27.908 40.7233 28.7866C44.0562 30.048 47.6349 29.4475 50.319 27.505V23.9907L50.2263 22.3223Z"
                    fill="#005100"></path>
                  <path
                    d="M35.4647 46.0532C33.8003 46.0532 32.4393 45.1355 31.7432 44.3587C31.4788 44.0641 31.4827 43.5904 31.7549 43.3001C32.0232 43.0099 32.451 43.0141 32.7154 43.3087C32.8282 43.4324 35.2975 46.0702 38.3423 43.2617C38.63 42.9971 39.0578 43.0398 39.3028 43.3513C39.5439 43.6672 39.5089 44.1367 39.2211 44.4056C37.9068 45.6178 36.6157 46.0532 35.4686 46.0532H35.4647Z"
                    fill="#005100"></path>
                  <path
                    d="M47.3776 19.3404C51.7489 19.3404 55.2925 16.0183 55.2925 11.9202C55.2925 7.82214 51.7489 4.5 47.3776 4.5C43.0063 4.5 39.4627 7.82214 39.4627 11.9202C39.4627 16.0183 43.0063 19.3404 47.3776 19.3404Z"
                    fill="#005100"></path>
                  <path
                    d="M29.0746 36.1596C29.8965 36.1596 30.5586 35.2724 30.5586 34.1808C30.5586 33.0893 29.8965 32.2021 29.0746 32.2021C28.2526 32.2021 27.5905 33.0849 27.5905 34.1808C27.5905 35.2768 28.2559 36.1596 29.0746 36.1596Z"
                    fill="#005100"></path>
                  <path
                    d="M41.9363 36.1596C42.7549 36.1596 43.4203 35.2724 43.4203 34.1808C43.4203 33.0893 42.7549 32.2021 41.9363 32.2021C41.1176 32.2021 40.4522 33.0849 40.4522 34.1808C40.4522 35.2768 41.1143 36.1596 41.9363 36.1596Z"
                    fill="#005100"></path>
                  <path
                    d="M58.5605 57.1889L58.9998 57.7812C59.6566 58.6718 58.9353 59.9081 57.8272 59.7889L57.0897 59.7094C56.5336 59.6497 56.0017 59.9519 55.7801 60.4568L55.4779 61.1286C55.0266 62.1344 53.5799 62.1344 53.1286 61.1286L52.8264 60.4568C52.6007 59.9519 52.0729 59.6497 51.5168 59.7094L50.7794 59.7889C49.6712 59.9081 48.9499 58.6718 49.6067 57.7812L50.046 57.1889C50.3764 56.7436 50.3764 56.1394 50.046 55.6941L49.6067 55.1017C48.9499 54.2112 49.6712 52.9748 50.7794 53.0941L51.5168 53.1736C52.0729 53.2332 52.6048 52.9311 52.8264 52.4262L53.1286 51.7544C53.5799 50.7485 55.0266 50.7485 55.4779 51.7544L55.7801 52.4262C56.0058 52.9311 56.5336 53.2332 57.0897 53.1736L57.8272 53.0941C58.9353 52.9748 59.6566 54.2112 58.9998 55.1017L58.5605 55.6941C58.2301 56.1394 58.2301 56.7476 58.5605 57.1889Z"
                    fill="#009B00"></path>
                  <path
                    d="M37.7747 40.1171H34.2218C33.9995 40.1171 33.7891 40.0068 33.6581 39.8188C33.5271 39.6309 33.4913 39.3939 33.5628 39.1733L34.7021 35.6597C34.8212 35.2839 35.2182 35.0837 35.5794 35.2062C35.9447 35.3329 36.1392 35.7374 36.0201 36.1091L35.1864 38.679H37.7787C38.1638 38.679 38.4734 38.9976 38.4734 39.3939C38.4734 39.7902 38.1638 40.1089 37.7787 40.1089L37.7747 40.1171Z"
                    fill="#005100"></path>
                </svg>
              </div>
              <div class="py-[54px] px-8 bg-secondary-200 rounded-r_20">
                <p class="mb-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  vulputate libero et velit interdum, ac aliquet odio mattis.
                  Class aptent taciti sociosqu ad litora torquent per conubia
                  nostra, per inceptos himenaeos.
                </p>
                <h5 class="mb-2">Kamil Nietypowicz</h5>
                <span class="text-small">Tata Ignasia i Stasia</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <div class="flex justify-center mb-5">
                <svg
                  width="72"
                  height="72"
                  viewBox="0 0 72 72"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M30.3346 25.5829C30.3346 15.5969 38.3919 7.5 48.328 7.5C58.2641 7.5 66.3215 15.6544 66.3215 25.6442C66.3215 35.6341 58.2145 43.9072 48.2097 43.9072H36.1886C32.958 43.9072 30.3384 41.2747 30.3384 38.0252V25.5829H30.3346Z"
                    fill="#B2F181"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M45.4182 31.4266C45.4182 33.1203 46.7853 34.496 48.4731 34.496C50.161 34.496 51.5281 33.1242 51.5281 31.4266"
                    fill="#005100"></path>
                  <path
                    d="M40.9314 25.3338C41.9471 25.3338 42.7719 24.5061 42.7719 23.483C42.7719 22.4598 41.9471 21.6321 40.9314 21.6321C39.9156 21.6321 39.0908 22.4598 39.0908 23.483C39.0908 24.5061 39.9156 25.3338 40.9314 25.3338Z"
                    fill="#005100"></path>
                  <path
                    d="M55.7209 25.3338C56.7367 25.3338 57.5615 24.5061 57.5615 23.483C57.5615 22.4598 56.7367 21.6321 55.7209 21.6321C54.7051 21.6321 53.8803 22.4598 53.8803 23.483C53.8803 24.5061 54.7051 25.3338 55.7209 25.3338Z"
                    fill="#005100"></path>
                  <path
                    d="M48.0149 28.2844C47.4765 28.2844 46.9342 28.1273 46.4569 27.7978C46.1514 27.587 46.0751 27.1693 46.2851 26.8666C46.4951 26.56 46.9113 26.4834 47.213 26.6942C47.8584 27.1387 48.7481 26.9739 49.1911 26.3263C49.634 25.6787 49.4698 24.7859 48.8245 24.3414C48.519 24.1306 48.4426 23.7129 48.6526 23.4102C48.8627 23.1075 49.2789 23.027 49.5806 23.2378C50.8331 24.1038 51.1538 25.8281 50.2908 27.085C49.7562 27.8667 48.8932 28.2844 48.0149 28.2844Z"
                    fill="#005100"></path>
                  <path
                    d="M41.233 46.1718C41.233 36.1858 33.1757 28.0889 23.2396 28.0889C13.3073 28.0889 5.25 36.2471 5.25 46.237C5.25 56.2268 13.357 64.5 23.3618 64.5H35.3829C38.6134 64.5 41.233 61.8674 41.233 58.6179V46.1757V46.1718Z"
                    fill="#009900"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.3336 52.0193C20.3336 53.7131 21.7007 55.0887 23.3885 55.0887C25.0764 55.0887 26.4434 53.7169 26.4434 52.0193"
                    fill="#005100"></path>
                  <path
                    d="M15.8467 45.9266C16.8625 45.9266 17.6873 45.0989 17.6873 44.0757C17.6873 43.0526 16.8625 42.2249 15.8467 42.2249C14.831 42.2249 14.0062 43.0526 14.0062 44.0757C14.0062 45.0989 14.831 45.9266 15.8467 45.9266Z"
                    fill="#005100"></path>
                  <path
                    d="M30.6363 45.9266C31.652 45.9266 32.4769 45.0989 32.4769 44.0757C32.4769 43.0526 31.652 42.2249 30.6363 42.2249C29.6205 42.2249 28.7957 43.0526 28.7957 44.0757C28.7957 45.0989 29.6205 45.9266 30.6363 45.9266Z"
                    fill="#005100"></path>
                  <path
                    d="M25.2177 48.4633H21.8C21.5862 48.4633 21.3838 48.3599 21.2577 48.1836C21.1317 48.0073 21.0974 47.7851 21.1661 47.5782L22.2621 44.2827C22.3766 43.9302 22.7585 43.7424 23.106 43.8574C23.4573 43.9762 23.6444 44.3555 23.5298 44.7042L22.7279 47.1145H25.2215C25.5919 47.1145 25.8898 47.4134 25.8898 47.7851C25.8898 48.1568 25.5919 48.4557 25.2215 48.4557L25.2177 48.4633Z"
                    fill="#005100"></path>
                </svg>
              </div>
              <div class="py-[54px] px-8 bg-secondary-200 rounded-r_20">
                <p class="mb-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  vulputate libero et velit interdum, ac aliquet odio mattis.
                  Class aptent taciti sociosqu ad litora torquent per conubia
                  nostra, per inceptos himenaeos.
                </p>
                <h5 class="mb-2">Kamil Nietypowicz</h5>
                <span class="text-small">Tata Ignasia i Stasia</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <div class="flex justify-center mb-5">
                <svg
                  width="72"
                  height="72"
                  viewBox="0 0 72 72"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M56.6761 67.6134C56.6761 56.4592 47.6346 47.4177 36.4804 47.4177C25.3261 47.4177 16.2847 56.4592 16.2847 67.6134"
                    fill="#009C00"></path>
                  <path
                    d="M49.4674 19.6107C47.4428 22.1031 43.9228 23.0348 40.8515 21.6583C38.3706 20.5463 36.8177 18.215 36.5838 15.6843C36.2732 18.284 34.5669 20.6268 31.9519 21.6238C28.9687 22.7587 25.7057 21.8001 23.7731 19.4765C20.4986 22.7511 18.4702 27.2718 18.4702 32.268C18.4702 42.2566 26.5684 50.351 36.5531 50.351C46.5379 50.351 54.6361 42.2528 54.6361 32.268C54.6361 27.337 52.6614 22.8699 49.4635 19.6107H49.4674Z"
                    fill="#B5F484"></path>
                  <path
                    d="M36.6067 14.1852H36.553C31.5606 14.1852 27.0437 16.2059 23.773 19.4766C25.7055 21.8002 28.9686 22.7588 31.9518 21.6239C34.5668 20.6269 36.2731 18.2841 36.5837 15.6844C36.8176 18.2113 38.3667 20.5426 40.8514 21.6584C43.9227 23.0349 47.4388 22.107 49.4672 19.6108C46.1965 16.2749 41.6451 14.2005 36.6105 14.1852H36.6067Z"
                    fill="#005100"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M47.09 32.2719C47.09 30.9452 46.0163 29.8716 44.6896 29.8716C43.3629 29.8716 42.2893 30.9452 42.2893 32.2719"
                    fill="#005100"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M30.9049 32.2719C30.9049 30.9452 29.8313 29.8716 28.5046 29.8716C27.1779 29.8716 26.1042 30.9452 26.1042 32.2719"
                    fill="#005100"></path>
                  <path
                    d="M36.7296 38.0542C36.1084 38.0542 35.4757 37.8739 34.9274 37.4943C34.6207 37.2834 34.544 36.8655 34.7549 36.5626C34.9657 36.2558 35.3837 36.1791 35.6866 36.39C36.5302 36.969 37.6843 36.7543 38.2595 35.9107C38.8385 35.071 38.6238 33.9169 37.7802 33.3379C37.4734 33.127 37.3968 32.709 37.6076 32.4061C37.8185 32.1032 38.2365 32.0227 38.5394 32.2336C39.9888 33.2305 40.3607 35.2205 39.3638 36.6738C38.7465 37.5749 37.7457 38.058 36.7257 38.058L36.7296 38.0542Z"
                    fill="#005100"></path>
                  <path
                    d="M36.511 44.5189C34.6819 44.5189 33.1865 43.6025 32.4235 42.8241C32.1628 42.5596 32.1666 42.1339 32.435 41.8732C32.6996 41.6125 33.1214 41.6163 33.3821 41.8809C33.5048 42.0036 36.3154 44.749 39.7778 41.8387C40.0616 41.601 40.4834 41.6355 40.7249 41.9192C40.9627 42.203 40.9282 42.6247 40.6444 42.8663C39.195 44.0818 37.7763 44.5189 36.5148 44.5189H36.511Z"
                    fill="#005100"></path>
                  <path
                    d="M17.3696 34.3731C18.6784 34.3731 19.7393 33.3122 19.7393 32.0034C19.7393 30.6947 18.6784 29.6338 17.3696 29.6338C16.0609 29.6338 15 30.6947 15 32.0034C15 33.3122 16.0609 34.3731 17.3696 34.3731Z"
                    fill="#B5F484"></path>
                  <path
                    d="M55.7672 34.3731C57.076 34.3731 58.1369 33.3122 58.1369 32.0034C58.1369 30.6947 57.076 29.6338 55.7672 29.6338C54.4585 29.6338 53.3976 30.6947 53.3976 32.0034C53.3976 33.3122 54.4585 34.3731 55.7672 34.3731Z"
                    fill="#B5F484"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M63.9536 17.7319C62.9873 16.7541 61.4229 16.7541 60.4566 17.7319L59.8891 18.307L59.3216 17.7319C58.3554 16.7541 56.7909 16.7541 55.8247 17.7319C54.8584 18.7097 54.8584 20.2933 55.8247 21.271L58.9727 24.4574C59.4788 24.9712 60.2994 24.9712 60.8055 24.4574L63.9536 21.2749C64.9198 20.2971 64.9198 18.7135 63.9536 17.7357V17.7319Z"
                    fill="#005100"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M58.2097 9.73333C57.2434 8.75556 55.679 8.75556 54.7127 9.73333L54.1452 10.3085L53.5777 9.73333C52.6115 8.75556 51.047 8.75556 50.0808 9.73333C49.1145 10.7111 49.1145 12.2947 50.0808 13.2725L53.2288 16.4588C53.7349 16.9726 54.5555 16.9726 55.0616 16.4588L58.2097 13.2763C59.1759 12.2985 59.1759 10.7149 58.2097 9.73716V9.73333Z"
                    fill="#009C00"></path>
                </svg>
              </div>
              <div class="py-[54px] px-8 bg-secondary-200 rounded-r_20">
                <p class="mb-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  vulputate libero et velit interdum, ac aliquet odio mattis.
                  Class aptent taciti sociosqu ad litora torquent per conubia
                  nostra, per inceptos himenaeos.
                </p>
                <h5 class="mb-2">Kamil Nietypowicz</h5>
                <span class="text-small">Tata Ignasia i Stasia</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <div class="flex justify-center mb-5">
                <svg
                  width="72"
                  height="72"
                  viewBox="0 0 72 72"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M57.2713 67.8192C57.2713 55.7977 47.3039 46.0532 35.0106 46.0532C22.7173 46.0532 12.75 55.7977 12.75 67.8192"
                    fill="#B5F484"></path>
                  <path
                    d="M40.719 28.7865C38.4017 27.9079 36.5881 26.2757 35.4556 24.2727C34.4239 26.0944 32.828 27.6218 30.7726 28.5487C27.1899 30.1648 23.1718 29.5361 20.2782 27.2671V35.5772C20.2782 43.8712 27.0004 50.5935 35.2944 50.5935C43.5884 50.5935 50.3107 43.8712 50.3107 35.5772V27.5049C47.6226 29.4474 44.0438 30.0479 40.7149 28.7865H40.719Z"
                    fill="#CADCCC"></path>
                  <path
                    d="M50.2263 22.3223C50.194 22.02 50.1497 21.7258 50.1013 21.4276C48.8842 14.3507 42.7222 8.96643 35.3027 8.96643C27.8833 8.96643 21.3746 14.657 20.4114 22.0281C20.3993 22.1248 20.3873 22.2255 20.3752 22.3223L20.2825 23.9907V27.2672C23.1721 29.5362 27.1941 30.1608 30.7769 28.5488C32.8323 27.6219 34.4282 26.0985 35.4599 24.2728C36.5924 26.2758 38.4019 27.908 40.7233 28.7866C44.0562 30.048 47.6349 29.4475 50.319 27.505V23.9907L50.2263 22.3223Z"
                    fill="#005100"></path>
                  <path
                    d="M35.4647 46.0532C33.8003 46.0532 32.4393 45.1355 31.7432 44.3587C31.4788 44.0641 31.4827 43.5904 31.7549 43.3001C32.0232 43.0099 32.451 43.0141 32.7154 43.3087C32.8282 43.4324 35.2975 46.0702 38.3423 43.2617C38.63 42.9971 39.0578 43.0398 39.3028 43.3513C39.5439 43.6672 39.5089 44.1367 39.2211 44.4056C37.9068 45.6178 36.6157 46.0532 35.4686 46.0532H35.4647Z"
                    fill="#005100"></path>
                  <path
                    d="M47.3776 19.3404C51.7489 19.3404 55.2925 16.0183 55.2925 11.9202C55.2925 7.82214 51.7489 4.5 47.3776 4.5C43.0063 4.5 39.4627 7.82214 39.4627 11.9202C39.4627 16.0183 43.0063 19.3404 47.3776 19.3404Z"
                    fill="#005100"></path>
                  <path
                    d="M29.0746 36.1596C29.8965 36.1596 30.5586 35.2724 30.5586 34.1808C30.5586 33.0893 29.8965 32.2021 29.0746 32.2021C28.2526 32.2021 27.5905 33.0849 27.5905 34.1808C27.5905 35.2768 28.2559 36.1596 29.0746 36.1596Z"
                    fill="#005100"></path>
                  <path
                    d="M41.9363 36.1596C42.7549 36.1596 43.4203 35.2724 43.4203 34.1808C43.4203 33.0893 42.7549 32.2021 41.9363 32.2021C41.1176 32.2021 40.4522 33.0849 40.4522 34.1808C40.4522 35.2768 41.1143 36.1596 41.9363 36.1596Z"
                    fill="#005100"></path>
                  <path
                    d="M58.5605 57.1889L58.9998 57.7812C59.6566 58.6718 58.9353 59.9081 57.8272 59.7889L57.0897 59.7094C56.5336 59.6497 56.0017 59.9519 55.7801 60.4568L55.4779 61.1286C55.0266 62.1344 53.5799 62.1344 53.1286 61.1286L52.8264 60.4568C52.6007 59.9519 52.0729 59.6497 51.5168 59.7094L50.7794 59.7889C49.6712 59.9081 48.9499 58.6718 49.6067 57.7812L50.046 57.1889C50.3764 56.7436 50.3764 56.1394 50.046 55.6941L49.6067 55.1017C48.9499 54.2112 49.6712 52.9748 50.7794 53.0941L51.5168 53.1736C52.0729 53.2332 52.6048 52.9311 52.8264 52.4262L53.1286 51.7544C53.5799 50.7485 55.0266 50.7485 55.4779 51.7544L55.7801 52.4262C56.0058 52.9311 56.5336 53.2332 57.0897 53.1736L57.8272 53.0941C58.9353 52.9748 59.6566 54.2112 58.9998 55.1017L58.5605 55.6941C58.2301 56.1394 58.2301 56.7476 58.5605 57.1889Z"
                    fill="#009B00"></path>
                  <path
                    d="M37.7747 40.1171H34.2218C33.9995 40.1171 33.7891 40.0068 33.6581 39.8188C33.5271 39.6309 33.4913 39.3939 33.5628 39.1733L34.7021 35.6597C34.8212 35.2839 35.2182 35.0837 35.5794 35.2062C35.9447 35.3329 36.1392 35.7374 36.0201 36.1091L35.1864 38.679H37.7787C38.1638 38.679 38.4734 38.9976 38.4734 39.3939C38.4734 39.7902 38.1638 40.1089 37.7787 40.1089L37.7747 40.1171Z"
                    fill="#005100"></path>
                </svg>
              </div>
              <div class="py-[54px] px-8 bg-secondary-200 rounded-r_20">
                <p class="mb-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  vulputate libero et velit interdum, ac aliquet odio mattis.
                  Class aptent taciti sociosqu ad litora torquent per conubia
                  nostra, per inceptos himenaeos.
                </p>
                <h5 class="mb-2">Kamil Nietypowicz</h5>
                <span class="text-small">Tata Ignasia i Stasia</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <div class="flex justify-center mb-5">
                <svg
                  width="72"
                  height="72"
                  viewBox="0 0 72 72"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M30.3346 25.5829C30.3346 15.5969 38.3919 7.5 48.328 7.5C58.2641 7.5 66.3215 15.6544 66.3215 25.6442C66.3215 35.6341 58.2145 43.9072 48.2097 43.9072H36.1886C32.958 43.9072 30.3384 41.2747 30.3384 38.0252V25.5829H30.3346Z"
                    fill="#B2F181"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M45.4182 31.4266C45.4182 33.1203 46.7853 34.496 48.4731 34.496C50.161 34.496 51.5281 33.1242 51.5281 31.4266"
                    fill="#005100"></path>
                  <path
                    d="M40.9314 25.3338C41.9471 25.3338 42.7719 24.5061 42.7719 23.483C42.7719 22.4598 41.9471 21.6321 40.9314 21.6321C39.9156 21.6321 39.0908 22.4598 39.0908 23.483C39.0908 24.5061 39.9156 25.3338 40.9314 25.3338Z"
                    fill="#005100"></path>
                  <path
                    d="M55.7209 25.3338C56.7367 25.3338 57.5615 24.5061 57.5615 23.483C57.5615 22.4598 56.7367 21.6321 55.7209 21.6321C54.7051 21.6321 53.8803 22.4598 53.8803 23.483C53.8803 24.5061 54.7051 25.3338 55.7209 25.3338Z"
                    fill="#005100"></path>
                  <path
                    d="M48.0149 28.2844C47.4765 28.2844 46.9342 28.1273 46.4569 27.7978C46.1514 27.587 46.0751 27.1693 46.2851 26.8666C46.4951 26.56 46.9113 26.4834 47.213 26.6942C47.8584 27.1387 48.7481 26.9739 49.1911 26.3263C49.634 25.6787 49.4698 24.7859 48.8245 24.3414C48.519 24.1306 48.4426 23.7129 48.6526 23.4102C48.8627 23.1075 49.2789 23.027 49.5806 23.2378C50.8331 24.1038 51.1538 25.8281 50.2908 27.085C49.7562 27.8667 48.8932 28.2844 48.0149 28.2844Z"
                    fill="#005100"></path>
                  <path
                    d="M41.233 46.1718C41.233 36.1858 33.1757 28.0889 23.2396 28.0889C13.3073 28.0889 5.25 36.2471 5.25 46.237C5.25 56.2268 13.357 64.5 23.3618 64.5H35.3829C38.6134 64.5 41.233 61.8674 41.233 58.6179V46.1757V46.1718Z"
                    fill="#009900"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.3336 52.0193C20.3336 53.7131 21.7007 55.0887 23.3885 55.0887C25.0764 55.0887 26.4434 53.7169 26.4434 52.0193"
                    fill="#005100"></path>
                  <path
                    d="M15.8467 45.9266C16.8625 45.9266 17.6873 45.0989 17.6873 44.0757C17.6873 43.0526 16.8625 42.2249 15.8467 42.2249C14.831 42.2249 14.0062 43.0526 14.0062 44.0757C14.0062 45.0989 14.831 45.9266 15.8467 45.9266Z"
                    fill="#005100"></path>
                  <path
                    d="M30.6363 45.9266C31.652 45.9266 32.4769 45.0989 32.4769 44.0757C32.4769 43.0526 31.652 42.2249 30.6363 42.2249C29.6205 42.2249 28.7957 43.0526 28.7957 44.0757C28.7957 45.0989 29.6205 45.9266 30.6363 45.9266Z"
                    fill="#005100"></path>
                  <path
                    d="M25.2177 48.4633H21.8C21.5862 48.4633 21.3838 48.3599 21.2577 48.1836C21.1317 48.0073 21.0974 47.7851 21.1661 47.5782L22.2621 44.2827C22.3766 43.9302 22.7585 43.7424 23.106 43.8574C23.4573 43.9762 23.6444 44.3555 23.5298 44.7042L22.7279 47.1145H25.2215C25.5919 47.1145 25.8898 47.4134 25.8898 47.7851C25.8898 48.1568 25.5919 48.4557 25.2215 48.4557L25.2177 48.4633Z"
                    fill="#005100"></path>
                </svg>
              </div>
              <div class="py-[54px] px-8 bg-secondary-200 rounded-r_20">
                <p class="mb-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                  vulputate libero et velit interdum, ac aliquet odio mattis.
                  Class aptent taciti sociosqu ad litora torquent per conubia
                  nostra, per inceptos himenaeos.
                </p>
                <h5 class="mb-2">Kamil Nietypowicz</h5>
                <span class="text-small">Tata Ignasia i Stasia</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination review-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev review-prev">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 20L4 12L12 4L13.425 5.4L7.825 11H20V13H7.825L13.425 18.6L12 20Z"
              fill="#094F0C"></path>
          </svg>
        </div>
        <div class="swiper-button-next review-next">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 4L20 12L12 20L10.575 18.6L16.175 13L4 13L4 11L16.175 11L10.575 5.4L12 4Z"
              fill="#094F0C"></path>
          </svg>
        </div>
      </div>
      <a href="/" class="btn primary max-w-[431px] !px-0 mt-8"
        >Zapisz swoje dziecko już teraz</a
      >
    </div>
  </div>
</section>
