---
---

<section class="bg-primary-400 rounded-t-r_20 py-[88px]">
  <div class="wrapper">
    <div class="dibber-container">
      <div class="flex flex-col gap-8 md:flex-row md:gap-[94px]">
        <div class="flex gap-4 md:grid justify-items-center md:gap-[21px]">
          <svg
            width="107"
            height="106"
            viewBox="0 0 107 106"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M96.6917 96.4958C108.652 84.5355 109.121 65.452 98.1334 52.9202C109.13 40.3884 108.652 21.3049 96.6917 9.3446C84.7314 -2.61565 65.6478 -3.08485 53.116 7.90288C40.5841 -3.09339 21.5005 -2.61566 9.54027 9.34459C-2.42001 21.3048 -2.88922 40.3884 8.09855 52.9202C-2.89775 65.452 -2.42002 84.5355 9.54026 96.4958C21.5005 108.456 40.5841 108.925 53.116 97.9375C65.6478 108.934 84.7314 108.456 96.6917 96.4958Z"
              fill="#C2F291"></path>
          </svg>
          <svg
            width="104"
            height="103"
            viewBox="0 0 104 103"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M103.421 85.8994L103.421 17.4223C103.421 7.99938 95.7821 0.360595 86.3592 0.360595L17.8818 0.360592C8.45889 0.360592 0.820091 7.99938 0.820091 17.4223L0.820088 85.8994C0.820087 95.3224 8.45889 102.961 17.8818 102.961L86.3591 102.961C95.7821 102.961 103.421 95.3224 103.421 85.8994Z"
              fill="#C2F291"></path>
          </svg>
          <svg
            width="127"
            height="102"
            viewBox="0 0 127 102"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M116.604 9.56163C103.902 -3.14937 83.2995 -3.14937 70.5971 9.5531L63.1241 17.0176L55.6596 9.54457C42.9572 -3.16643 22.3551 -3.16643 9.65269 9.53604C-3.05828 22.2385 -3.05826 42.8406 9.64418 55.543L51.1126 97.0287C57.7411 103.657 68.4815 103.657 75.1099 97.0287L116.595 55.5601C129.306 42.8576 129.306 22.2556 116.604 9.5531V9.56163Z"
              fill="#C2F291"></path>
          </svg>
        </div>
        <div>
          <p class="text-primary-100 text-xl md:text-2xl font-medium mb-[42px]">
            W Dibber dbamy we współpracy z rodzicami, o to by stworzyć solidne
            fundamenty do rozwoju naszych dzieci w najważniejszej fazie ich
            życia - dzieciństwie. Podstawa programowa realizowana przez Dibber
            Education Poland łączy najlepsze elementy programów edukacyjnych z
            krajów skandynawskich z elementami polskiego minimum programowego by
            zapewnić Państwa dzieciom zarówno zgodność z polskimi standardami
            edukacji oraz zagwarantować najlepszą możliwą jakość edukacji.
          </p>
          <p class="text-primary-200 text-xl md:text-2xl">
            Obiecujemy, że zawsze będziemy dążyć do współpracy z Państwem, aby
            stworzyć asmosferę wspólnej nauki, która umozliwi rozwój
            najważniejszegoz zasobów świata - Dzieci!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
