---
---

<section class="pt-[85px] pb-[122px]">
  <div class="wrapper">
    <div class="dibber-container">
      <h2 class="text-left mb-7">Sprawdzona, międzynarodowa edukacja</h2>
      <h3 class="mb-8 max-w-narrow">
        Dibber provides Early Childchood Development services with the aim of
        making
      </h3>
      <div class="flex flex-col items-center md:flex-row gap-4">
        <div
          class="rounded-full w-full md:w-24 h-24 md:h-[318px] bg-secondary-300 px-[26px] md:px-[15px] py-[15px] md:py-[26px] slide-move"
        >
          <button class="thumb relative pulse">
            <svg
              width="66"
              height="66"
              viewBox="0 0 66 66"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="66" height="66" rx="33" fill="#C2F291"></rect>
              <path
                d="M20.6654 29.5204C24.9187 29.5204 28.3666 26.078 28.3666 21.8316C28.3666 17.5852 24.9187 14.1429 20.6654 14.1429C16.4122 14.1429 12.9643 17.5852 12.9643 21.8316C12.9643 26.078 16.4122 29.5204 20.6654 29.5204Z"
                fill="#094F0C"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M41.0324 17.6503C35.4293 17.7437 30.9851 22.4243 30.9851 28.0224V32.1347H26.6954C21.0517 32.1347 16.4733 36.7017 16.4733 42.3404C16.4733 47.975 21.0477 52.546 26.6954 52.546H41.191C46.8428 52.546 51.4253 47.9709 51.4253 42.3282V27.856C51.4253 22.1605 46.7534 17.557 41.0283 17.6544L41.0324 17.6503Z"
                fill="#094F0C"></path>
            </svg>
          </button>
        </div>

        <div class="flex flex-col items-center md:flex-row relative">
          <div class="grid md:grid-cols-3 gap-4 tab-1 relative z-10">
            <img
              src="/assets/edu-1.png"
              class="svg-clover-mask"
              width="318"
              height="318"
            />
            <div
              class="bg-secondary-200 rounded-r_20 p-5 flex flex-col max-w-[318px] min-h-[318px]"
            >
              <h5>Dibber zatrudnia ponad 9000 pracowników na całym swiecie.</h5>
              <svg
                class="ml-auto mt-auto"
                width="80"
                height="80"
                viewBox="0 0 80 80"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="80" height="80" rx="40" fill="#C2F291"></rect>
                <path
                  d="M25.049 35.7822C30.2044 35.7822 34.3837 31.6097 34.3837 26.4626C34.3837 21.3154 30.2044 17.1429 25.049 17.1429C19.8936 17.1429 15.7143 21.3154 15.7143 26.4626C15.7143 31.6097 19.8936 35.7822 25.049 35.7822Z"
                  fill="#094F0C"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M49.7362 21.3943C42.9446 21.5075 37.5577 27.181 37.5577 33.9665V38.9511H32.3581C25.5172 38.9511 19.9677 44.4868 19.9677 51.3216C19.9677 58.1514 25.5123 63.6921 32.3581 63.6921H49.9284C56.7792 63.6921 62.3336 58.1465 62.3336 51.3068V33.7648C62.3336 26.8611 56.6707 21.2811 49.7313 21.3992L49.7362 21.3943Z"
                  fill="#094F0C"></path>
              </svg>
            </div>
            <div
              class="bg-secondary-300 rounded-r_20 p-5 max-w-[318px] min-h-[318px] flex flex-col"
            >
              <p>
                Wierzą oni, że dzięki nordyckim korzeniom i międzynarodowym
                doświadczeniom mogą pozytywnie wpłynąć na poprawę życia Twojego,
                naszego i przede wszystkim naszych dzieci!
              </p>
              <a href="/" class="btn primary px-0 mt-auto">Poznaj nas bliżej</a>
            </div>
          </div>
          <div
            class="grid md:grid-cols-3 gap-4 absolute left-0 right-0 tab-2 opacity-0"
          >
            <img
              src="/assets/edu-1.png"
              class="svg-clover-mask"
              width="318"
              height="318"
            />
            <div
              class="bg-secondary-200 rounded-r_20 p-5 flex flex-col max-w-[318px] min-h-[318px]"
            >
              <h5>Dibber zatrudnia ponad inny text.</h5>
              <svg
                class="ml-auto mt-auto"
                width="80"
                height="80"
                viewBox="0 0 80 80"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="80" height="80" rx="40" fill="#C2F291"></rect>
                <path
                  d="M25.049 35.7822C30.2044 35.7822 34.3837 31.6097 34.3837 26.4626C34.3837 21.3154 30.2044 17.1429 25.049 17.1429C19.8936 17.1429 15.7143 21.3154 15.7143 26.4626C15.7143 31.6097 19.8936 35.7822 25.049 35.7822Z"
                  fill="#094F0C"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M49.7362 21.3943C42.9446 21.5075 37.5577 27.181 37.5577 33.9665V38.9511H32.3581C25.5172 38.9511 19.9677 44.4868 19.9677 51.3216C19.9677 58.1514 25.5123 63.6921 32.3581 63.6921H49.9284C56.7792 63.6921 62.3336 58.1465 62.3336 51.3068V33.7648C62.3336 26.8611 56.6707 21.2811 49.7313 21.3992L49.7362 21.3943Z"
                  fill="#094F0C"></path>
              </svg>
            </div>
            <div
              class="bg-secondary-300 rounded-r_20 p-5 max-w-[318px] min-h-[318px] flex flex-col"
            >
              <p>
                Inny text do wyświetlania i międzynarodowym doświadczeniom mogą
                pozytywnie wpłynąć na poprawę życia Twojego, naszego i przede
                wszystkim naszych dzieci!
              </p>
              <a href="/" class="btn primary px-0 mt-auto">inny text</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
