---
const { top_cover } = Astro.props;
---

<section
  class={`bg-secondary-200 pt-[72px] pb-[120px] -mb-12 rounded-t-r_20 ${
    top_cover ? "-mt-12" : ""
  }`}
>
  <div class="wrapper">
    <div class="max-w-[884px] mx-auto">
      <div class="md:flex mb-7">
        <h2 class="text-left mr-16 leading-[62px]">Zarezerwuj spotkanie</h2>
        <h3 class="text-left">
          Jeśli chcesz wiedzieć więcej o naszych, przedszkolach, zostaw kontakt
          do siebie
        </h3>
      </div>
      <form>
        <div class="select-wrapper">
          <div class="dropdown places">
            <input type="hidden" id="hidden" name="categoryName" value="" />
            <input
              type="text"
              id="input-places"
              placeholder="Placówka"
              class="w-full py-[22px] pr-[31px] pl-[39px] rounded-lg placeholder-primary-400 bg-primary-100 focus:bg-primary-500 focus:outline-none"
            />

            <ul class="options">
              <li class="option" data-value="1">Placówka 1</li>
              <li class="option" data-value="2">Placówka 2</li>
              <li class="option" data-value="3">Placówka 3</li>
              <li class="option" data-value="4">Placówka 4</li>
            </ul>
          </div>
          <div class="circle one"></div>
        </div>
        <div class="md:flex gap-5 mb-7">
          <input
            type="text"
            name="name"
            class="mb-5 md:mb-0 w-full py-[22px] pr-[31px] pl-[39px] rounded-lg border border-primary-400 placeholder-primary-400 bg-primary-100 focus:bg-primary-500 focus:outline-none"
            placeholder="Imię i nazwisko"
          />
          <input
            type="email"
            name="mail"
            class="w-full py-[22px] pr-[31px] pl-[39px] rounded-lg border border-primary-400 placeholder-primary-400 bg-primary-100 focus:bg-primary-500 focus:outline-none"
            placeholder="E-mail"
          />
        </div>
        <button type="submit" class="btn primary">Zarezerwój</button>
      </form>
    </div>
  </div>
</section>
<link rel="stylesheet" href="/select.css" />
