---
---

<section
  class="bg-secondary-200 rounded-t-r_20 -mb-[84px] pb-[169px] pt-[72px]"
>
  <div class="wrapper">
    <div class="max-w-[529px] mx-auto flex flex-col items-center">
      <svg
        width="64"
        height="64"
        viewBox="0 0 64 64"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_307_8064)">
          <rect width="64" height="64" rx="8.64865" fill="#094F0C"></rect>
          <path
            d="M13.7124 28.6509C13.7124 18.9176 21.6 11.0271 31.3303 11.0271C41.0607 11.0271 48.9483 18.9176 48.9483 28.6509"
            fill="#D1DCCF"></path>
          <path
            d="M19.7424 15.2671H43.1763C44.796 15.2671 46.1106 16.5817 46.1106 18.2015V40.0038H16.8081V18.2015C16.8081 16.5817 18.1227 15.2671 19.7424 15.2671Z"
            fill="#EFF4F0"></path>
          <path
            d="M13.7124 27.697C19.9949 27.697 25.086 32.7911 25.086 39.0735C25.086 45.356 19.9949 50.4501 13.7124 50.4501V27.697Z"
            fill="#009B00"></path>
          <path
            d="M48.9486 50.453C42.6661 50.453 37.575 45.3589 37.575 39.0765C37.575 32.794 42.6661 27.7 48.9486 27.7V50.4559V50.453Z"
            fill="#009B00"></path>
          <path
            d="M13.689 50.4531C13.689 40.714 21.5824 32.8176 31.3186 32.8176C41.0549 32.8176 48.9483 40.714 48.9483 50.4531"
            fill="#B4F383"></path>
          <path
            d="M31.8704 22.0309H21.3801C20.893 22.0309 20.4998 21.6377 20.4998 21.1506C20.4998 20.6635 20.893 20.2703 21.3801 20.2703H31.8704C32.3576 20.2703 32.7508 20.6635 32.7508 21.1506C32.7508 21.6377 32.3576 22.0309 31.8704 22.0309Z"
            fill="#005100"></path>
          <path
            d="M38.7926 25.7926H21.3801C20.893 25.7926 20.4998 25.3994 20.4998 24.9123C20.4998 24.4252 20.893 24.032 21.3801 24.032H38.7926C39.2797 24.032 39.6729 24.4252 39.6729 24.9123C39.6729 25.3994 39.2797 25.7926 38.7926 25.7926Z"
            fill="#005100"></path>
        </g>
        <defs>
          <clipPath id="clip0_307_8064">
            <rect width="64" height="64" rx="8.64865" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
      <h2 class="text-2xl md:text-5xl font-bold mt-7 mb-5">
        Zapisz się na newsletter
      </h2>
      <p class="text-center text-xl md:text-2xl">
        Jeśli chcesz wiedzieć więcej o nas, promocjach i wydarzeniach zostaw nam
        kontakt do siebie
      </p>
      <form>
        <input
          type="text"
          name="name"
          class="w-full py-[22px] pr-[31px] pl-[39px] rounded-lg border-2 border-primary-400 placeholder-primary-400 bg-primary-100 focus:bg-primary-500 focus:outline-none mb-5 mt-7"
          placeholder="Imię i nazwisko"
        />
        <input
          type="email"
          name="mail"
          class="w-full py-[22px] pr-[31px] pl-[39px] rounded-lg border-2 border-primary-400 placeholder-primary-400 bg-primary-100 focus:bg-primary-500 focus:outline-none mb-7"
          placeholder="E-mail"
        />
        <button type="submit" class="btn primary">Zapisz się</button>
      </form>
    </div>
  </div>
</section>
