---
---

<div class="relative">
  <svg
    width="125"
    height="126"
    viewBox="0 0 125 126"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="w-full h-full"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M113.57 11.9226C99.55 -2.09737 77.18 -2.64736 62.49 10.2326C47.8 -2.65736 25.43 -2.09737 11.41 11.9226C-2.61 25.9426 -3.15999 48.3126 9.72001 63.0026C-3.16999 77.6926 -2.61 100.063 11.41 114.083C25.43 128.103 47.8 128.653 62.49 115.773C77.18 128.663 99.55 128.103 113.57 114.083C127.59 100.063 128.14 77.6926 115.26 63.0026C128.15 48.3126 127.59 25.9426 113.57 11.9226Z"
      fill="currentColor"></path>
  </svg>
  <svg
    width="144"
    height="129"
    viewBox="0 0 144 129"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="w-full h-full"
  >
    <path
      d="M81.97 8.93262L89.7399 3.24262C101.37 -5.26738 117.57 4.08263 116.01 18.4126L114.97 27.9826C114.19 35.1626 118.15 42.0226 124.76 44.9426L133.57 48.8326C146.76 54.6426 146.76 73.3526 133.57 79.1726L124.76 83.0626C118.15 85.9826 114.19 92.8426 114.97 100.023L116.01 109.593C117.57 123.923 101.37 133.273 89.7399 124.763L81.97 119.073C76.14 114.803 68.2199 114.803 62.3899 119.073L54.6199 124.763C42.9899 133.273 26.79 123.923 28.35 109.593L29.3899 100.023C30.1699 92.8426 26.21 85.9826 19.6 83.0626L10.79 79.1726C-2.40004 73.3626 -2.40004 54.6526 10.79 48.8326L19.6 44.9426C26.21 42.0226 30.1699 35.1626 29.3899 27.9826L28.35 18.4126C26.79 4.08263 42.9899 -5.26738 54.6199 3.24262L62.3899 8.93262C68.2199 13.2026 76.14 13.2026 81.97 8.93262Z"
      fill="currentColor"></path>
  </svg>
  <svg
    width="149"
    height="120"
    viewBox="0 0 149 120"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="w-full h-full"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M137.17 11.4128C122.28 -3.48719 98.13 -3.48719 83.24 11.4028L74.48 20.1528L65.73 11.3928C50.84 -3.5072 26.69 -3.5072 11.8 11.3828C-3.09997 26.2728 -3.09998 50.4228 11.79 65.3128L60.4 113.943C68.17 121.713 80.76 121.713 88.53 113.943L137.16 65.3328C152.06 50.4428 152.06 26.2928 137.17 11.4028V11.4128Z"
      fill="currentColor"></path>
  </svg>
</div>
