---
---

<section class="py-32">
  <div class="wrapper">
    <div
      class="flex flex-wrap md:flex-nowrap items-center gap-8 justify-center mb-[55px]"
    >
      <svg
        width="88"
        height="88"
        viewBox="0 0 88 88"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="88" height="88" rx="44" fill="#094F0C"></rect>
        <path
          d="M27.5539 39.3602C33.2249 39.3602 37.8221 34.7704 37.8221 29.1086C37.8221 23.4468 33.2249 18.8569 27.5539 18.8569C21.8829 18.8569 17.2857 23.4468 17.2857 29.1086C17.2857 34.7704 21.8829 39.3602 27.5539 39.3602Z"
          fill="#C2F291"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M54.7098 23.5337C47.2391 23.6582 41.3135 29.899 41.3135 37.3631V42.8462H35.5939C28.0689 42.8462 21.9644 48.9355 21.9644 56.4537C21.9644 63.9665 28.0635 70.0612 35.5939 70.0612H54.9213C62.4571 70.0612 68.567 63.9611 68.567 56.4375V37.1412C68.567 29.5472 62.3378 23.4092 54.7044 23.5391L54.7098 23.5337Z"
          fill="#C2F291"></path>
      </svg>
      <h2 class="text-2xl md:text-5xl font-bold">Social media</h2>
      <div class="grid grid-cols-2 gap-y-2 gap-x-4">
        <p class="text-xl md:text-2xl col-span-2 leading-6 h-7">
          #przedszkola_dibber
        </p>
        <div class="flex items-center gap-[18px] h-7">
          <svg
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_126_3862"
              style="mask-type:alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="24"
              height="25"
            >
              <rect y="0.5" width="24" height="24" fill="#D9D9D9"></rect>
            </mask>
            <g mask="url(#mask0_126_3862)">
              <path
                d="M9 14.75C8.65 14.75 8.35433 14.629 8.113 14.387C7.871 14.1457 7.75 13.85 7.75 13.5C7.75 13.15 7.871 12.8543 8.113 12.613C8.35433 12.371 8.65 12.25 9 12.25C9.35 12.25 9.64567 12.371 9.887 12.613C10.129 12.8543 10.25 13.15 10.25 13.5C10.25 13.85 10.129 14.1457 9.887 14.387C9.64567 14.629 9.35 14.75 9 14.75ZM15 14.75C14.65 14.75 14.3543 14.629 14.113 14.387C13.871 14.1457 13.75 13.85 13.75 13.5C13.75 13.15 13.871 12.8543 14.113 12.613C14.3543 12.371 14.65 12.25 15 12.25C15.35 12.25 15.6457 12.371 15.887 12.613C16.129 12.8543 16.25 13.15 16.25 13.5C16.25 13.85 16.129 14.1457 15.887 14.387C15.6457 14.629 15.35 14.75 15 14.75ZM12 20.5C14.2333 20.5 16.125 19.725 17.675 18.175C19.225 16.625 20 14.7333 20 12.5C20 12.1 19.975 11.7123 19.925 11.337C19.875 10.9623 19.7833 10.6 19.65 10.25C19.3 10.3333 18.95 10.396 18.6 10.438C18.25 10.4793 17.8833 10.5 17.5 10.5C15.9833 10.5 14.55 10.175 13.2 9.525C11.85 8.875 10.7 7.96667 9.75 6.8C9.21667 8.1 8.45433 9.22933 7.463 10.188C6.471 11.146 5.31667 11.8667 4 12.35V12.5C4 14.7333 4.775 16.625 6.325 18.175C7.875 19.725 9.76667 20.5 12 20.5ZM12 22.5C10.6167 22.5 9.31667 22.2373 8.1 21.712C6.88333 21.1873 5.825 20.475 4.925 19.575C4.025 18.675 3.31267 17.6167 2.788 16.4C2.26267 15.1833 2 13.8833 2 12.5C2 11.1167 2.26267 9.81667 2.788 8.6C3.31267 7.38333 4.025 6.325 4.925 5.425C5.825 4.525 6.88333 3.81233 8.1 3.287C9.31667 2.76233 10.6167 2.5 12 2.5C13.3833 2.5 14.6833 2.76233 15.9 3.287C17.1167 3.81233 18.175 4.525 19.075 5.425C19.975 6.325 20.6873 7.38333 21.212 8.6C21.7373 9.81667 22 11.1167 22 12.5C22 13.8833 21.7373 15.1833 21.212 16.4C20.6873 17.6167 19.975 18.675 19.075 19.575C18.175 20.475 17.1167 21.1873 15.9 21.712C14.6833 22.2373 13.3833 22.5 12 22.5ZM10.65 4.625C11.35 5.79167 12.3 6.72933 13.5 7.438C14.7 8.146 16.0333 8.5 17.5 8.5C17.7333 8.5 17.9583 8.48767 18.175 8.463C18.3917 8.43767 18.6167 8.40833 18.85 8.375C18.15 7.20833 17.2 6.27067 16 5.562C14.8 4.854 13.4667 4.5 12 4.5C11.7667 4.5 11.5417 4.51233 11.325 4.537C11.1083 4.56233 10.8833 4.59167 10.65 4.625ZM4.425 9.975C5.275 9.49167 6.01667 8.86667 6.65 8.1C7.28333 7.33333 7.75833 6.475 8.075 5.525C7.225 6.00833 6.48333 6.63333 5.85 7.4C5.21667 8.16667 4.74167 9.025 4.425 9.975Z"
                fill="#094F0C"></path>
            </g>
          </svg>
          <span class="text-xl nd:text-2xl">80780</span>
        </div>
        <div class="flex items-center gap-[18px] h-7">
          <svg
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_126_3867"
              style="mask-type:alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="24"
              height="25"
            >
              <rect y="0.5" width="24" height="24" fill="#D9D9D9"></rect>
            </mask>
            <g mask="url(#mask0_126_3867)">
              <path
                d="M5 21.5C4.45 21.5 3.979 21.3043 3.587 20.913C3.19567 20.521 3 20.05 3 19.5V5.5C3 4.95 3.19567 4.479 3.587 4.087C3.979 3.69567 4.45 3.5 5 3.5H14V5.5H5V19.5H19V10.5H21V19.5C21 20.05 20.8043 20.521 20.413 20.913C20.021 21.3043 19.55 21.5 19 21.5H5ZM17 9.5V7.5H15V5.5H17V3.5H19V5.5H21V7.5H19V9.5H17ZM6 17.5H18L14.25 12.5L11.25 16.5L9 13.5L6 17.5Z"
                fill="#094F0C"></path>
            </g>
          </svg>
          <span class="text-xl nd:text-2xl">1890</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4 [&>a>img]:rounded-r_20">
      <a href="">
        <img src="/assets/zapisy1-2.png" width="313" height="313" />
      </a>
      <a href="">
        <img src="/assets/open-day.png" width="313" height="313" />
      </a>
      <a href="">
        <img src="/assets/social-kid.png" width="313" height="313" />
      </a>
      <a href="">
        <img src="/assets/zapisy1-2.png" width="313" height="313" />
      </a>
    </div>
  </div>
</section>
