---
---

<section class="pt-[88px] pb-[157px]">
  <div class="wrapper">
    <div class="dibber-container">
      <h2 class="mb-4">Dlaczego Dibber</h2>
      <h3 class="text-center mb-12">
        Prowadzimy ponad 520 wysokiej jakości placówek żłobkowych,
        przedszkolnych i szkół w 8 krajach.
      </h3>
      <div>
        <div class="tab-nav">
          <ul
            class="flex flex-col md:flex-row justify-between bg-secondary-200 rounded-lg"
          >
            <li>
              <button class="p-[21px] w-full md:max-w-max active"
                >Międzynarodowe przedszkole</button
              >
            </li>
            <li>
              <button class="p-[21px] w-full md:max-w-max"
                >Skandynawski program nauczania</button
              >
            </li>
            <li>
              <button class="p-[21px] w-full md:max-w-max"
                >Podejście wielojęzykowe</button
              >
            </li>
          </ul>
        </div>
        <div class="tab-body">
          <div class="tab-item active">
            <div class="pt-[60px] grid md:flex gap-[60px] active">
              <div class="text-left">
                <h3 class="text-primary-300 mb-4">
                  Międzynarodowe przedszkole 1
                </h3>
                <p
                  class="text-xl md:text=2xl font-medium mb-8 w-[24ch] md:w-[34ch]"
                >
                  Doświadczenia z działalności prowadzonej w ponad 9 krajach
                  pozwoliły nam wypracować najlepszy w swojej klasie program
                  pedagogiczny i metodykę pracy z dziećmi.
                </p>
                <a class="btn primary !p-5 max-w-max !ml-0"
                  >Dowiedz się więcej</a
                >
              </div>
              <div
                class="flex-wrap justify-center md:flex-nowrap flex items-end ml-auto"
              >
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-r_20 w-[150px] h-[150px]"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >10</span
                  >
                  <span class="text-base leading-4">krajów</span>
                </div>
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-full w-[181px] h-[181px]"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >20</span
                  >
                  <span class="text-base leading-4">lat doświadczenia</span>
                </div>
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-r_20 w-[211px] h-[211px] p-3"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >40.000</span
                  >
                  <span class="text-base leading-4 text-center"
                    >dzieci w 550 przedszkolach i szkołach</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="tab-item">
            <div class="pt-[60px] grid md:flex gap-[60px]">
              <div class="text-left">
                <h3 class="text-primary-300 mb-4">
                  Międzynarodowe przedszkole 2
                </h3>
                <p
                  class="text-xl md:text=2xl font-medium mb-8 w-[24ch] md:w-[34ch]"
                >
                  Doświadczenia z działalności prowadzonej w ponad 9 krajach
                  pozwoliły nam wypracować najlepszy w swojej klasie program
                  pedagogiczny i metodykę pracy z dziećmi.
                </p>
                <a class="btn primary !p-5 max-w-max !ml-0"
                  >Dowiedz się więcej</a
                >
              </div>
              <div
                class="flex-wrap justify-center md:flex-nowrap flex items-end ml-auto"
              >
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-r_20 w-[150px] h-[150px]"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >10</span
                  >
                  <span class="text-base leading-4">krajów</span>
                </div>
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-full w-[181px] h-[181px]"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >20</span
                  >
                  <span class="text-base leading-4">lat doświadczenia</span>
                </div>
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-r_20 w-[211px] h-[211px] p-3"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >40.000</span
                  >
                  <span class="text-base leading-4 text-center"
                    >dzieci w 550 przedszkolach i szkołach</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="tab-item">
            <div class="pt-[60px] grid md:flex gap-[60px]">
              <div class="text-left">
                <h3 class="text-primary-300 mb-4">
                  Międzynarodowe przedszkole 3
                </h3>
                <p
                  class="text-xl md:text=2xl font-medium mb-8 w-[24ch] md:w-[34ch]"
                >
                  Doświadczenia z działalności prowadzonej w ponad 9 krajach
                  pozwoliły nam wypracować najlepszy w swojej klasie program
                  pedagogiczny i metodykę pracy z dziećmi.
                </p>
                <a class="btn primary !p-5 max-w-max !ml-0"
                  >Dowiedz się więcej</a
                >
              </div>
              <div
                class="flex-wrap justify-center md:flex-nowrap flex items-end ml-auto"
              >
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-r_20 w-[150px] h-[150px]"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >10</span
                  >
                  <span class="text-base leading-4">krajów</span>
                </div>
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-full w-[181px] h-[181px]"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >20</span
                  >
                  <span class="text-base leading-4">lat doświadczenia</span>
                </div>
                <div
                  class="flex flex-col justify-center items-center bg-primary-200 rounded-r_20 w-[211px] h-[211px] p-3"
                >
                  <span class="text-[54px] leading-[54px] font-bold mb-2"
                    >40.000</span
                  >
                  <span class="text-base leading-4 text-center"
                    >dzieci w 550 przedszkolach i szkołach</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
